[2018-01-17 18:33] 1sourcecontrol commented on #249
Okay, thanks!

I think you are getting what I'm saying. My focus is primarily on the overlap introduced when a primary stat equals 1 and secondarily, the general strength of the min' penalties.

[2018-01-17 18:51] 1sourcecontrol commented on #265
Haha! That gave me a good laugh.
Yeah, I'm hoping it won't need more than a slight tweaking.

But it sounds like the feat needs some clarification to its writing since I didn't intend for it to be interpreted as adding to your movement-per-two-actions. But as bonus movement to a single action.

_Side track - it would be really nice if we could get rid of more ambiguity and just make movement defin

[2018-01-17 18:53] 1sourcecontrol commented on #243
Fair enough. I am beginning to see more value in testing -- as my thoughts waffle all over the place with no well-tested ground to base my reasoning on. I can only guess where the problems are.

Assuming I know what you're hung up on,
I'll try to boil down redesign 3 a little. The bottom line is, redesign 3 keeps C2.0 as it is but removes armor rolls and allows guns to (_almost_) always do some da

[2018-01-17 18:55] 1sourcecontrol commented on #269
Ahh, okay.

Sounds like a good start to me! (or hopefully a good ending solution)

[2018-01-17 21:06] bleehu commented on #243
https://www.bing.com/images/search?view=detailV2&ccid=jd91B8gW&id=6961731301F511606F3D095798F1F4FEBBDFB127&thid=OIP.jd91B8gWYFiPIKMR5M0OQQHaGC&mediaurl=http%3a%2f%2ffc09.deviantart.net%2ffs17%2fi%2f2007%2f194%2fd%2f8%2fACDC_BACK_IN_BLACK_by_JackDrown.jpg&exph=489&expw=600&q=back+in+black&simid=607996418588544346&selectedIndex=9

[2018-01-17 21:11] bleehu commented on #265
I think a little more clarity polish is in order, but I don't want to go overboard on trying to make a change for every time someone doesn't understand things the first time they are skimmed. In my view, we got the correct reading of the rule after a couple of close readings. So it would be ok to leave it as is. It wouldn't be great, and we strive for great, but it would be ok.

[2018-01-17 21:14] bleehu commented on #243
Welcome back! We missed you!

redesign 3 sounds really interesting to me. Can you make a PR with the specifics?

[2018-01-17 21:18] bleehu commented on #249
I propose we un-overlap the penalties and keep the penalty for min-maxing aggressively fairly high.

What say ye, men?

[2018-01-17 21:22] bleehu opened #302 "Touch up game loop style"
The game loop list is a little out of style. The parser on cxdocs is tripping over it.

https://github.com/bleehu/Compound_X/blob/dev/01_01_Basic_Rules.txt#L88

[2018-01-17 21:24] bleehu opened #303 "clean out git garbage in basic rules"
https://github.com/bleehu/Compound_X/blob/dev/01_01_Basic_Rules.txt#L179

[2018-01-22 18:10] #278 closed, assigned to bleehu

[2018-01-22 18:31] #302 closed, assigned to bleehu

[2018-01-22 18:59] 1sourcecontrol commented on #249
Sounds fair.

However, I'm still quite opposed to Charisma's, "In combat, vocal communication to anything costs 1 Action."

[2018-01-22 19:00] 1sourcecontrol commented on #243
Thank you!

I can definitely put something up, when I can.

[2018-01-22 19:03] 1sourcecontrol commented on #273
Oh! I see. That makes sense

[2018-01-22 20:40] bleehu commented on #249
Ya, I'm not a huge fan of that particular implementation either. I like what it was trying to do, but I think it can be done better.
I kinda like the house rule that has been used before where a character with low charisma needs to make a charisma check to make themselves understood, but I don't think that's enough of a penalty on its own.

[2018-01-22 20:48] Turtlelord26 commented on #249
Add disadvantage on all opposed checks where the opponent is using Cha to capture the lack of force of personality? Auto-fail is also an option if you want more harshness.

[2018-01-22 22:10] bleehu commented on #254
Added some in #301 but want to make sure we know if we're keeping Shield Strength/Armor Strength for sure before adding them.

[2018-01-29 18:50] 1sourcecontrol opened #312 "Rolling the Average"
Looking for clarification and a little textual improvement.

(I can't"@" Rev, @bleehu halp what is happening?) Reveraine, when you wrote "2d10" under the "Rolling the Average" did you mean to take the average of 2d100 rolls? Or was it for 2d10 combat rolls?
Also, did you mean for "Rolling the Average" to automatically prevent critical fails/successes?
Or did you just mean that rolling an average v

[2018-01-30 16:57] 1sourcecontrol commented on #249
@bleehu, isn't that charisma penalty already in the rules? " Under normal circumstances, you have to succeed a DC 30 CHA skill check in order to communicate with a non-player character (NPC)."
We could change it to include any player, not just NPCs. That would be pretty harsh.

Couple the charisma check with serious CHA related penalties, and that player will need their hand held through dialog --

[2018-01-31 00:37] bleehu commented on #312
I'm not sure what's going on there. I Can @Reveraine just fine? I believe the intention was to take the average of two rolls of 2d10, where the 2d10 are used in lieu of 1d100.

[2018-02-01 03:29] Reveraine commented on #312
That was my original intention, yes. However, as mechanic's lead, feel free to change the wording/actuality of the definition to fit/balance the game.

[2018-02-01 20:55] bleehu commented on #312
@1sourcecontrol can we assign this to you to reword and make a PR?

[2018-02-01 20:59] bleehu commented on #249
Since there is still trepidation about how to handle each penalty, I recommend that we make a pull request per penalty, so that hangups over charisma don't prevent the progress of fixing strength.

[2018-02-01 23:21] #303 closed, assigned to nobody

[2018-02-02 07:06] 1sourcecontrol commented on #312
Huh, now I can '@'. Idk what that was about.

Thanks Rev/Bleehu.

@bleehu , sure, I'll take it.

[2018-02-02 14:58] 1sourcecontrol commented on #232
Assigning myself to review the new skills doc

[2018-02-04 19:48] bleehu opened #315 "Doctor Proceedure Request: Tune Armor"
A request brought up in episode 2 season 2 of the pirate sandbox.

[2018-02-05 16:28] 1sourcecontrol commented on #315
My question is obvious but...  What about the aesthetics for a medic 'tuning armor'?

[2018-02-05 17:48] Turtlelord26 commented on #315
At the time our logic went along the lines of "It's basically preventative care"

Since then, I've theorized that we could add flavor about the medic using their knowledge of weak spots to specifically target the armor over them. (Robots are pretty common sense, there's a power plant and lots of joints.)

[2018-02-05 22:51] #234 closed, assigned to bleehu, Wildlovelies

[2018-02-06 05:26] 1sourcecontrol commented on #315
Preventive care... of a body armor vest? That seems to defy logic since the doctor is.. well.. a doctor, not a material scientist, M.E., or a trained soldier.

I guess I see where ya'll are coming from tho. It could pass under Suspension of Disbelief

[2018-02-06 05:41] 1sourcecontrol opened #316 "Renaming "silenced" to be aesthetically compliant"
https://github.com/bleehu/Compound_X/blob/973ff5fc803ba781bbc6c0171580a829b991bdc5/CharacterCreation/Class-Specific%20Documentation/Doctor%20Procedures.txt#L328

https://github.com/bleehu/Compound_X/blob/973ff5fc803ba781bbc6c0171580a829b991bdc5/CharacterCreation/Class-Specific%20Documentation/Doctor%20Procedures.txt#L330

While the term is common in fantasy games, I think it doesn't fit our lore.

[2018-02-06 05:41] 1sourcecontrol commented on #316
I think we should add a status affect if anyone thinks this might be used in other abilities. I could certainly see this getting used as a status effect on special bullets.

[2018-02-06 05:43] 1sourcecontrol commented on #265
@bleehu  @Turtlelord26  any feedback from the latest play session?

[2018-02-06 05:59] Turtlelord26 commented on #315
Preventative care ^of the thing inside the body armor^ by making it (the armor) work better.
Fixed.

[2018-02-06 06:00] Turtlelord26 commented on #265
None as the feat was not used, nor was mobility (on the ground) relevant to that fight.

[2018-02-06 06:11] Turtlelord26 commented on #316
This is probably blocked by the resource discussion, as it will be hard to name our silence effect without a solid foundation for what it's silencing.
(if someone disagrees and has progress to submit feel free to nix the blocked tag)

[2018-02-06 07:12] 1sourcecontrol commented on #315
Ah. That makes more sense. But my point is, a doctor having substantial knowledge of body armor seems like a stretch

[2018-02-06 08:26] 1sourcecontrol commented on #130
Wat! I've never heard of a Vorpel. It's more famous than I had thought.

Can you add a comment for what the Gluon and shredder round stats are? We could add them to the attachments doc (after a C2.0 balance check)

[2018-02-06 09:14] Turtlelord26 commented on #130
Slightly more reputable source material for Vorpal, which is an adjective, not a noun.
http://www.dictionary.com/browse/vorpal?s=t

Obligatory aesthetic advisory.

[2018-02-06 09:52] 1sourcecontrol commented on #298
Flavor text will be easier for me to review than mechanics since I don't have much to do with it. So as reviews go, I think it won't be too bad.
Not like the Dev -> RC -> Play pull requests. Those are pretty gargantuan. *hint hint* *can we make versions more often so I don't have to review as much at one time? @bleehu*

[2018-02-06 09:55] 1sourcecontrol commented on #295
I think I'd prefer to have it all in one doc, so I don't have to bounce around to different files.

[2018-02-06 11:09] 1sourcecontrol commented on #316
I looked all over the place - I thought we had an issue for the resource discussion- I'll go ahead and make one so we can track progress on github

[2018-02-06 11:38] 1sourcecontrol opened #317 "Resource Discussion"
*I'd like to have some or all of the resource discussion on here, to track progress. (I couldn't find another issue that actually talks about this, maybe we just did it in person?)*

Correct me if I'm wrong, I believe we had arrived at *(I added some points for thought)*:
1. Nanites still being the overarching generic resource for CX.
2. Nanites would be buyable as purpose built packs.  Standard N

[2018-02-06 11:39] 1sourcecontrol commented on #316
#317

[2018-02-06 13:08] 1sourcecontrol commented on #223
It's been 3 months since I've last heard of any *significant* progress on this topic. Do we need to have an internet meeting to make more progress? @bleehu

[2018-02-06 20:21] bleehu commented on #130
==================================================
//	Ammo
==================================================

	Baffled Ammo
--------------------------------------------------
Reduces noise of bullet travel to zero and reduces noise of impact to a whisper.
Zero RP cost, but bullets are made of an organic material that decays after two
missions.

+ stealth rolls to hide silent weapons fire automati

[2018-02-06 20:22] bleehu commented on #298
I'll start doing them every sprint.

[2018-02-06 20:25] bleehu commented on #317
👍 on all points.
If an armband or something is what we're going with, we should put a note that every class starts with that equipment and that it can be taken away.

[2018-02-06 20:29] bleehu commented on #315
It is most definitely a stretch. Gotta be honest, not sure how I'mma pull this one off yet.

[2018-02-06 20:30] bleehu commented on #223
I take it this means you don't want to wait until you're back in state to have the meeting in person?

[2018-02-06 21:39] Turtlelord26 commented on #315
Context for the feature request: Neatly solves the problem of medics having zero nanite generation capability in a party of mechanicals, similarly to how the Engineer's Tune Weapon gives them at least one thing that they can do in a party of ~organics~ meatbags.

So here's some possible flavor:
Armor in CX is future Space!(TM) armor and therefore probably both smart and reactive. Off-the-shelf arm

[2018-02-06 22:02] Turtlelord26 commented on #223
I really want there to be a whiteboard for this discussion.

[2018-02-06 22:03] Turtlelord26 commented on #317
I also want a whiteboard for this discussion.

[2018-02-07 06:56] #312 closed, assigned to 1sourcecontrol

[2018-02-07 06:58] #276 closed, assigned to 1sourcecontrol

[2018-02-07 07:11] 1sourcecontrol commented on #315
Although if the doctor is interfacing with smart-armor, I'd argue that makes sense for the engineer to do as well (that is, If I wanted to be argumentative, heh).

This may diverge a bit:
Why isn't the doctor actually taking care of all races needs? If in fact the robots are considered a sentient race, If I was a doctor, I'd want to take care of all peoples. It'd almost make sense for a doctor to

[2018-02-07 07:19] 1sourcecontrol commented on #298
Sounds good! If that is more of a burdensome task than you want to deal with, feel free to go every other sprint or whatever makes sense.

[2018-02-07 07:23] 1sourcecontrol commented on #317
I like the visual of an armband ... sleek, streamlined, non-obtrusive..
But I haven't the foggiest idea of how a human (or w/e race) will control the Nanites in our current setup.
Would the armband be sensing nerve impulses, to be controlled? That can be done in the real world on the surface of the arm, I believe.

*edit* and if the Nanites are regenerated by using resources on a person's body, th

[2018-02-07 08:35] Wildlovelies commented on #315
My idea, and feel free to shut this down as need be. But I think both classes should be able to heal, doctors, especially in a military setting where cyborgs and robots are common on a battlefield would most likely be cross trained to do some repairs I would assume. And as far as the engineer being able to heal meat bags, think of the healing grenade from overwatch. I say the engineer has speciall

[2018-02-07 08:36] Wildlovelies commented on #315
If you want to separate the two a little atleast you could make it so engineers healing meat bags use half repair skill or medicine, what ever is higher, opposite for doctors

[2018-02-07 08:42] Turtlelord26 commented on #315
This needs to be investigated further. Deserves a line item in the class redesign meeting.

Maybe lovelies' proposals are subclasses of Engineer and Medic that cross a little into each others' domain, letting parties that need them have them, and letting characters for whom the cross would not make RP sense avoid it.

[2018-02-07 14:18] 1sourcecontrol commented on #223
@bleehu absolutely.

#315
Quoting @Turtlelord26 :

In specific regard to repairing robots and healing organics.

[2018-02-07 14:23] 1sourcecontrol commented on #130
What's an RP? Is this a quote from another game, modified to fit CX? Curious of the origins.

[2018-02-07 16:26] Wildlovelies commented on #315
note for @bleehu  medic ability, pre-emptive defib

[2018-02-07 21:44] bleehu commented on #276
@Reveraine, does the fix that 1Source wrote make things more clear for you?

[2018-02-07 23:23] bleehu commented on #130
I think it's a typo for EP

[2018-02-07 23:26] bleehu commented on #217
@Turtlelord26 if this is fixed to your satisfaction, please close it out. If there's more to do, please let us know what that is.

[2018-02-08 00:15] #217 closed, assigned to Turtlelord26

[2018-02-08 18:11] bleehu opened #322 "Polish Regression Override Engineering Process"
firing an extra bullet is a little out of aesthetic. I need to adjust it.

[2018-02-08 18:27] bleehu opened #323 "Need to add to Engineer Proceess: Tune Plasma Weapon"
We have tune gun and tune laser. We should have tune plasma.

[2018-02-08 20:02] bleehu opened #324 "Engineer IED needs defuse DC"

[2018-02-08 20:50] Turtlelord26 commented on #323
Why are they different abilities in the first place?

Sure the different types of weapon operate differently, but in practice it's all doing the same thing as far as the vast majority of players are concerned. This to me would be an acceptable gamification.

[2018-02-08 22:05] bleehu commented on #323
Knowing the details of how 1Source varied plasma, balistic and laser weapons lets us leverage the differences to create mechanically unique bonuses to each. That way we can offer differences in kind and further strategic depth.
In practice, adding more accuracy to a balistic gun and adding more plasma tokens dealt on hit are fundamentally different.

[2018-02-09 07:02] Turtlelord26 commented on #323
I like the possibility for difference in kind, but I would like us to consider (if we haven't already) making it one ability with an if-else tree for each of the types of weapon. I suspect it would feel bad as the Engineer to have to allocate three ability slots to be able to buff all of the party's weapons.

[2018-02-14 15:06] 1sourcecontrol commented on #323
I tried to list a few main concepts here, for ability design (to be through):
1. Leveraging the difference in kind of the weapon types
2. Difference in magnitude
3. Changing the mechanics of said weapon type
4. Doorway to entry/various tree designs for other engineer abilities

My worst case scenario for this kind of ability design, is for the 3 abilities to be sequential requirements (bullets ->

[2018-02-14 17:11] Turtlelord26 commented on #323
Obligatory complexity creep warning.

I've been thinking of this as a workhorse ability. If that's correct, then making it too splashy could detract from other abilities that should be splashy. Something has to set the floor by which all the mortars and suicide drones are judged by, and if it isn't a more generic ability of the same class its going to end up being the Soldier. And then Soldiers wo

[2018-02-15 12:59] 1sourcecontrol commented on #323
@Turtlelord26 I don't understand what you mean, can you please elaborate?

I don't see a downside to always doing something 'splashy' or cool. Designing for all your abilities to be unique seems like a good goal. Especially if the alternative is trudging through a tree because you have to, in order to get what you want.
Specifically, in the case that you brought up:

If ya'll think it's best to no

[2018-02-16 05:20] bleehu opened #331 "Clarify grammar in Engineering Processes"
Clarify this line:
https://github.com/bleehu/Compound_X/blob/play/CharacterCreation/Class-Specific%20Documentation/Engineer%20Processes.txt#L165

and update melee description with lots of extra words.

[2018-02-16 17:17] Turtlelord26 commented on #323
Shortish version
There are several aspects at work here, but some of them are
1. There's a limit to how shiny we can make our most basic class. That's hard-coded into reality, especially if we want to be accessible.
2. The more 'unique', 'splashy' effects we have going on, the more complicated the game state becomes. We don't want to make players (or the DM) have to strain too much to keep track o

[2018-02-16 17:55] #316 closed, assigned to bleehu

[2018-02-16 18:51] bleehu commented on #273
Since we have solid approval from RoseB, 1Source, Turtle and I, I'm greenlighting this.

[2018-02-17 02:16] Reveraine opened #335 "Gripes - Minor Stim"
Minor Stim needs a needle cost

[2018-02-17 02:17] Reveraine opened #336 "Gripes - Melee"
There is no Melee weapon skill tree.

[2018-02-17 02:18] Reveraine opened #337 "Gripes - Nanite functions"
There is no specificity to Nanites currently.
(I think this will get pooled in with the resource discussion.

[2018-02-17 02:18] Reveraine opened #338 "Gripes - Burst Fire"
Burst Fire weapons need their specific fire rate written down.

[2018-02-17 02:19] Reveraine opened #339 "Gripes - Fly Movement"
Fly movement needs specificity
(This will probably change when the technician classes go live)

[2018-02-17 02:20] Reveraine opened #340 "Gripes - Acrobatics documentation"
There is a lack of specific acrobatics documentation.

[2018-02-17 02:30] Reveraine opened #341 "Move to change "Race" to "Species""
After some discussion, even though we are accustomed, through other RPG's, to calling the different species 'races', some discussion was brought up wondering if it would make more sense to call them species and sub-species, and leave 'race' as we think of it up for interpretation from the players.

[2018-02-17 02:31] Turtlelord26 commented on #341
Yes.

[2018-02-17 02:31] Turtlelord26 commented on #341
I've seen other space RPG systems that use the species designation and it didn't seem out of place at all in any of them.

[2018-02-17 03:21] bleehu commented on #341
I agree. Species makes more sense to me.

[2018-02-17 05:21] 1sourcecontrol commented on #338
Is #321 sufficient?

[2018-02-17 05:24] 1sourcecontrol commented on #340
@bleehu @Turtlelord26
Would it make sense for us to define it in the skills doc?
Seems to me we wouldn't need much more than 2 paragraphs worth of words?

[2018-02-17 05:46] 1sourcecontrol commented on #341
Are we being different for the sake of being right? Or being different for the sake of being different? Or being r........
I have a hard time landing in either camp -I can find almost the exact same definition for both- when flipping back and forth between the words on merriam-webster.   ¯\_(ツ)_/¯

[2018-02-17 06:10] 1sourcecontrol opened #343 "Race Rework; Plan of Action"
From our past dev meetings, I think we talked about/agreed upon how the technical design would go. But either I remember it differently than it's currently being implemented or I forgot the specifics. This issue was made to define the specifics.
From what I remember, the race (now, soon to be called 'species'?) rework was going to consist of 3 things:

1. Races
i. Picking a race would come with ce

[2018-02-17 06:11] 1sourcecontrol commented on #335
imbibe the stim :D

[2018-02-17 06:29] Turtlelord26 commented on #341
Warning: possibly unnecessarily long and slightly technical explanation ahead. This is why I tried to get away with a one word response earlier.

In the world of biology and anthropology, species has a technical definition of approximately "a group of organisms that produce viable, fertile offspring within the group". It gets muddy sometimes, ex the famous case of an east coast frog species, but m

[2018-02-17 20:40] bleehu commented on #338
Technically, yes. You can close this.
But I had to read it a couple of times before I understood the semantics of it. It would be a lot more intuitive/clear if burst rate was listed next to auto rate.

[2018-02-18 21:28] Reveraine commented on #343
That is close to what is happening, yes.
With the exception that subraces in general have access to trait pools not available to every sub-species. There is also a general species trait pool that everyone in the species can access.

[2018-02-20 00:47] Turtlelord26 opened #344 "Skill point limiting by level"
Currently it is possible for a level 3 character with 10+ int/cha to have one maxed out skill. This has unfortunate implications for dungeon design and is dubiously realistic. Propose a limit on skill points per level in addition to the global cap. For example, if we wanted to say that a character can max out skills at level 10, then the point cap would be 6 per level, up to 60.

[2018-02-20 00:52] Turtlelord26 opened #345 "Feature Proposal: Attachment Kits"
For any players who don't necessarily like combing through lists of attachments to optimize their gear, propose the creation of "attachment kits", a gear bundle that includes various attachments and lists their effects all in one place. Costs the same as the individual components summed. Could come in several varieties based on weapon category (smg, sniper rifle, etc) and for some categories inten

[2018-02-20 06:24] 1sourcecontrol commented on #338
If it needs to be reworded, let's reword it.

If burst rate was listed next to auto rate, in the weapons document? We could add a line at the top of the relevant weapon docs, similar to suppression. E.g., "Burst fire rate is 3 shots per action unless otherwise noted" Auto fire rates could also be listed. Up to this point, all burst fire rates are 3 shots, I believe. And the majority of auto fire r

[2018-02-20 06:44] 1sourcecontrol commented on #338
Actually, I took a look at the weapons documents and the weapons **_already have_** burst fire rates listed. Do we know who this gripe originated from? Because it looks like they didn't read the document correctly, or something else is going on. If readability with a semi-colon is the problem, we can separate out some of the lines. But If they didn't read their weapon specs, there's nothing I can

[2018-02-20 07:27] Turtlelord26 commented on #338
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/04_04_Carbines_AssaultRifles_%26_BattleRifles.txt#L39

https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/04_04_Carbines_AssaultRifles_%26_BattleRifles.txt#L52

Counterexample, 2 burstfire carbines without a burst fire rate stat.

[2018-02-20 14:04] 1sourcecontrol commented on #343
Ok, cool! Thanks

[2018-02-20 14:21] 1sourcecontrol commented on #341
Alrighty. Thanks for the anthropology lesson!
I've had it ingrained in me from fantasy games (I guess) that race means "a group of biolgically distinct creatures." Which would explain a bit.

[2018-02-20 22:42] bleehu commented on #341
Can we call this approved, then?

[2018-02-20 22:51] bleehu commented on #343
Was this question answered? Can we close it?

[2018-02-20 23:01] #324 closed, assigned to bleehu

[2018-02-20 23:03] bleehu commented on #340
I'd like to hold out on this to see if we can have Z take it when he's over his fever and hopefully doing more work on the project.

[2018-02-21 06:28] 1sourcecontrol commented on #338
Ahhh, ok. That makes more sense. Thank you.

[2018-03-02 18:38] bleehu opened #348 "Buff Ceramic Catalyst"
The Engineer Process "Ceramic Catalyst" might be too weak.

Quoth 1Source:
Since it's only 2 hits or 10 turns duration, bullet damage has been significantly increased, and this is a higher level engineer ability -- I'd suggest a buff to 45 or 50 damage points. (And even 3 hits or more, if you want. A lot more weapons can shoot 3-6 bullets, now.)

[2018-03-02 18:39] bleehu opened #349 "Remove All Refferences to CS burn"
There are some references in Engineer Processes to CS burn. Let's replace those.

[2018-03-02 18:39] bleehu commented on #349
Perhaps with VAE technology.

[2018-03-02 18:41] bleehu opened #350 "Buff Refractory Spray"
The Engineering Process "Refractory Spray" might be a little underpowered with Combat 2.0.

Quoth 1Source:
"Also suggest buffing this damage protection to 50 points. Lasers and plasma are more common-place in the lower levels now... so this ability may be a little underpowered (especially comparing to Ceramic Catalyst.)"

[2018-03-02 18:45] bleehu opened #351 "Define Engineer IO Ports"
They are mentioned, and intuitive to use, but not really explicitly explained.

Also, add them to the Glossary.

[2018-03-02 18:59] bleehu opened #352 "Put the turret back on the Cerberus Attack Drone"
This is embarassing.
Somehow I deleted the Turret from the tank drone. I need to delve through our git history and put it back. Update it to combat 2.0 and balance the thing.

[2018-03-02 19:01] bleehu opened #353 "Explicitly type the damage types of engineer processes"
Since some armors and characters have specific interactions with Explosive/Ballistic/Laser damage, I need to be explicit about what type of damage is being dealt at all times.
Adding Fire damage to the list of damage types in Basic Rules may be a good idea as well.

[2018-03-03 00:32] Turtlelord26 opened #356 "Proposal for the Streamlining of Melee Combat"
This is a discussion issue and can be separated into action items as components are agreed upon. However as they are all related to each other it seems fair to discuss all at once.
Source: Thought experiments related to building a dungeon that emphasizes melee combat.
https://github.com/bleehu/Compound_X/blob/dev/01_01_Basic_Rules.txt#L755

First, regarding the Guard DC, (which I don't think would

[2018-03-03 05:28] rosebrallier commented on #356
Melee a corner case? That sounds like a CHALLENGE.
On a more serious note, I think we should either include Guard as a basic part of PC and NPC stats or straight up remove one step in the calculation. Multiplying a stat on the fly by .4 is mean to your GMs.

Second: I would treat the issues of rendering an opponent unconscious vs bleeding out by having the attacker call nonlethal intent when they

[2018-03-03 20:32] bleehu commented on #356
My thoughts:

Totally with you here.

This was a relic from design that Trowl did back in the day. I'm very ok with replacing it. There is some hand-waving involved because bullets and knife cuts don't really knock you out, but I'm willing to make the trade of fun-for-gamey.

I'm punting on this, because I haven't met a tabletop grappling system that I like yet. Grappling is near and dear to my he

[2018-03-03 20:35] bleehu commented on #356
Also, I should mention that one of the things they teach you in gun safety classes is not to bludgeon anything with the butt of your rifle; that has the tendency of making the weapon go off wildly. If you're in melee combat and you happen to be holding a sniper rifle, you're much better off dropping it and going for your knife than trying to use it as an impromptu baseball bat.

[2018-03-04 06:33] rosebrallier commented on #356
Re: Using guns to bludgeon
Just because something is ill-advised doesn't mean we shouldn't have rules for it. In fact, we should definitely have rules for how spectacularly badly it could go!

[2018-03-04 06:37] rosebrallier opened #357 "New subclass idea"
A gunslinger, that slings guns instead of bullets.

[2018-03-04 22:31] Turtlelord26 commented on #357
:squawk:

[2018-03-05 18:40] bleehu commented on #357
Funny, but wrong. ;)

[2018-03-07 20:33] #335 closed, assigned to bleehu

[2018-03-07 20:34] #322 closed, assigned to bleehu

[2018-03-07 21:37] #350 closed, assigned to bleehu

[2018-03-08 02:46] Turtlelord26 commented on #356
One unfortunate thing about involving a skill in a combat like this is that when we translate from d100 skills to d10 combat, we lose so much precision. No matter how it goes, if a Melee Combat skill is involved in to-hit calculations, only one point of every ten matters, and the other nine do nothing.
Does anyone have a clever idea to make this feel less bad?

[2018-03-08 03:12] Reveraine commented on #356
I think if we start framing skill points like experience points, that might help it feel nicer. So every time you hit that ten, you've 'leveled up' in that skill. I don't think we should use those words, but I think we can make it feel nice with the wording.

[2018-03-08 05:07] Turtlelord26 commented on #356
I'm specifically concerned with the encouragement those dead points provide to metagaming your stats. If you're at one of the melee skill breakpoints and level up, it is most mechanically correct to put 10 points into it or zero. 10 points is almost always more than half of what a character is getting per level. If a character relies on melee, the system is encouraging a very min-maxy skill alloca

[2018-03-08 07:21] bleehu commented on #356
I agree to the idea of taking the skill out of the combat calculations. I don't know that it makes a lot of sense to incoming players, but the way skills are now, it scales very poorly.

[2018-03-08 07:28] bleehu opened #361 "Feature Request: Add Fire/Thermal Damage to list of damage types"
In Basic Rules, we have a list of damage types. We should decide whether we want to add Fire and Ice type damages, or simplify the two into just "Thermal Damage." Either way, we should add it to the basic rules.

[2018-03-08 07:30] bleehu commented on #339
@Reveraine, can we get a little bit more detail on what is missing from Flying movement? Where should we add it? Why did this come up?

[2018-03-08 07:43] Turtlelord26 opened #362 "Feature Consideration: Consolidate Melee "blunt" damage subtype and Internal damage type"
As the blunt damage is described as bypassing armor, and in fact blunt force trauma causes internal damage.

[2018-03-08 08:08] Masterdiekillsu commented on #356
I feel with melee, we have to approach it in a similar manor with gun
accuracy but with a system that works fluidly along side shooting, but
works without confusing the two, and being realistic enough. Melee should
NOT have any skill buffs that add to it. That being said, I can probably
work out a couple ideas that might make weapon fighting easier to work
around. It'd take me awile to write all u

[2018-03-08 08:58] Turtlelord26 commented on #356
I detect a volunteer! (thank you).

It looks like we're converging on a consensus re the five points (**if I'm wrong please screech at me, inbred design is bad**), so I'll make some action item issues entitled Melee 2.1. Go ahead and take as many of those as you want. Some of them will have specific requests based on the above thread, but if you have a reason to do something differently please fee

[2018-03-08 09:01] Turtlelord26 opened #363 "Melee 2.1 Part 1: Skill Modifier Strip"
See #356

We need to remove the references to melee combat skills from melee attack and Guard calculations. Said calculations will need to be reformulated to compensate.
A melee attack should not be significantly more complex than a ranged attack.
The Guard Class should be as simple as feasible.

[2018-03-08 09:05] Turtlelord26 opened #364 "Melee 2.1 Part 2: Nonlethal Damage"
See #356

The whole nonlethal damage section would benefit from a clarity pass.
The following changes are requested:
- [x] Remove the nonlethal health bar
- [x] allow individual melee attacks to be declared nonlethal
- [x] implement an accuracy penalty to nonlethal attacks, as it is harder to do damage when you're trying to not do damage
- [x] explicitly state that characters downed by nonlethal a

[2018-03-08 09:06] Turtlelord26 opened #365 "Melee 2.1 Part 3: Grappling"
See #356

We need a clarity pass on the grappling section in melee combat. Spicing it up can wait until later - that's probably its own project.

[2018-03-08 09:08] Turtlelord26 opened #366 "Melee 2.1 Part 4: Maneuvers"
See #356

Requesting that the Shove section of melee combat be redone as a contest, like grappling except not ongoing. Also that it be expanded to include other common maneuvers, like trip, shoving sideways, and possibly disarm. Not all maneuvers have to be equally difficult.

[2018-03-08 09:10] Turtlelord26 opened #367 "Melee 2.1 Part 5: Improvised Weapons"
See #356

Melee combat would benefit from codified rules for handling improvised weapons of various kinds. In particular we desire the inclusion of non-CQB firearms as improvised weapons, and additional critical failure rules for the same that involve accidental discharges.

[2018-03-08 09:11] Turtlelord26 opened #368 "Melee 2.1 Part 6: Expertise Skills"
See #356

Similar to the various firearm type proficiency skills listed in the feats document, we should have some melee combat proficiency skills. I have no idea what level of granularity we should use in types of melee weapon / styles of melee combat.

[2018-03-08 17:37] #353 closed, assigned to bleehu

[2018-03-08 17:40] #331 closed, assigned to nobody

[2018-03-10 21:28] Turtlelord26 opened #369 "Weapon Proposal: Staff-sling"
It's like a sling, but gigantic. Probably requires very high Dex to use, can load with bullets (which means lead lumps) or grenades.

More normal slings also includeable.

[2018-03-11 07:19] Turtlelord26 opened #370 "Feature Consideration: New Save - Awareness"
The thought is to move passive perception from the awareness *skill* to a new awareness *save*, which is more in line with skills being a thing you actively do vs saves being a response to outside stimuli. The other perceptual skills, spotting and investigation, remain skills.

An initial proposal is to calculate the Awareness save like the other saves, but based on the PER and LUC attributes. I l

[2018-03-12 18:33] Turtlelord26 opened #371 "Feature Request: A Flamethrower Peripheral for Engineer Drones"
Someone more familiar with Engineer design history tell me if there's a particular reason we don't have them. There has been a request.

[2018-03-13 03:21] bleehu commented on #371
Why didn't I think of that? I'll add it to my queue!

[2018-03-13 19:14] bleehu commented on #370
I really like this idea! I like how it lets us roll the save after the fact, rather than having a specific constant passive perception on all the time.

I also approve of the balance shift of using PER and LUC.

Since Opposum has left the project for now, we can ship it without his input.

[2018-03-15 20:27] rosebrallier opened #372 "Gripe: Edit Skill Requirements and Class Passives to reflect Systematized Skills"
For example:
Using grenades requires 10 skill in explosives, which is no feasible in early levels because skill points at lvl1 have decreased by 50.
Pilot passively gives 10 in piloting (a skill which no longer exists).

[2018-03-15 20:30] rosebrallier opened #373 "Gripe: Large magazines should take up more slots than small"
Machine gun and heavy weapons mags should take up two standard mag slots on armor due to their large size.

[2018-03-15 20:35] rosebrallier opened #374 "Gripe: Movement and Carry ability rules and calculations"
The equations for calculating move speed and carry ability should be listed in Basic Rules in the sections specifically dedicated to defining move speed and carry ability.
The definition for Carry Ability should specifically mention that it mitigates the movement speed penalties from carrying equipment.

[2018-03-15 20:44] rosebrallier opened #375 "Feature Request: Performance or Art skill"
We should have a set of Performance or Art skills to use when rolling for a character's artistic endeavors like:

- performing an interpretive dance
- drawing a picture
- singing
- playing a musical instrument
- acting out a Shakespearean soliloquy
- stand-up comedy
- composing a ballad
And much much more!

[2018-03-15 20:53] rosebrallier commented on #375
We could also have Performance, where Performance is a general [charisma] skill check that includes the subsets of: persuasion, deception, speech, intimidation.

Art could be a Feat obtained via character backgrounds which gives advantage to a character's rolls in a specific artistic field.

[2018-03-15 20:58] rosebrallier opened #376 "Gripe: Phrasing of "Medicine Saving Throws""
https://github.com/bleehu/Compound_X/blob/c3463269fc0d0c8ee2c7f788ba95ccae8a298e3d/01_01_Basic_Rules.txt#L567

Using the title "Medicine Checks" or "Medicine Rolls" would better describe the content of the section, especially since Saving Throws are their own mechanic in the game (and "Medicine" is not one of them).

[2018-03-15 22:27] Turtlelord26 commented on #375
I think that I am partial to having multiple specific skills (and probably letting characters use half of one perform skill to make a check on another) to support more explicit character customization. Backgrounds could contribute by granting proficiency (i.e. class-skill-ness) to a particular subskill.

[2018-03-15 22:34] Turtlelord26 commented on #376
I'm thinking that that whole section should be looked at and redone (especially that heal skill calculation) as a Hit Point Recovery section that includes rules for healing over time via rest and includes the Doctor class only by way of mentioning that they have alternative means of healing people.

It also might live more happily in a different location of the rules.

Related: The current "Restin

[2018-03-17 01:55] Reveraine commented on #375
I like both of these ideas.
I think that art could go either way, I am not particularly partial to either with the exception of the simplicity of art as a skill versus adding to our already lengthy feat list.

[2018-03-17 02:00] Reveraine commented on #370
Aprrrroooooove

[2018-03-17 02:00] Reveraine commented on #357
Yes. Good.

[2018-03-17 02:00] #357 closed, assigned to Turtlelord26, Reveraine, rosebrallier

[2018-03-17 04:13] bleehu commented on #375
I think maybe this is symptomatic of a larger issue. When Zach was on the team, he owned skills. Now that he's left, nobody owns skills. Can we at least temporarily let @rosebrallier own it?

[2018-03-17 20:11] bleehu opened #377 "Detail Request: Hack DC for Aspro-S"
The anti-grenade gizmo should be hackable

[2018-03-19 21:02] bleehu commented on #362
I think it's a very good idea to keep on the lookout for ways to reduce complexity. In that regard, I applaud Turtle's attention being paid to the opportunity to reduce redundant effects. That is awesome.

But in this specific case, I think it doesn't make sense to combine blunt damage with internal damage. To explain, i'd like to offer a counterexample. Let's say we're doing damage to a robot wea

[2018-03-19 22:09] bleehu commented on #370
I think the test went pretty well. @Turtlelord26 and @Masterdiekillsu shipit?

[2018-03-19 22:11] bleehu commented on #372
@rosebrallier can you handle this? Do you have enough familiarity with Git to make it so?

[2018-03-19 22:12] #377 closed, assigned to bleehu

[2018-03-19 23:24] #373 closed, assigned to bleehu

[2018-03-19 23:34] bleehu commented on #375
@rosebrallier, do you want to take a stab at developing an update to the existing skills?

[2018-03-19 23:44] bleehu commented on #340
@rosebrallier, do you mind taking this in light of Zach's retirement?

[2018-03-20 17:07] rosebrallier commented on #340
Not at all!

[2018-03-20 18:16] Turtlelord26 opened #382 "Balance Problem: Awareness vs Stealth"
Moving Awareness to a save causes its range of expected values to contract significantly, and removes almost all scaling. At higher levels this means that Awareness cannot reasonably contest the Stealth skill.

My initial thought is that even an awareness roll lower than the enemy's stealth can alert you that there's something going on, even if you don't realize where, and that a further spot chec

[2018-03-20 18:17] Turtlelord26 commented on #370
We have a fairly serious balance issue with awareness (a save) contesting stealth (a skill), but that doesn't block a PR to dev as long as we make the Issue. Which I have now done: #382

[2018-03-20 18:45] bleehu commented on #382
At the risk of complexity creep, what if we add a table of specific stealth penalties for things like firing a weapon without a silencer, moving, etc? Use those penalties to help push stealth DCs back up?

[2018-03-20 19:07] bleehu commented on #382
I also want to explicitly call out that this problem is the same shape as the Persuasion/Deceive/Flirt vs Will Save equation.

[2018-03-20 20:09] Turtlelord26 commented on #382
Typically systems oppose persuade/deceive with an insight (or equivalent) skill. My argument for moving awareness to a save was that 'being aware' is a state, not a thing you do actively. Insight, on the other hand, is something you have to be trying to do, so it seems reasonable to keep it as a skill.
I could be convinced otherwise though.

The same argument can be applied to Reflex save vs Athl/

[2018-03-20 20:12] bleehu commented on #382
Also, we could very much use those feats to simply provide more options. Could you issue a feature request for that?

[2018-03-20 20:24] Turtlelord26 opened #383 "Feature Request: Save-boosting Feats"
From a rabbit hole in #382

Request is for a selection of feats that provide a direct bonus to saves, which are Shock, Reflex, Will, and Awareness.

No further restriction exists at this time for the individual feat effects. Options include but are not limited to
-Flat numerical bonus to a save
-Flat numerical bonus to a save or saves but with a restriction
-Flat bonus to a save under condition 1

[2018-03-20 20:53] bleehu commented on #344
Assigning to @rosebrallier, who has accepted ownership of the skills system.

[2018-03-20 20:54] #343 closed, assigned to 1sourcecontrol, bleehu, Turtlelord26, Reveraine, rosebrallier

[2018-03-20 22:44] Turtlelord26 commented on #362
Counterexample accepted and sufficient for mathematical disproof of my conjecture.

[2018-03-20 22:44] #362 closed, assigned to dfuchs2, bleehu, Wildlovelies, Turtlelord26

[2018-03-21 03:04] bleehu commented on #362
Perhaps ye could use smaller words, we are but humble pirates here.
![image](https://user-images.githubusercontent.com/13957025/37693004-d93c0230-2c79-11e8-83aa-5844f6fd7e78.png)

[2018-03-21 03:04] bleehu commented on #362
(joking, of course)

[2018-03-21 03:25] bleehu commented on #345
I am Mike and I approved this message

[2018-03-21 03:29] Turtlelord26 commented on #345
Ok, but are you really if this is a public repository?

[2018-03-21 22:13] Turtlelord26 commented on #356
2 weeks of non-screeching and the diaspora of points to individual issues would seem to indicate that this issue has fulfilled its purpose 🐢

[2018-03-21 22:13] #356 closed, assigned to dfuchs2, Wildlovelies, Turtlelord26, Reveraine, Masterdiekillsu, rosebrallier

[2018-03-21 22:48] Turtlelord26 opened #384 "Redesign Request: Missing Armor Deals Half Damage"
This idea was very nice aesthetically and served a good purpose mechanically, but only really works in the midrange of armor stats. Check out these corner cases:

The Full-Armored squish: 100% coverage but zero AS, dies like a DnD Wizard because every shot is max damage.
The Armorless tank: Have tons of Fort and buy one medium armor arm rig with an armor mat. 90% of shots do half damage, and the o

[2018-03-22 06:08] rosebrallier opened #386 "Update ReadMe"

[2018-03-22 06:33] rosebrallier commented on #372
This is on my docket after I get reviews and edits on the systematized skills update.

[2018-03-22 17:12] bleehu commented on #386
Specifically, it lists 1source as our director. 1Source has retired from dev.

[2018-03-22 19:53] bleehu commented on #363
@Turtlelord26  What is "Guard Class"?

[2018-03-22 19:57] Turtlelord26 commented on #363
Just Guard DC with the D removed. I don't really like using the DC abbreviation in both combat and skills/saves, the areas are pretty disparate.

[2018-03-23 00:08] Reveraine commented on #370
Awareness Added

[2018-03-23 00:08] #370 closed, assigned to bleehu, Turtlelord26, Masterdiekillsu

[2018-03-23 00:09] Reveraine commented on #341
Completed

[2018-03-23 00:09] #341 closed, assigned to bleehu, Turtlelord26, Reveraine, rosebrallier

[2018-03-24 00:53] Turtlelord26 opened #397 "Replacing Min-max penalties with secondary stat caps"
Proposal: would remove current penalties for having 1 Str, Fort, Cha, Int, and/or Dex and modify the calculation of secondary stats to discourage min-maxing.
Secondary stats would be calculated as they are now, but with the added stipulation that they cannot be more than 4* greater than the lower of the two relevant stats. E.g. a character with 2 Str and 8 Dex could have 2 Movement or 6, but not 8

[2018-03-24 00:59] Turtlelord26 opened #398 "Fold weapon proficiency feat "skills" into weapon use skills"
From #385

   Turtlelord26 a day ago  Collaborator
Caring for a weapon is a skill, but not usually one that needs to be performed under pressure (reloading excepted). I'm having a hard time thinking of a situation where I'd need to roll a DC 100 Weapons - SMG check. Assuming I'm not suffering from a failure of imagination, can we consider completely combining these skills and Source's "Weapon prof

[2018-03-25 01:06] Turtlelord26 opened #399 "Skill Request: Vehicles (Space)"
On the theory that flying in air and flying in nothing are different enough to represent the difference.

[2018-03-25 01:08] Turtlelord26 opened #400 "Feature Request: Skill(General) buff"
From #385

When dealing with progression systems, I always try to aim for maximum end-state power. This involves lots of turtling in RTS and 4X, for analogy. The following concern assumes that mindset is common enough to design around.

I am wary of ever putting points into General skills, because at some point General must become overshadowed by the Specific skills (and if it doesn't we've made a

[2018-03-26 20:24] #386 closed, assigned to nobody

[2018-03-26 21:40] bleehu commented on #170
@Turtlelord26, What's the action needed on this?

[2018-03-26 21:43] bleehu commented on #185
This is super stale. Closing out. @Wildlovelies, you can reopen it if you still have concerns.

[2018-03-26 21:43] #185 closed, assigned to Wildlovelies

[2018-03-26 22:21] bleehu commented on #223
@Turtlelord26, Do you think we can close this and bring it up at the next design meeting anew?

[2018-03-26 22:22] bleehu commented on #228
weird that github isn't catching the PR #202 integration. Closing due to merge.

[2018-03-26 22:22] #228 closed, assigned to nobody

[2018-03-26 22:24] bleehu commented on #231
I think the new class system is going to be delayed in starting, and will take long enough in production that we may as well handle this section for the current version. I think it's going to be very helpful for play over the next couple of months.

[2018-03-26 22:25] bleehu commented on #231
Assigned to Turtle, but being the director, Turtle can reassign as he sees fit.

[2018-03-26 22:47] Turtlelord26 commented on #223
Yes.

[2018-03-26 22:47] #223 closed, assigned to 1sourcecontrol, bleehu, Wildlovelies, Turtlelord26, Reveraine

[2018-03-26 22:57] Turtlelord26 commented on #170
Well, the relevant case was handled, so it becomes a question of whether we mind a lack of standardization in our terminology (i.e. some 'round down' and some 'drop remainder' instead of all 'round down'). If we don't mind, then no further action is necessary. If we do, the action is lots of control-f and control-v in several documents.

[2018-03-26 22:59] Turtlelord26 commented on #209
Programming languages already has an issue in the design guide.

No problem, because language barrier plot difficulties should only be a part of campaigns where the DM specifically wants it and knows what they're getting their group into.

[2018-03-26 23:02] bleehu commented on #209
Can I close this?

[2018-03-26 23:03] bleehu commented on #170
I don't mind. Do you?

[2018-03-26 23:06] Turtlelord26 commented on #170
Vaguely but I suppose not seriously.

[2018-03-26 23:07] #170 closed, assigned to nobody

[2018-03-26 23:08] Turtlelord26 commented on #209
According to your initial post, yes.
It would be better to continue the discussion this rabbit holed into after we know the rest of the racial mechanics anyway.

[2018-03-26 23:09] #209 closed, assigned to Turtlelord26, Reveraine

[2018-03-26 23:10] #351 closed, assigned to dfuchs2, Turtlelord26, Reveraine, rosebrallier

[2018-03-26 23:10] #352 closed, assigned to bleehu

[2018-03-29 23:15] rosebrallier commented on #400
This is a cool idea to take into account how in real life, knowing about a General subject makes it easier to approach subsets of that subject (since you have the contextual knowledge and general thinking framework for the field).
What do you think @bleehu ? Useful buff of complexity creep?

[2018-03-29 23:19] rosebrallier commented on #399
This is a fair point. For example, while flying in space the enemy's gate is down, which is not the case in air. @bleehu, can I get a greenlight?

[2018-03-29 23:42] rosebrallier commented on #398
1. My two main ideas are to either update the existing Weapons skills to reference this set of feats, or significantly overhaul the feats themselves.
2. I plan to re-name the feats in either case to remove the word "proficiency" since the feats have little to do with our formal proficiency mechanics. Might use "expertise."
3. THOUGHT: gain the skill and feat @10 at lvl 1 for one weapon type your c

[2018-03-29 23:44] bleehu commented on #399
I can't change labels on mobile, so please take the comment and I'll update labels later.  You have an explicit green light!

[2018-03-29 23:46] bleehu commented on #398
1) Either could work well.
2) Super agree.
3) maybe depending on your background?

[2018-03-29 23:53] rosebrallier commented on #375
Update to this issue: Skill in Performance has been incorporated into [Systematized Skills](https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/06_01_Systemized_Skills.txt) with [PR 385](https://github.com/bleehu/Compound_X/pull/385).
Closing this issue since the gripe has been patched, though I plan to address the idea of characters having specific training in a field when I work on b

[2018-03-29 23:53] #375 closed, assigned to bleehu, Wildlovelies, Turtlelord26, Reveraine, rosebrallier

[2018-03-30 05:16] Turtlelord26 commented on #398
I was thinking that the feats would supply bonuses gated by how much skill you have with the weapon class - the feat specifically not giving characters ranks by itself. Much like they already do, but integrating with existing skills rather than hijacking skill mechanics.
However, now that I think about it, this is pretty powerspikey and makes it optimal (power-wise) to not take the feat until you

[2018-03-30 05:31] bleehu commented on #398
I think the idea would be that having the feat meant that you would continually reap the benefit as you leveled your skill up, rather than needing to wait until you have a high skill to take the feat.

[2018-03-30 05:32] #231 closed, assigned to Turtlelord26

[2018-03-30 05:33] Turtlelord26 commented on #398
Yes, you *could* take the feat at any time, but if any benefits are gated by having an amount of skill, then by taking the feat before you have that much skill you are only getting a portion of the feat's benefits, which is less optimal than taking some other feat, which you get 100% of immediately, at every opportunity until you have all the required skill.
That's why I like having specific point

[2018-03-30 08:40] rosebrallier commented on #398
I'm going to need to have this conversation in person because I cannot
parse what you are actually suggesting Turtle.

On Thu, Mar 29, 2018 at 10:33 PM, James Talbott <notifications@github.com>
wrote:

--
Rose

[2018-03-30 16:09] #371 closed, assigned to bleehu

[2018-03-30 16:14] bleehu commented on #384
Good catch on those edge cases. I hadn't though of those.
Of your three drawbacks, I don't see anything particularly concerning. But I think it should be noted that having to memorize/write on the character sheet _another_ magic number is a small amount of complexity creep. But in this case I think it strictly improves the system.

The alternative is to minimize complexity by scrapping armor rolls

[2018-03-31 02:59] rosebrallier commented on #398
We figured out what I was confused by. I was confused because Turtle is suggesting what I thought was already in place.

[2018-04-01 00:10] Turtlelord26 commented on #384
I would be really happy if we came up with a clean, smooth, and playable implementation of folding armor into accuracy rolls and scrapping armor rolls entirely. But I think that might take some time, and who knows where it'll end up in the new priority ordering. How about we slot that as a project, and implement my original suggestion in the interim? (Dropping the possible racial complexities for

[2018-04-01 04:55] Turtlelord26 opened #411 "Class Proficiencies with Melee Weapons / Categories of Melee Weapons"
Tacking this onto Melee 2.1

Melee weapons gain tags like Light, One-handed, Two-handed, etc. (Probably not too many of these for complexity), and classes have proficiency with particular categories. Ex, Berserker probably gets them all, while Doctor might have just the smallest or even none.

As a note, currently the classes do not have any explicit proficiency with melee weapons listed. Strictly

[2018-04-01 04:58] Turtlelord26 opened #412 "Location of Mechanical Expertise Levels of Unarmed Combat"
Tacking this onto Melee 2.1

At present, unarmed combat (unskilled / trained / expert) are listed as weapons in the weapons document. I don't really like that. I would like to return to having these three levels classified as feats, and also have explicitly marked in the class document what level each class starts with.

If they are feats, we allow characters to improve themselves relative to thei

[2018-04-02 01:19] bleehu commented on #384
Sounds like a very sensible solution!

[2018-04-02 04:59] Turtlelord26 opened #413 "Feature Request: Universal Translator Mechanics"
I would like to test the proposed UT mechanics

* UT applies some penalty to social checks made with it and a language it isn't fully attuned to. Possibly even after attunement to make learning languages always desirable.
* Comes with cheap earbuds

[2018-04-02 07:26] Turtlelord26 opened #414 "Feat Proposition: Hostile Environment Training"
Idea: Feats that reduce or eliminate penalties associated with hostile terrain.

Theory: Having a feat for each type of hostile environment would create a large number of oppressively narrow feats

Proposal: One feat combines training for many kinds of hostile terrains, and each time you take the feat you pick some number of those terrains to gain the benefits for.

I am thinking here specifically

[2018-04-02 07:26] Turtlelord26 opened #415 "Feature Request: Hostile Environment Catalog"
Because if I'm going to request a feat that requires this feature, I should request this feature too.

Request: A document cataloging hostile environments players may find themselves in, what detrimental effects this has both in combat-scale and at survival-scale, and available countermeasures (like envirosuits, gas masks, etc.) apply, if any.

Terrains may be Bases or Overlays (terms subject to c

[2018-04-02 18:59] bleehu commented on #361
https://github.com/bleehu/Compound_X/blob/dev/01_01_Basic_Rules.txt#L1235

[2018-04-02 18:59] #361 closed, assigned to dfuchs2, bleehu, Wildlovelies, Turtlelord26

[2018-04-02 19:05] bleehu commented on #165
@Turtlelord26, I posit that with the new reliance on non-nanite substances, some of which can be bought that the new Engineer is functional without cybernetic allies, though much better with them. I am eating my own dogfood with my Engineer Opalite character, Mooki. If this turns out not to be the case, we can re-open this issue, but at the moment I would like to petition to close it.

[2018-04-02 19:39] #165 closed, assigned to bleehu

[2018-04-03 00:26] rosebrallier commented on #400
ping

[2018-04-04 00:27] Turtlelord26 opened #420 "Feat Passive/Active Classification"
A number of feats in the passive section seem better described as active. I suspect it's because they never had a nanite cost, but having no cost doesn't make something not an active use.

Empty the Mag, Focus Energy, Quickdraw, Investor (technically...?),

[2018-04-04 06:08] bleehu commented on #400
I'm concerned that's going to make general skills too valuable.  The "wildcard bonus" of being able to use general skills in multiple skill challenges is already a huge equalizer. I'd like to discuss this more,  but I hesitate to write a wall of text. Take it up in person this weekend?

[2018-04-04 20:59] #130 closed, assigned to bleehu

[2018-04-04 20:59] #376 closed, assigned to rosebrallier

[2018-04-04 20:59] #338 closed, assigned to bleehu

[2018-04-04 21:00] Turtlelord26 opened #425 "Outdated Resting Section in Basic Rules"
The current "Resting" section in Basic Rules is no longer in aesthetic, as it only talks about nanites.

[2018-04-04 21:16] #349 closed, assigned to Turtlelord26, rosebrallier

[2018-04-05 19:35] #348 closed, assigned to bleehu

[2018-04-06 17:32] rosebrallier opened #429 "Dice description"
https://github.com/bleehu/Compound_X/blob/d310ad25478a7d763dbddeb8129d37a59fc93c66/01_01_Basic_Rules.txt#L34-L35
Do we want to update this to reflect how we roll d10 for hitting  and d100 everywhere else?

[2018-04-06 17:37] rosebrallier opened #430 "Nanites Aesthetic"
https://github.com/bleehu/Compound_X/blob/d310ad25478a7d763dbddeb8129d37a59fc93c66/01_01_Basic_Rules.txt#L140-L145
We may want to rework this to be a more lore-based.

[2018-04-06 17:49] Turtlelord26 commented on #429
Yes, I think we do.
Also, the  "For now, know" seems wrong and out-of-place; maybe that paragraph could be edited to open more neutrally.

[2018-04-06 18:00] rosebrallier opened #431 "Charisma skill max"
https://github.com/bleehu/Compound_X/blob/d310ad25478a7d763dbddeb8129d37a59fc93c66/01_01_Basic_Rules.txt#L435-L436
Where is this from and why is it necessary?

[2018-04-06 18:08] Turtlelord26 commented on #431
As it's part of secondary stat details I assume it's from 1source. I am of the opinion that having a special cha skill cap is unnecessary complexity (and also that you have full control over what the overall cap is as skills owner), but I didn't actually know this was here until now. @bleehu Do you know more?

[2018-04-06 22:01] rosebrallier commented on #399
TAADAAA
(see [SPACE](https://github.com/bleehu/Compound_X/commit/39319168609e86537bb84a06f2e66e2c5cf67879#diff-eea1936881dbbd3328e36ef9903d9a06))

[2018-04-06 22:01] #399 closed, assigned to rosebrallier

[2018-04-06 22:13] rosebrallier commented on #372
Merged or PR'd:
- [Basic Rules](https://github.com/bleehu/Compound_X/pull/432)
- [Classes](https://github.com/bleehu/Compound_X/pull/410)
Still to come:
- Feats
- Weapons Docs

[2018-04-06 22:13] bleehu commented on #431
My hunch is trying to re-value charisma. I agree very much with Turtle that having one of six things that doesn't act like the other is a hard exception to remember.

[2018-04-06 22:16] rosebrallier commented on #344
So I went with 5, but 6 is a nicer number. I'll run-through implementing the diff number Soon(tm).

[2018-04-06 22:18] #340 closed, assigned to rosebrallier

[2018-04-06 22:19] #270 closed, assigned to rosebrallier

[2018-04-06 22:21] rosebrallier commented on #431
So I can delete it from existence?

[2018-04-06 22:23] Turtlelord26 commented on #431
Destroy it!

[2018-04-06 22:41] #431 closed, assigned to bleehu, rosebrallier

[2018-04-07 20:11] Turtlelord26 commented on #400
Consensus has been reached that General skills are testable in their current iteration, with the exceptino of Knowledge(General), which shall be nerfed to specify that when a character takes Knowledge(General), they must declare 4 areas of specific knowledge that the General check may apply to, and cannot apply the general check to other specific knowledges.

[2018-04-09 19:52] bleehu opened #433 "Run Reveraine's Dungeon"
Rev has made an excellent dungeon, we should play it and give her some feedback!

[2018-04-09 19:52] bleehu opened #434 "Run Turtlelord's Dungeon: WYCSS Kileti"

[2018-04-09 19:53] bleehu opened #435 "Run Bleehu's Dungeon: The Hive"

[2018-04-09 21:49] bleehu opened #436 "Write and balance three example backgrounds"
This document should be in the Character Creation section and should list three sample basic backgrounds. It should also have a brief description of how a background is assigned and what limits are placed on backgrounds. Can a character have 2 backgrounds? Can a character have 12 backgrounds?

[2018-04-09 21:51] bleehu opened #437 "Add Backgrounds section to New Players Guide"
In the New Players Guide in the Character Creation Directory, add an introduction for first time players as to what a background is and how to use the list of backgrounds.

[2018-04-09 21:52] bleehu commented on #437
I'm expecting Rose to write the intro and Turtle to review it, but I don't mind you two adjusting that workflow to whatever works best for you.

[2018-04-09 22:25] bleehu opened #438 "Break up existing PR from R_C to dev into manageable chunks."

[2018-04-10 06:17] Turtlelord26 commented on #363
Progress mark: Skill modifier removed from calculation by PR #432, but GC has not yet been rebalanced to compensate.

[2018-04-10 14:41] bleehu opened #439 "Run RoseB's Dungeon"
and collect feedback for scoring

[2018-04-11 14:19] 1sourcecontrol commented on #431
I decided to take a glance at CX after quite-some-time.

The skill max was definitely a Charisma-valuing mechanism. Min-maxing away CHA can/could easily be overcome by dumping skill points into "Speech skill" (or whatever the skills are now). Which reduces the gap between a 2 INT - 10 CHA player and a 10 CHA - 2 INT player.

I tried to revalue the primary stats and balance charisma, this was part

[2018-04-11 14:48] 1sourcecontrol commented on #356
(Btw I'm taking these text snips from the dev copy)
There is some slight rules for added effects from using a gun as a club:
https://github.com/bleehu/Compound_X/blob/c93e71a5d51edc797a592d66ac76089085b5a2da/01_01_Basic_Rules.txt#L1215

Three thoughts on melee weapon skill.

1. Melee attacks are seriously disadvantaged by the large gun ranges and the huge lethality of guns at close range. Melee we

[2018-04-11 17:51] bleehu commented on #356
Thanks for your thoughts! It's super helpful to have some insight into the massive amount of design work you've done beyond just the product of that design.

[2018-04-11 20:44] bleehu opened #442 "Assign Projects on Git"
Bleehu needs to create issues, project boards and schedule the work that we're going to rock in the next quarter of development.

[2018-04-11 20:50] bleehu commented on #233
@Reveraine, I noticed that the new Tundari and Human species files don't have anatomy sections. Are we still doing this? Are you saving anatomy for last?

[2018-04-12 07:56] rosebrallier opened #453 "Skill DCs"
https://github.com/bleehu/Compound_X/blob/2f43394b39ae49eaa569abca51e554c0bb817d0a/CharacterCreation/06_01_Systemized_Skills.txt#L130-L140

I don't want to mess with DCs too much, but I quite like Zach's scale and it's kinda in the wrong document.

[2018-04-12 12:10] 1sourcecontrol commented on #384
The last armor idea I went with was to nix armor percentage and give all armor a 'passthrough' number, where a certain qty of damage would always go through armor, depending on the armor. Which leaves simple addition and subtraction instead of die rolling and division.

I still have the prototype written up in excel, if you guys want it sometime, maybe we can go on discord and discuss it.
(The onl

[2018-04-12 12:15] 1sourcecontrol commented on #431
I did mention the skill cap in my parting words on Feb 22nd (slack) :P but that is a while ago, so, oh well

[2018-04-12 12:31] 1sourcecontrol commented on #356
Thanks! :)

[2018-04-12 17:05] Turtlelord26 commented on #453
Where should it go if not in skills?

[2018-04-12 17:09] Turtlelord26 commented on #356
The current design direction removes skill from directly modifying accuracies, but it will still benefit your melee prowess by a similar mechanism to your 'proficiency skill feats' for gun types. I did not like the granularity enforced by translating directly from a d100 to a d10 scale.

And yes, thrown skill directly affecting accuracy is also in for it. Thanks for reminding me about those.

[2018-04-12 17:13] Turtlelord26 commented on #431
There has been a suggestion that would alleviate the min-maxer problem here, though it doesn't buff Cha directly. See #397 if you're curious.

[2018-04-12 17:58] rosebrallier commented on #453
Well, here: https://github.com/bleehu/Compound_X/blob/dev/01_03_Skill_DCs.txt

[2018-04-13 08:36] 1sourcecontrol commented on #431
Thanks, I did see that. Hopefully that is sufficient -- although it doesn't address the original problem per se (of players minning charisma to some extent because of a disparity in primary stat value)
I guess I just restated what you said ¯\_(ツ)_/¯

[2018-04-13 12:52] 1sourcecontrol commented on #384
As far as characters go, this situation shouldn't be possible by the rules for 2 reasons:

1. The armor is basically clothing without an Armor Material so the Coverage wouldn't matter. It's  implied to me by 0 AS and no stated APL that the player doesn't have any armor material installed.  (I imagine that the first sentence, below, should've been written more verbosely)

without an Armor Material.

[2018-04-13 16:00] Turtlelord26 commented on #431
Well, it's also harder to dump points into persuade/deceive to make up for a low Cha now that putting points into skills is rate limited by level.

[2018-04-13 16:13] Turtlelord26 commented on #384
Confession: we've been playing your armor system wrongly. I somehow never noticed that bit about rigs requiring a material to provide coverage. We shall try it properly and revisit armor issues afterward.

Closing this issue as the far more important half of it is apparently already in the basic rules as linked above. X| X| X|

[2018-04-13 16:13] #384 closed, assigned to nobody

[2018-04-13 16:35] Turtlelord26 opened #454 "Repository Reorganization"
Many thanks to 1source for helping us realize we've been playing the armor system incorrectly in #384. In the process, though, another issue has been made clear. 1source had to cite rules in two different documents for the same mechanic - we can organize our rules better than that.

I say we
1. Pull all of the item/weapon documents out of the character creation folder and drop them in a new Items

[2018-04-13 21:46] rosebrallier opened #455 "Sleight of Hand Feat"
Because we have the Skill "Sleight of Hand," we should rename the feat. (Not just because I have a bias towards skill, but because in D&D sleight of hand is a skill, so we should take advantage of the cultural precedent.)

[2018-04-13 21:59] Turtlelord26 commented on #455
Possiblility: "Muscle Memory"

[2018-04-14 03:53] Turtlelord26 opened #457 "Location of Explosives"
They are currently tacked on to the end of the Melee and Throwing Weapons document. They should be moved to their own document, or else it will be obnoxious to scroll to them after we add more melee weapons.

[2018-04-14 04:15] Turtlelord26 opened #458 "Skill point Gain per Level: Number"
Currently capped at 5 points per level. For various reasons, including double point gain from skill proficiency preferring even numbers and making extra weapon training feats (formerly known as proficiency skill feats) cleaner, the cap should be changed to 6 (RoseB agrees).

[2018-04-14 22:36] bleehu commented on #454
Very sensible! I'll make a project board! Sounds like maybe a new dev project?

[2018-04-14 22:42] Turtlelord26 commented on #454
I don't think so. I'd rather have someone already familiar with the rules hacking them apart and putting them back together better.

[2018-04-15 20:35] Turtlelord26 opened #464 "Reload check crits"
There's a line in Basic Rules that states that skill bonus is taken into account for determining critical, instead of determining criticals solely on the raw roll. Isn't that wrong?
https://github.com/bleehu/Compound_X/blob/dev/01_01_Basic_Rules.txt#L1099

[2018-04-15 22:46] rosebrallier commented on #458
Completed!

[2018-04-15 22:46] #458 closed, assigned to rosebrallier

[2018-04-15 22:47] rosebrallier commented on #455
I got this

[2018-04-15 23:01] #344 closed, assigned to rosebrallier

[2018-04-15 23:17] #455 closed, assigned to bleehu, Turtlelord26, Reveraine, rosebrallier

[2018-04-16 03:33] #400 closed, assigned to rosebrallier

[2018-04-16 17:24] #411 closed, assigned to Turtlelord26, rosebrallier

[2018-04-16 17:25] #412 closed, assigned to Turtlelord26, rosebrallier

[2018-04-16 17:25] #364 closed, assigned to Turtlelord26, rosebrallier

[2018-04-17 04:24] 1sourcecontrol commented on #464
Took me a bit to find the commit, but I believe I made this change 9 months ago. The skill-adjusted critical roll was the intended effect, to fulfill 2 goals:

1. Strengthen weapon use (x) skill. I wanted weapon use skill to fulfill two roles. Reducing the probability of 'bad reloads' and increase the probability of critical good reloads. --Note, I don't remember realizing this back then, but havi

[2018-04-17 05:34] Turtlelord26 commented on #464
Those are valid goals but I would prefer we fulfill them without creating hard-to-remember exceptions to our rules. Weapons - [X] skill power is definitely on that radar.

[2018-04-17 10:50] 1sourcecontrol commented on #464
By all means :+1:

[2018-04-18 22:59] Masterdiekillsu commented on #429
Which branch would you like me to make the changes to the wording in?

[2018-04-18 23:10] Turtlelord26 commented on #429
A new one, and PR it to dev.

[2018-04-19 22:58] Turtlelord26 opened #471 "Grappling Actions Style and Presentation"
Currently on the Melee 2.1 Superbranch, though as it won't block it from being merged to dev you may find it there.

Actions characters may take while Grappled are listed half in prose and half in a definition list that may or may not be correct plaintext style.  We prefer that the Actions all be listed in one, easy to reference and visible to rules scanning manner. Note that topic heading use is

[2018-04-20 09:06] Turtlelord26 commented on #368
Blocked by expertise feat rework.

[2018-04-20 21:11] bleehu commented on #464
Am I still needed on this? (trying to keep organized on what's assigned to me and what isn't)

[2018-04-20 21:22] bleehu opened #473 "Break up Basic Rules"
The Basic Rules document is massive and unwieldy. Let's break it up so it's much easier to see what's in it.

[2018-04-20 21:25] bleehu opened #474 "Update Character Creation README.txt"
No really, it's embarassingly old and unhelpful. Let's nuke it and replace it with something helpful before it confuses someone.

[2018-04-20 21:45] Turtlelord26 commented on #464
Only if you would like to review the PR

[2018-04-23 10:39] 1sourcecontrol commented on #464
So, granting the merge of PR 475, does this mean that CX is back to: "I won't be getting a weapon expertise feat, so there is _no_ reason to get weapon use(x) beyond my highest weapon's reload DC"?

[2018-04-23 17:08] Turtlelord26 commented on #464
Adding a note on #453 to add a DC chart for Weapons - [X] skills would help us codify all of the things those skills are for.

[2018-04-23 20:29] bleehu commented on #442
See the https://github.com/bleehu/Compound_X/projects page for scoped projects and all of the new issues!

[2018-04-23 20:29] #442 closed, assigned to bleehu

[2018-04-25 01:07] Masterdiekillsu commented on #429
In the new branch I created, I changed the text accordingly. I dont know how to request a review of it though

[2018-04-25 01:10] Turtlelord26 commented on #429
Make a PR with dev as the Base and your branch as the compare.

[2018-04-25 01:16] Masterdiekillsu commented on #429
Pull request has been made. Unfortunately I have to go to class, so I wont know if this issue gets closed or not. I'll keep and eye on it though and see if there's anything more I can do.

[2018-04-25 02:14] Turtlelord26 opened #487 "The Tome of Spells is still in dev!"
Kill it with fireball!!!
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/Class-Specific%20Documentation/Tome%20of%20Spells.txt

[2018-04-25 02:39] rosebrallier commented on #453
Specific question for @bleehu : When I move this example, do I adjust the other examples, or this one?

[2018-04-25 04:57] bleehu commented on #453
I want to be careful with the potential scope creep, but the other document needs some work. Zach showed the math behind this example really well, so I'd keep this one as the blueprint.

[2018-04-25 05:23] Turtlelord26 commented on #453
It's surely not scope creep - moving the example into the other document without changing any numbers would break things via inconsistency.

[2018-04-25 05:56] rosebrallier commented on #453
Figuring out which option needed changes _was_ the intent of this issue, so not scope creep.

[2018-04-25 16:38] #429 closed, assigned to Masterdiekillsu

[2018-04-25 20:06] rosebrallier commented on #453
Thanks for the input, all

[2018-04-25 20:07] rosebrallier commented on #439
Note to self: Update for Aesthetic and Combat 2.0

[2018-04-26 19:33] #487 closed, assigned to rosebrallier

[2018-04-30 02:35] rosebrallier commented on #464
Closing this issue as resolved; questions of the balance of Weapon - [x] skills belong in their own issue and may be at least partially resolved via Issue #398

[2018-04-30 02:35] #464 closed, assigned to bleehu, Turtlelord26

[2018-04-30 05:50] rosebrallier opened #491 "Concussive or Explosive Dmg-type Consistency"
[E5500 Power Fist](https://github.com/bleehu/Compound_X/blob/45eb5e040a9a13c5af37f049a1b2afb27a807153/Items/04_01_Melee_%26_Thrown_Weapons.txt#L164-L176) calls it's damage type "concussive (explosive)".
We need to decide whether to call the overall damage type "concussive" or "explosive", then track down and correct all the instances.
Personally, I prefer "concussive" significantly over "explosive

[2018-04-30 05:52] rosebrallier opened #492 "Damage-types internal consistency"
https://github.com/bleehu/Compound_X/blob/45eb5e040a9a13c5af37f049a1b2afb27a807153/01_02_Damage_Types_and_Armor_Types.txt#L5-L6
The list of damage types in the document introduction is not consistent with the proceeding list of detailed damage types. One or both of them needs changing.

[2018-04-30 05:54] rosebrallier commented on #492
Also, hoo boy the structure of this entire document needs help. Perhaps we could organize it by damamge types rather than by a mix of weapon types and damage types.

[2018-04-30 06:02] rosebrallier commented on #372
Note to self: remember to consistently identify specific skill checks (ie "DC of Athletics checks to break down a door" as opposed to "door-breaking DC")

[2018-04-30 06:25] Turtlelord26 commented on #492
Of note, the "Melee Weapons" entry currently goes away with Melee 2.1.

[2018-04-30 06:49] Turtlelord26 opened #493 "Grenade Damage Type Pass and Sanity Check"
https://github.com/bleehu/Compound_X/blob/dev/Items/04_01_Melee_%26_Thrown_Weapons.txt#L290

1. Frag grenades don't specify damage type for primary hits. I believe we want it to be ballistic damage.
2. CID grenade doesn't specify damage type. (Internal?)
3. Plasma grenade doesn't specify damage type. Definitely plasma.
4. C10 and RMM HiEx do specify explosive damage, but see #491

5. These new fra

[2018-04-30 19:57] #473 closed, assigned to nobody

[2018-05-01 04:11] rosebrallier commented on #493
1. Aye from me on ballistic
2. @bleehu, halp
3. Aye
4. KILL ITTTTTT (imo)
5. Yeah, where do the "multiple hits" come from in an aesthetic sense? I'd understand specifying damage and bleed contingencies based on whether the shrapnel hits/pierces armor or not, but the whole "multiple hits" thing confuses me.
@bleehu ?

[2018-05-01 04:13] rosebrallier commented on #491
@bleehu any objections to folding explosive dmg under broader concussive dmg?

[2018-05-01 04:17] rosebrallier commented on #492
@bleehu signoff or objections?

[2018-05-01 04:18] rosebrallier commented on #454
@bleehu and/or @Turtlelord26 Is this resolved?

[2018-05-01 04:35] Turtlelord26 commented on #454
Not yet, we still need to relocate the rules text from the item documents.
Items 2 and 3 are good now I believe.

[2018-05-01 04:42] bleehu commented on #454
It's one of those awkward full-project scope issues that was initially published to see if the project as a whole would get greenlit.

[2018-05-01 04:45] bleehu commented on #492
There is some slight difference in the way that we are treating damage types; Maybe we should call the ones that 1Source came up with in his weapon/armor system weapon types? Or just merge the two systems? I think we want to just merge the two systems.

[2018-05-01 04:48] bleehu commented on #491
I think @Turtlelord26 and I had a very similar discussion about Blunt damage vs Internal damage vs explosive damage.... I'm getting some pretty serious deja vu. Lemme see if I can track down the issue/discussion.

[2018-05-01 04:53] Turtlelord26 commented on #492
Defining weapon types seems of dubious value anyway. If we redefine [Ballistic/Plasma/Laser] Weapon as "a weapon that deals [Ballistic/Plasma/Laser] damage", do all of the problems go away?

[2018-05-01 04:54] bleehu commented on #491
I swore it was a longer conversation than this, but I think we do a good job of capturing the potential pitfall of folding damage types.  https://github.com/bleehu/Compound_X/issues/362
@Turtlelord26 , correct me if I'm wrong, but we don't actually have blunt damage listed anywhere? If so, I suppose Blunt and Explosive are both folded under Concussive? Which in turn is countered by the Armor Type:

[2018-05-01 05:19] rosebrallier commented on #491
I don't have a strong preference for folding explosive under concussive, but I [STRONGLY](https://en.wiktionary.org/wiki/hill_to_die_on) object to concussive as a _subset_ of explosive (which it currently is re: [Explosives par](https://github.com/bleehu/Compound_X/blob/fe73c4745385c05680e994745292f40093771567/01_04_Damage_Types_and_Armor_Types.txt#L30-L34)).
The primary reference to blunt damage

[2018-05-01 05:34] rosebrallier commented on #492
As long as the solution [exterminates ](https://en.wiktionary.org/wiki/hill_to_die_on)any lists of damage types in which half of the items are labeled as weapons, I will be pleased.

[2018-05-01 05:43] Turtlelord26 commented on #491
[Evil Grin] I managed to delete blunt damage without folding it into anything else. Instead whatever the melee weapon's native damage type is is what slips past armor under the appropriate circumstances.

As far as I can tell, we only have the one Force/Shockwave Damage but we have two names for it (Minus a couple explosives, all instances of the damage seem to have both words. Does anyone know of

[2018-05-01 17:19] bleehu commented on #491
Make it so!

[2018-05-01 19:42] bleehu commented on #493
1. My enemies specify that their frags are ballistic. I suggest we standardize on that.
2. Internal works for me
3. :heavy_check_mark:
4. ayup
5. Which frags?

[2018-05-01 19:49] Turtlelord26 commented on #493
https://github.com/bleehu/Compound_X/blob/dev/Items/04_01_Melee_%26_Thrown_Weapons.txt#L347
https://github.com/bleehu/Compound_X/blob/dev/Items/04_01_Melee_%26_Thrown_Weapons.txt#L375
https://github.com/bleehu/Compound_X/blob/dev/Items/04_01_Melee_%26_Thrown_Weapons.txt#L407

[2018-05-01 20:21] bleehu commented on #493
It looks like a balance/value add to armor on the arms and legs? Pretty sure that's a 1Source question.

[2018-05-01 20:34] rosebrallier commented on #493
@1sourcecontrol Help! We'd love for you to explain these choices to us so we can make the description parse more easily.

[2018-05-02 18:39] Turtlelord26 opened #496 "Feature Request: Higher-Level Shotgun Ammo: Flechette Rounds"
Physically similar to buckshot - a spreading payload of lots of small objects. The difference is that in this case the objects are nauseatingly sharp bits of pointy, flight-stabilized steel instead of round lead balls.

[2018-05-02 18:59] bleehu commented on #496
Yes Please!!!!!

[2018-05-02 20:19] bleehu commented on #454
@Turtlelord26 I believe these three have been executed, but there is still work to be done to take rules out of the item docs. Can we open new issues to track that work and retire this one?

[2018-05-02 20:42] Turtlelord26 commented on #454
Certainly, but I would caution against messing with the melee weapon file until we get Melee 2.1 merged.

[2018-05-02 21:30] Turtlelord26 opened #498 "Realism Conundrum: Carbines weigh as much as Assault Rifles"
Carbine Minimum strength = 5, equal to Assault Rifle and Battle Rifle Categories, outweighed only by the LMGs*, Heavies, and Rocket Launchers (all clocking in at 6).
Context: SMGs and Shotguns clock in at 4 min STR.
*Light Machine Guns (Context: medium and heavy ones are always crew served, and the machine guns document is for individually operated weapons)

One of the biggest driving factors for

[2018-05-03 00:06] #454 closed, assigned to bleehu

[2018-05-03 00:08] bleehu opened #499 "Pull rules out of item docs"
To comply with our new guideline of not putting rules in more than one document and instead standardizing in rules documents.
https://github.com/bleehu/CX_Design_Guide/tree/master/DevProcesses#guidelines

[2018-05-03 00:43] Turtlelord26 opened #500 "Skill Requests: Weapons - [X]"
We're missing `Weapons - Carbine` and `Weapons - Assault/Battle Rifle`.  Can has please?

[2018-05-04 18:17] bleehu commented on #500
How did that happen?

[2018-05-07 17:31] Turtlelord26 commented on #363
Finished in #490

[2018-05-07 17:31] #363 closed, assigned to Turtlelord26, rosebrallier

[2018-05-07 18:27] bleehu commented on #438
See PR #477 and #478

[2018-05-07 18:27] #438 closed, assigned to bleehu

[2018-05-07 18:29] bleehu opened #502 "Update CXDocs to pull from Play branch."
We've broken basic rules into a bunch of different files, we should make this a lot easier to consume by users of CX Docs.

[2018-05-12 15:54] bleehu opened #503 "Feature request: Laser Alternate Ammunition (a la Attachments doc)"
Please!

[2018-05-12 16:07] bleehu opened #504 "Feature Request: Laser gun attachments"
Especially barrel attachments; a lot of the existing attachments only make sense for ballistic weapons. There is also no way of silencing a laser weapon.

[2018-05-12 19:51] Turtlelord26 commented on #504
And/or Flavor text on the ones we currently have to explain why they also work on plasma/laser

[2018-05-14 01:00] Turtlelord26 opened #505 "Gripe Query: Flash-bang Reflexes"
Flashbangs have PER saves to throw off the effect, but no provision for Reflex saves negating or reducing it entirely up-front. Imagine seeing the grenade incoming and reacting fast enough to cover one's eyes.

[2018-05-14 01:00] #365 closed, assigned to Turtlelord26, rosebrallier

[2018-05-14 01:00] #366 closed, assigned to Turtlelord26, rosebrallier

[2018-05-14 01:28] Turtlelord26 opened #506 "Gripe: Using medkits/repairkits to Stabilize"
Currently there are no listed mechanics for using medkits or repair kits to enhance attempts to stabilize downed characters. Can has plox?

[2018-05-14 01:51] Turtlelord26 opened #507 "Gripe Proposal: Hip-fire feat"
Investigate the possibility for a feat that improves hip-firing accuracy at point-blank ranges. May not be available to all classes / with all weapons.

[2018-05-14 01:57] Turtlelord26 opened #508 "Gripe: Thrown and Explosives Skill and Usage of"
In line with Melee 2.1 changes that remove skill points from directly modifying attack-related rolls, thrown and explosives skill should be stripped from things like thrown weapon accuracy and grenade tossing.

[2018-05-14 01:59] Turtlelord26 opened #509 "Gripe Feature Proposal: Light-amplifying Goggles"
Would allow normal vision in low-light conditions. Specifically does not use Infrared and does not "enhance" imagery, instead uses light-gathering and amplifying technology to make the view appear brighter than it is.

[2018-05-14 02:06] Turtlelord26 opened #510 "Gripe: Burst/Autofiring Accuracy Stacking"
The current proposed version of Expertise - Assault Rifle can combine with some lower rail attachments to make burstfire more accurate than semi-auto fire. This is, of course, wrong.

At the moment, it seems most reasonable to change the lower rail attachment to increase semi-auto accuracy as well as burst/auto, though redesigning assault rife expertise is also possible.

[2018-05-14 02:11] bleehu commented on #510
Lovin' the new Gripe label!

[2018-05-14 02:11] bleehu commented on #509
What effect would this have on watching a flashbang go off?

[2018-05-14 02:16] Turtlelord26 commented on #509
[Wince]

[2018-05-14 20:36] Turtlelord26 commented on #397
An alternative I would happily accept would be implementing a scaling point-buy system instead of our current 1-for-1 flat rate, a la DnD/Pathfinder

[2018-05-15 18:07] dfuchs2 commented on #504
How much noise does a laser gun make? Is it a loud hum? A hissing noise as hot coolant gas is vented from the gun?
I feel like addressing the noise created by the gun is the first step in determining a way to silence it.

[2018-05-15 18:13] Turtlelord26 commented on #504
Such questions are contained in #273, which while greenlit has been sitting quietly in a state of neglect for months while we've been working on more fundamental systems.

[2018-05-21 17:44] dfuchs2 commented on #434
misclick. I'm not going to use github without a mouse anymore.

[2018-05-22 15:36] bleehu commented on #434
No big deal; most mistakes on github are easy to fix =)

[2018-05-22 17:51] bleehu opened #514 "Dual Weild/Akimbo needs another pass"
Our existing Dual Wield and akimbo feats neither covers melee combat, nor has it been checked for balance or weapon type limit. Especially since we now have better tools to make this usable since melee 2.1 shipped.
I highly recommend keeping this off-limits for new devs; the potential for unbalancing here is substantial.

[2018-06-10 01:07] Turtlelord26 opened #516 "Gripe: Only two options for Long Rifles below lv 5"
There has been a request for another option or two, particularly an option for the filthy rich, successful lv 4 marksman who wants a weapon upgrade.

[2018-06-10 01:44] Turtlelord26 opened #517 "Gripe: Skill Points at Level One"
A strict reading of the relevant rules does not provide a clear answer to how many skill points a character has at level one.

Basic Rules: Secondary Stats: Skill Point Gain says only that you get skill points "every time you level up", while the Basic Rules: Leveling states level one skill points as 'given' + 'static'.

[2018-06-10 02:02] Reveraine opened #518 "Feature Request: Fort-based Exhaustion System"
The general idea is to have fortitude level change your ability to be able to combat various types of exhaustion.

[2018-06-10 02:40] Turtlelord26 opened #520 "Feature Request: Opaleite Water Goggles"
Item-based remediation to Opaleite racial conditional minus to perception while out of water.

[2018-06-11 23:09] bleehu commented on #520
Actually, this should be a really easy thing to add. Maybe assign it to W?

[2018-06-12 22:27] bleehu commented on #457
This is also going to create follow-up work in the CXDocs repo to add the new document to the website.

[2018-06-13 18:28] bleehu commented on #337
At the risk of sounding meta, can you be a little more specific? Is the problem that we don't know what nanites can and cannot do?

[2018-06-14 23:00] Wildlovelies opened #529 "Mendar is more op than Kensington at gaining followers..."
Mendar's colorful! Ability has no duration and no save after initial... so If I woo a crowd, do they follow me forever?

[2018-06-14 23:14] dfuchs2 commented on #529
Looks that way. Maybe they should roll a will save every turn?

[2018-06-14 23:20] Turtlelord26 commented on #529
Every turn is a lot of dice. How about every few minutes, plus a explicit break on entering combat?

[2018-06-14 23:21] bleehu commented on #529
Seems to me like it's an instant. So you'd have to roll every time you want to either calm or rile up a crowd you'd need to roll. But having a crowd riled or calmed is not the same as wooing a crowd into followers.

[2018-06-14 23:22] bleehu commented on #529
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/01_Species.txt#L292
for clarity

[2018-06-14 23:23] Turtlelord26 commented on #529
Ah, so it's intended to be more like a diplomacy check than a dominate person spell. That's how I thought at first but Wild's question seemed plausible...maybe we need a small quantity of guardrail text?

[2018-06-14 23:25] bleehu commented on #529
I think so; it wasn't a wild leap for Wild to make. at the very least, we should say what happens specifically if a will save is failed.

[2018-06-15 20:52] Reveraine commented on #169
Done in Dev

[2018-06-15 20:52] #169 closed, assigned to Reveraine

[2018-06-18 19:42] Turtlelord26 opened #537 "Rework Request: Formal hand grenade cooking mechanic"
Implied by Explosives Expertise 24 point bonus. Mechanic should allow expenditure of an Action while holding a pulled-pin grenade to cook it, causing it to detonate immediately upon reaching the target area. Should also have a critical failure chance, around 5% or so, with predictable results.

[2018-06-18 19:50] Turtlelord26 opened #538 "Feature Request: Indirect Fire Mechanic"
Request that when you know the location of an enemy even without LOS to them, You are allowed to target and fire at them, and even take aim, assuming you have an indirect fire capable weapon (such as a hand grenade, grenade launcher, guided rockets, artillery, bow, crossbow, sling, etc).

Indirect Fire would specifically not incur hip-fire penalties but would have an Indirect Fire penalty of at le

[2018-06-18 19:52] Turtlelord26 opened #539 "Feature Request: Grenade Callout mechanic"
Requesting addition of a mechanic that allows a character tossing a hand grenade to Call Out the grenade to their allies, thus granting a bonus (or Advantage) to any Saves inflicted by that grenade. This is not a feat, but a baseline mechanic written into the basic hand grenade rules.

[2018-06-18 19:55] Turtlelord26 opened #540 "Feature Request: Emplaced Explosives Anti-tampering Add-ons"
May imply more kinds of explosive add-on.

Essentially, I'm thinking of an additional class of items that a trained demolitionist can use in conjunction with things like C10 to prevent bomb disposal squads from defusing the explosive. Application would require Weapons - Explosive skill checks and have a critical failure range of ~5%, with unfortunate results.

[2018-06-18 20:06] #520 closed, assigned to Eryneril

[2018-06-18 20:18] bleehu commented on #537
A formal grenade cooking mechanic already exists: https://github.com/bleehu/Compound_X/blob/play/CharacterCreation/04_01_Melee_%26_Thrown_Weapons.txt#L211 That said, it leaves something to be desired.

[2018-06-18 20:19] bleehu commented on #539
You shouldn't have to "unlock" the ability to communicate with your teammates well. It might be good to make the mechanic explicit as a trade between stealth and avoiding friendly fire.

[2018-06-18 21:26] #474 closed, assigned to nobody

[2018-06-19 20:48] #499 closed, assigned to bleehu, Turtlelord26

[2018-06-19 22:21] #505 closed, assigned to Turtlelord26

[2018-06-22 01:51] Masterdiekillsu commented on #518
Encountering exhaustion in CX hasn't really been something I've seen, so I think we should first define what exhaustion in the game is exactly. from there, we can work out what penalties can work with stats.

[2018-06-22 03:48] Turtlelord26 commented on #518
Presumably, much like it's real-world counterpart, exhaustion occurs from too high of an exertion to rest ratio in a given time frame and as consequence you are generally less effective at most things. Yes?

[2018-06-22 04:10] rosebrallier commented on #518
As a start, characters should suffer exhaustion from failing to rest for a species-dictated amount of time each day. Exhaustion can be how we codify the resulting decrease in mental and physical effectiveness and efficiency. Exhaustion could also be the result of some intense medical procedure like resuscitation.
Consequence ideas:
- Penalty to skill checks; either disadvantage or a flat decrease

[2018-06-22 05:53] rosebrallier commented on #337
I think so. Lets try to hash this out in person?

[2018-06-22 06:03] rosebrallier commented on #517
If I change the text in Leveling from "Given Static 2xSkill Point Gain" to "Gain 2xSkill Point Gain per Level", will that clarify things?
The skill point column of Leveling is mean to be a single line of text.

[2018-06-22 06:09] rosebrallier commented on #517
Ahhh. And I'll write an "Assigning Skills to a Character" section into Basic Rules to clarify that at Lvl1, a character should have 2xSPG skill points to spend in addition to any class passives and racial traits.

[2018-06-22 06:12] rosebrallier commented on #517
@bleehu Is this plan in line with your understanding of the clarity problem?

[2018-06-22 15:49] bleehu commented on #517
I also think we should leave room for backgrounds to confer skills,  but other than that, ya!

[2018-06-22 19:35] bleehu commented on #529
@dfuchs2 can you tackle this?

[2018-06-22 19:36] bleehu commented on #254
@dfuchs2 Can you tackle this one too?

[2018-06-22 19:39] bleehu commented on #273
@rosebrallier, would you be comfortable tackling this?

[2018-06-22 19:49] dfuchs2 commented on #254
I'll check everything out when I get back to my computer.

[2018-06-22 19:54] bleehu opened #553 "Create Third Drone Series"
Before we ship the new reworked Drone series as part of @Reveraine's Species rework project, we need at least one, maybe two more Drone Series. Please make one!

When working on the new races, please note that you'll need to branch off of Rev's *Races-Push* branch (which is temporarily serves as a superbranch for Drone work) and *NOT dev*.
https://github.com/bleehu/Compound_X/blob/Races-Push/Chara

[2018-06-22 20:01] bleehu opened #554 "Issue Third Drone Series First Available Trait"
Once we've added the new third Class-A Drone Series, we'll need to give them an available trait. Please keep it balanced and hopefully work in some good differences in kind. https://github.com/bleehu/CX_Design_Guide/blob/master/DevProcesses/welcome.md#differences-in-scale-and-differences-in-kind
Be creative!

While yes, there are multiple issues on the same document, please refrain from hitting ma

[2018-06-22 20:02] bleehu opened #555 "Create Second Avialable Trait for the Third Drone Series"
Once we've added the new third Class-A Drone Series, we'll need to give them another available trait. Having more than one trait gives the players a meaningful choice. Please keep it balanced and hopefully work in some good differences in kind. https://github.com/bleehu/CX_Design_Guide/blob/master/DevProcesses/welcome.md#differences-in-scale-and-differences-in-kind
Be creative!

While yes, there a

[2018-06-22 20:13] bleehu commented on #503
Masterdie, could you make us some cool laser ammo?
Here's notes on how to do dev, in case you get stuck. Don't forget to reach out on slack if something doesn't make sense. https://github.com/bleehu/CX_Design_Guide/tree/master/DevProcesses#how-we-make-pull-requestsadd-new-stuff

Don't forget to branch off of the *dev* branch. https://github.com/bleehu/Compound_X/blob/dev/Items/04_00_WeaponAttachme

[2018-06-22 20:15] bleehu commented on #496
Masterdiekillsu, could you give us some new shotgun ammo? Don't forget to branch off of the *dev* branch.
https://github.com/bleehu/Compound_X/blob/dev/Items/04_00_WeaponAttachments.txt#L604

And here's the link to the how-to stuff in case you get stuck
https://github.com/bleehu/CX_Design_Guide/tree/master/DevProcesses#how-we-make-pull-requestsadd-new-stuff
https://github.com/bleehu/CX_Design_Guid

[2018-06-22 20:20] bleehu commented on #510
If we let foregrip increase single fire accuracy as well, we run into one of the issues that 1Source was trying to avoid, which was being so accurate that you can hit targets hunkered in cover.

Posting a link to the attachments in question for ease of navigation. https://github.com/bleehu/Compound_X/blob/dev/Items/04_00_WeaponAttachments.txt#L353
https://github.com/bleehu/Compound_X/blob/dev/Item

[2018-06-22 20:33] bleehu commented on #504
A laser in real life that is powered by banks of capacitors makes a tell-tale electric "snap" noise. It seems fair to me to expect a similar thing to happen with normal laser weapons in CX.

Assigning to Masterdiekillsu who it sounds like has some ideas.

[2018-06-22 20:34] bleehu commented on #516
Blocked by lack of good documentation on how to make a balanced weapon.

[2018-06-22 20:35] bleehu commented on #507
@Eryneril, want to take a crack at it?

[2018-06-22 20:51] bleehu commented on #369
Like this? https://en.wikipedia.org/wiki/Sling_(weapon)#Staff_sling It seems a little... niche? Maybe a house-ruled weapon?

[2018-06-22 20:52] bleehu commented on #345
@Wildlovelies, feel like doing some character creating?

[2018-06-22 21:06] bleehu commented on #336
Handled in #546

[2018-06-22 21:06] #336 closed, assigned to nobody

[2018-06-22 21:10] bleehu commented on #415
@Turtlelord26, can you turn this into a project plan in the design repo, and if implemented, I think this would go into the Galaxy Master's Guide?

[2018-06-23 00:16] Turtlelord26 commented on #415
Yes, I think that would be the appropriate place to put it. I'll assume form the lack of notes that no one has too big of a problem with the basic mechanics I proposed, so I'll make that board in design and transplant this issue into the GMG repo.

[2018-06-23 00:16] #415 closed, assigned to nobody

[2018-06-23 00:33] Turtlelord26 commented on #369
It is a little niche, but it has the advantage of requiring almost no tech base to build and use.
Maybe we sneak into our very very long range planning a low-tech rim-world supplemental rulebook? (and in that case, close this issue)

[2018-06-23 00:42] Turtlelord26 commented on #510
I hear that. I think I will try to find a replacement for that particular expertise bonus.

In that case, we should make a formal design note somewhere that only lower rail attachments are allowed to make specifically burst- and/or autofire more accurate.

[2018-06-23 04:14] 1sourcecontrol commented on #510
I believe this problem is already taken care of. When reworking all the weapons I was worried about all the possibilities so I made a hard-stop for auto-burst miss chances:

https://github.com/bleehu/Compound_X/blob/fa4df08b463211cf320d4d9bfd5e0b89524544a4/01_02_Combat_Rules.txt#L10
	At any time when using a melee or ranged weapon, you have a minimum of -2
weapon miss chance, and a minimum of 1 Au

[2018-06-23 04:16] 1sourcecontrol commented on #510
In case my rule wording isn't clear... let's say you have a 1 miss chance with semi, then the most accurate you can be with auto/burst is a 2 miss chance.

[2018-06-23 04:17] 1sourcecontrol commented on #537
When I added the cooking mechanic, I was concerned with the ever increasing complexity of thrown weapons and mechanics in general. So I tried to find a simple mechanic to fulfill such desires.

just as an FYI

[2018-06-23 04:23] 1sourcecontrol commented on #517
Humm. It doesn't say anywhere about "gain 5 skills at level 1 with 10 points each"? I woulda thunk we had that written down by C2.0.

But it sounds like the old system is gone anyways

[2018-06-23 04:27] Turtlelord26 commented on #517
Yes we deliberately killed the 5 skills at lv 1 thing to make room for backgrounds.

[2018-06-23 04:30] Turtlelord26 commented on #537
They don't seem significantly more complex than regular semi-auto gunfire. We can consider the cooking action to be analogous to the aim action, so I don't think we're adding significant complexity above our combat complexity baselines.

[2018-06-23 04:35] Turtlelord26 commented on #510
That was unclear. I've thought all along that you hard-stopped semi-auto acc at -2 and also, separately, hard-stopped burst- and autofire at 1. I'm going to go ahead a PR a wording update to that section (I think adding the word 'modifier' after 'Auto or Burst miss chance').

But in the long run, I prefer our systems be elegant enough that you have to work at it to run into one of the hard stops,

[2018-06-23 04:36] 1sourcecontrol commented on #491
FYI,

"concussive (explosive)" was to tell the player that the damage falls under explosives -- to bypass armor. While giving it the aesthetic (concussive) of what it physically is.

[2018-06-23 04:37] 1sourcecontrol commented on #491
So the emphasis was on the mechanics of where the player can find the rule and use it, vs aesthetic perfection.

[2018-06-23 04:57] 1sourcecontrol commented on #493
Backstory: when I made C2.0 I was trying to bring the grenades up to more realistic damages with the rest of the weapons. I.e., 1 frag grenade turns you into a hamburger. At close range, a ESCS frag will do 135 damage if you aren't mitigating it. Tried to build the aesthetic of a fragmentation device: the frag grenades (and the portable flack cannon) do damage to 2 or 3 parts of the body (dependin

[2018-06-23 05:13] 1sourcecontrol commented on #510
I see what you mean. When I wrote C2.0 I tried to design all auto/burst miss chance as a modifier.

Definitely what I prefer. After all, I don't want to just add another rule to the rule book. But I counted the cost and thought it would be too difficult to run increasing permutations on every new or existing way to reduce miss chance (feats/attachments/class/class choices/race).
But is it really a

[2018-06-23 05:51] 1sourcecontrol commented on #537
Grenades are by-in-large more complex than firing regular weapons in their specific uses/effects tho. In addition to firing guns, you have to measure an AoE, consider (often) multiple secondary effects (DCs for passing out, etc.), and make all affected players roll (and you'll inevitably have to remind players about the rules for passing out or w/e).  That coupled with learning and using the rules

[2018-06-23 07:21] Turtlelord26 commented on #493
Thanks!

Unfortunately, this style of grenade damage isn't going to work well with static armor. If I toss a grenade into a group of 4 targets, and those targets have static armor values, who rolls what to see if the nade hits them or their armor? Do I, as the attacker,
* roll acc on each on them after rolling acc to throw in the first place (unrealistic and too many dice),
* roll acc once after a

[2018-06-23 18:15] dfuchs2 opened #557 "Gripe: Combat stat bonus table is in the wrong place."

[2018-06-23 18:25] Reveraine opened #558 "Gripe: Hitting what you intend outdated terminology"
References miss chance, should reference Guard (non parenthetically). Nothing else about it needs to change.
-Turtle

[2018-06-23 18:33] dfuchs2 opened #559 "Gripe: Need reaction check"

[2018-06-23 20:18] dfuchs2 opened #560 "Gripe: Add fire extinguisher rules"

[2018-06-23 22:33] dfuchs2 opened #561 "Gripe: Medics cannot use contagions before lvl 3"

[2018-06-23 23:19] dfuchs2 opened #562 "Gripe: Mendar shouldn't be able to use Very Normal"

[2018-06-24 02:40] dfuchs2 opened #563 "Gripe: R_C/Conditions has incorrect data"
"Death and Dying" is no longer in the Basic Rules Document.

[2018-06-24 03:30] dfuchs2 opened #564 "Gripe: Low level medic needs pass."

[2018-06-24 04:44] dfuchs2 opened #565 "Gripe: Incorrect wording in Feats"
R_C Combat Expertise Feats say -1 miss chance instead of +1 accuracy

[2018-06-24 06:15] dfuchs2 opened #566 "Gripe: Doctor damage per turn"
In R_C Doctor Spells, it states that NF-34 and NF-40 damage is per turn, not per turn for the afflicted unit.

[2018-06-24 22:22] Reveraine opened #567 "Manual Tone Inconsistencies"
What do we want our tone to be? Right now, the rules vary from being very light-hearted and sometimes silly to serious and completely matter-of-fact. Before we can do a real, hardcore pass on the rules, we should decide how we want our manual to feel.

[2018-06-24 22:24] bleehu commented on #566
My bad. I'll get this one.

[2018-06-24 22:41] bleehu commented on #565
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/03_Feats.txt#L79
It's an open-close issue. Can you tackle it, Master?

[2018-06-25 00:05] bleehu commented on #564
In particular, level 2 and 3 have slightly lower utility than expected.

[2018-06-25 00:07] bleehu commented on #563
https://github.com/bleehu/Compound_X/blob/dev/01_05_Conditions.txt#L18

We should fix this in dev and let the fix trickle down by our usual release process. The above should now say "in combat rules section"

@Eryneril, can you take this one? I'm trying to spread the gripes out pretty evenly among our devs.

[2018-06-25 00:08] bleehu commented on #562
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/03_Feats.txt#L644 'cause fish people that have glowing scales are hard to consider "normal"

[2018-06-25 00:12] bleehu commented on #560
Expected as an item in the Items list.

[2018-06-25 00:13] bleehu commented on #559
Or do we want characters that have reaction abilities to be able to react to more than 12 things per round?

[2018-06-25 00:13] bleehu commented on #558
https://github.com/bleehu/Compound_X/blob/dev/01_02_Combat_Rules.txt#L86

[2018-06-25 00:15] bleehu commented on #557
Specifically, the combat stat bonus table was expected by players to be in the combat rules document. https://github.com/bleehu/Compound_X/blob/dev/01_01_Basic_Rules.txt#L249

[2018-06-25 00:20] bleehu commented on #517
But then we haven't finished backgrounds yet...

[2018-06-25 00:36] bleehu commented on #491
https://github.com/bleehu/Compound_X/blob/dev/Items/04_01_Melee_%26_Thrown_Weapons.txt#L134
is referencing this:
https://github.com/bleehu/Compound_X/blob/dev/01_04_Damage_Types_and_Armor_Types.txt#L25
needs to reconcile with
https://github.com/bleehu/Compound_X/blob/dev/01_02_Combat_Rules.txt#L90

My recommended fix is that we simply remove the concussive part; if being used by a character with 8

[2018-06-25 00:59] Eryneril commented on #560
Should it be in Misc Items or Tools?

[2018-06-25 01:14] Turtlelord26 commented on #491
I have flavor concerns about letting a fist deal explosive damage. Or are you suggesting changing the fist to deal normal ballistic damage? (That would be good by me, coupled with removing the word concussive from the explosive damage type entry.)

[2018-06-25 01:38] bleehu commented on #560
Consumable? Unless it's a space age extinguisher that you can refill?

[2018-06-25 01:40] bleehu commented on #491
I've miss spoken; remove the weird damage explanation altogether and let it deal melee damage like the swords did last night.

[2018-06-25 05:59] Turtlelord26 commented on #510
Addressed in #542, this can close once that PR merges.

Being clear, I don't want to nix the hard-stop. My attitude towards it is that I would rather have it and not need it than need it and not have it. And the balance question becomes a lot simpler if we make the design call to restrict the only kinds of bonuses that can break this particular hard stop to exactly one subset of attachments.

[2018-06-25 17:13] bleehu commented on #567
Having talked with Rev about it, I'm coming down on the side of having a more matter-of-fact universal tone. The game is fun enough that trying to dress it up with too much humor detracts from it and slows down the work on the rules.

[2018-06-25 17:27] Turtlelord26 commented on #567
We can always add fluff in strategic sections if we deem it appropriate at the very end, during a dedicated language pass with an eye at published consumption.

I was always going to prefer formalism, because that's what I'm more comfortable making.

[2018-06-25 19:54] #558 closed, assigned to Turtlelord26

[2018-06-25 21:47] bleehu commented on #369
Sure.

[2018-06-25 22:04] #435 closed, assigned to bleehu

[2018-06-25 23:21] #369 closed, assigned to Turtlelord26

[2018-06-26 00:21] Turtlelord26 commented on #559
I'm open to the possibilities of feats or abilities expanding character's abilities to react, but I want a baseline limit of 1/round.
If we start messing with that, remember that some of the most broken content I've seen out of DnD has involved attacks as Reaction-equivalent actions with high or unbounded limits on the number available.

[2018-06-26 03:16] #557 closed, assigned to Turtlelord26

[2018-06-26 06:23] rosebrallier commented on #567
Okay; I enjoy writing and reading in conversational tone, but I can live with formal. :(
We def did need to pin down our target tone though. Thanks for the issue Rev!

[2018-06-26 06:27] rosebrallier commented on #560
I love the idea of a rechargeable extinguisher! (which would put it under tools, with details on how to recharge). In related news, [this.](https://i.redd.it/ffczntn8u2jz.jpg)

[2018-06-26 06:29] rosebrallier commented on #517
I mean, we killed the lvl 1 5@10 rule for balance and aesthetic reasons too, right?

[2018-06-26 06:30] rosebrallier commented on #562
Wasn't there talk at some point of making Very Normal human-exclusive?

[2018-06-26 06:36] rosebrallier commented on #273
[Aye aye!](https://i.imgur.com/H2s53zY.gif)

[2018-06-26 06:57] Turtlelord26 opened #572 "Heavy Weapon Expertise (36) and our Philosophy of Accuracy"
From the depths of #542

  @bleehu
bleehu a day ago  Owner
I'm a little less ecstatic about this one. Why would you be more accurate against heavier armored targets? I have a feeling @rosebrallier would call aesthetic on it. I also notice that there's not a bonus to suppression on here. Could we instead do something like a bonus to accuracy rolls for shots taken in response to an enemy moving into

[2018-06-26 06:58] Turtlelord26 commented on #368
Status Update: Melee Expertise is in; Throwing Expertise is yet awaited.

[2018-06-26 07:10] Turtlelord26 commented on #508
This happened at some point during the Melee 2.1 process.

[2018-06-26 07:10] #508 closed, assigned to Turtlelord26

[2018-06-26 07:13] Turtlelord26 commented on #176
This is very stale and I am calling it dead, the sole remaining outstanding issue of nanite pool sizes having been subsumed by the 'Nanites as a Resource' design discussion.

[2018-06-26 07:13] #176 closed, assigned to Turtlelord26

[2018-06-26 07:28] Turtlelord26 commented on #493
574 addresses points 1 through 4 but not 5.

[2018-06-26 07:42] Turtlelord26 opened #577 "Melee Weapons need explicit damage types."
Blocked by #575 due to concurrent editing wariness.

[2018-06-26 08:03] rosebrallier opened #578 "Rules in item doc :("
https://github.com/bleehu/Compound_X/blob/1823535425f69e218f7652c7a1f7519659050988/Items/04_03_SMGs_%26_Shotguns.txt#L1-L8

[2018-06-26 08:06] rosebrallier commented on #578
nvm it's in all the gun docs

[2018-06-26 17:36] Turtlelord26 commented on #578
It is still correct that that rules snippet should be integrated into the weapons section of Combat Rules and not left in the gun item documents.

[2018-06-26 19:03] rosebrallier commented on #578
Fair enough :)

[2018-06-26 19:09] rosebrallier commented on #500
Resolved in PR #576.

[2018-06-26 19:09] #500 closed, assigned to rosebrallier

[2018-06-26 20:09] bleehu commented on #567
Addressing in this PR https://github.com/bleehu/CX_Design_Guide/pull/99

[2018-06-26 20:23] bleehu commented on #559
Can we expand that cap to three per round? Most other reactions also have another cost to them, or at least they should. I want pre-emptive strike to be the bane of the Antlion Hatchling rush, but not be broke-as-hell. I think that balance is closer to a 3 per round than 1 per round.

[2018-06-26 21:05] rosebrallier opened #581 "Species: Kurish"
Let's get them plizards y'all.
Pending completion of Project 9: Species Re-work.

[2018-06-26 21:09] #517 closed, assigned to rosebrallier

[2018-06-26 21:10] bleehu commented on #581
Please put some design goals and explicit out-of-scope docs in the design repo for what the Kurish should accomplish/add to the game. The design isn't blocked by species re-work; only the specific implementation.

[2018-06-26 21:34] bleehu commented on #577
The whole point of git is to be able to edit things concurrently! Go for it! (make sure to make each change in its own feature branch)

[2018-06-27 06:11] Turtlelord26 commented on #559
We can test that. Fair warning that this increases the likelihood that something in the future that looks ok breaks stuff. Would like a design note for that extra cost to Reactions.

[2018-06-27 17:27] #567 closed, assigned to bleehu, Turtlelord26, Reveraine, rosebrallier

[2018-06-27 17:42] bleehu commented on #559
https://github.com/bleehu/CX_Design_Guide/issues/102

[2018-06-27 17:49] #559 closed, assigned to Turtlelord26

[2018-06-28 05:59] rosebrallier commented on #372
There may be further instances to clean up, but the full repo has been reviewed for skills consistency as of PR #579.

[2018-06-28 05:59] #372 closed, assigned to rosebrallier

[2018-06-28 17:32] #96 closed, assigned to Eryneril

[2018-06-28 20:07] bleehu commented on #249
@Turtlelord26, now that we've shipped a penalty for having 1 luck and 1 cha, can we close this one out?

[2018-06-30 00:02] rosebrallier commented on #572
Because our armor currently absorbs damage, I imagine a hit as impacting the target, whether it hits flesh or armor. It's odd for me to imagine a bullet glancing off armor without having any impact on that armor.

[2018-07-02 01:26] Turtlelord26 commented on #572
True. But does that change if we go to a static armor system where Acc<x misses, x<=acc<=y hits armor, and y<Acc misses entirely?

EDIT: Acc<x misses ^armor^

[2018-07-02 05:56] Turtlelord26 commented on #249
Looks like the proposed alternative to min penalties is elsewhere, so it doesn't look like this meta-issue is doing anything anymore. I concur.

[2018-07-02 05:56] #249 closed, assigned to bleehu, Wildlovelies, Turtlelord26

[2018-07-03 09:24] rosebrallier commented on #572
Could you clarify the difference between "misses" and "misses entirely"? I gave it 24hrs and am still foggy on what you mean.
Also, will armor still absorb a set amount of damage/time when hit, or will that be exclusive to shields?

[2018-07-03 09:29] rosebrallier commented on #572
If armor only changes the DC to hit the target (as in d&d), then your perspective makes perfect sense to me. If armor absorbs damage in any way, then to me a miss cannot be described as a glancing blow.

[2018-07-03 16:17] Turtlelord26 commented on #572
@.@ I'm unfavorably impressed by my imprecision. I meant misses ^armor^ for the first expression.
Oops :(

[2018-07-03 16:19] Turtlelord26 commented on #572
I like that our armor can only take so much punishment so quickly before it stops helping. It has yet to be decided how that will interface with a static system. I will keep you in the loop on developments there.

[2018-07-04 21:35] bleehu opened #589 "Item request: fast rope"
It would be cool to have a rope for rappeling, fast roping, and maybe even setting your own zip line.

[2018-07-04 22:36] Turtlelord26 commented on #589
Sounds like a harness system. 🐢 like.

[2018-07-06 16:27] Turtlelord26 opened #591 "Gripe: Critical Rules"
No Critical success/failure rules in Basic Rules for skill checks.

Gun Jam (equivalent to attack roll critical failure) assumes constant jam range of two, but should reference the jam range stat on individual weapons.

Accuracy critical rules only probably apply to melee strikes, not explicit.
No critical rules for Guard (if we don't want any, we need to say so), no critical failure rules for mel

[2018-07-07 07:02] rosebrallier commented on #591
Shwoops. I'll copy the crit rules for skills over

[2018-07-09 18:28] rosebrallier opened #593 "Capitalization, Sentence Structure and Tone Consistency"
Pick through the repo for the following issues:

- Spelling
- Capitalization of: Saves, damage types, Skills, other CX-specific glossary terms, Status Effects
- Tone: convert lighthearted, conversational passages to more serious language
- Wording of Skill checks: skills are, in general worded [Skill] - [Subskill] (Stat) and should come out to something along the lines of "Roll a [Skill] check to

[2018-07-12 21:01] rosebrallier commented on #398
What's left to do to close out this issue?

[2018-07-12 21:50] Turtlelord26 commented on #398
Nothing! 😃

[2018-07-12 21:50] #398 closed, assigned to Turtlelord26

[2018-07-12 22:24] rosebrallier commented on #591
Skill check Criticals are written, in-combat rules still need help.

[2018-07-12 22:25] rosebrallier commented on #506
Done?

[2018-07-12 23:05] Turtlelord26 commented on #506
Thank for catch

[2018-07-12 23:05] #506 closed, assigned to nobody

[2018-07-12 23:09] Turtlelord26 commented on #591
A thought: instead of setting a crit-fail for melee weapons that always misses, give Guard a crit-success that always wins. Mathematically it's identical, but should feel better and solve the third subgripe clump (minus edge case of both rolls critting, which needs to be handled).

[2018-07-19 19:56] rosebrallier opened #594 "Gripe: Character Sheet"
New Character sheet required! Pending Backgrounds and Races.

[2018-07-19 19:58] rosebrallier opened #595 "Gripe: Recon-Med Armor Costs"
Costs of these armor rigs is out of proportion with both the current starting wealth of the classes that use them and the amount of protection they offer.

[2018-07-19 20:00] rosebrallier opened #596 "Gripe: Shock DC to save vs 70+ dmg"
Is exorbitantly high. Decreasing the DC may also help buff enemies.

[2018-07-19 20:01] rosebrallier opened #597 "Gripe: High Rolling Consistency"
Armor rolls :(

[2018-07-19 20:02] rosebrallier opened #598 "Gripe: Mvt and Sprinting Reference in Basic Rules"
references Basic Rules rather than Combat Rules

[2018-07-19 20:03] rosebrallier opened #599 "Gripe: Flamethrower Aoe"
Flamethrowers should have an Aoe option.

[2018-07-19 20:04] rosebrallier opened #600 "Gripe: Update Explosives Skill reqs"
For Grenades in Combat Rules. (Decrease from 10 -->6)

[2018-07-19 20:06] rosebrallier opened #601 "Feature Request: Runner"
A feat that could increase Move Speed (up to a hard maximum) without mucking with Dex or Str.

[2018-07-19 20:20] rosebrallier opened #602 "Feature Request: Character Flaws"

[2018-07-20 17:31] bleehu commented on #595
I'll take this one. Could we also add future gripes to the gripe project board? It helps me keep track of what our burndown looks like.

[2018-07-20 21:55] bleehu commented on #597
Duplicate of #189

[2018-07-20 21:55] #597 closed, assigned to nobody

[2018-07-22 21:21] Reveraine commented on #562
We have two options, currently Very Normal is in the works to be human-exclusive. However, with a few changes, and with backgrounds pending, we could have Very Normal be open to all species, but have the constraints be tied to backgrounds; for instance, a soldier could appear very normal to another soldier background, but someone with a dancer background would see through it.
That, of course, gets

[2018-07-22 22:16] rosebrallier commented on #562
I'm in favor of either human-exclusive Very Normal, OR it only working on people of the same species.

[2018-07-23 05:13] bleehu commented on #562
I like it for humans only.

[2018-07-23 05:15] bleehu commented on #602
Can we put together a project request/scope doc for this in CX_Design?

[2018-07-23 05:17] bleehu commented on #599
@dfuchs2 Do you think you can take this one? Or are you swamped?

[2018-07-23 05:18] bleehu commented on #598
This line here should say combat rules https://github.com/bleehu/Compound_X/blob/play/01_01_Basic_Rules.txt#L419

[2018-07-23 05:18] bleehu commented on #598
@Eryneril do you think you can tackle this one? Or are you swamped?

[2018-07-23 05:19] bleehu commented on #596
This line here https://github.com/bleehu/Compound_X/blob/play/01_02_Combat_Rules.txt#L214
Should we remove that exception entirely and simplify that rule out? @Turtlelord26 ?

[2018-07-23 05:20] bleehu commented on #594
This is blocked by class rebalance, backgrounds and some other details stabilizing out.

[2018-07-23 06:00] Turtlelord26 commented on #596
Are you asking whether we should remove the rule entirely? (It's a standalone rule, not an exception to another rule)
If so, I think I do agree that damage-induced Shock saves are an unnecessary rules complication and that CX would not be meaningfully diminished by their loss.

[2018-07-23 06:29] Turtlelord26 commented on #599
I rather like the lv 1 flamethrower as a single-target weapon that shoots smaller globs of fast-burn-up gel into faces. That said, we're also missing a higher-level flamethrower. Can we solve two problems at once here?

[2018-07-24 21:41] Turtlelord26 commented on #274
Closed in dev discussion.

[2018-07-24 21:41] #274 closed, assigned to nobody

[2018-07-25 00:47] #566 closed, assigned to bleehu

[2018-07-25 06:35] bleehu opened #605 "Add Combat Rules for conncurant d10 rolls"
As part of our design discussion on Tuesday, we've elected to keep rolling d10s in combat, but we need some rules for rolling a bunch of them at once for automatic fire.
These rules should cover:
* rolling a jam
* rolling a crit
* rolling more than one of each or both

[2018-07-25 06:38] bleehu opened #606 "Add note to character creator about weapon attachments"
Rev pointed out in our design meeting that not having weapon attachments at level 1, and needing more than one weapon attachment to make a difference in accuracy feels kinda bad. We should add a note to the character creation rules to not expect attachments until after you progress some.

[2018-07-25 07:50] bleehu opened #607 "Morph new Character Walkthrough into Character Creation Rules doc"
As per our design meeting on Tuesday, we need to explicitly state in our species doc that each character gets to pick 2 racial bonuses from the pool of traits from their species and subspecies.

[2018-07-25 07:56] bleehu opened #608 "Feature Request: Duck, bob and weave feat"
@Reveraine  brought up during the design meeting on Tuesday that we should have a feat that corelates moving quickly and erratically to increasing enemy miss chance. RoseB suggested that the feat be usable only on the last action of a turn; which @Turtlelord26 thought would make a good tactical choice between suppressing at the end of a turn. We should add this!

[2018-07-25 08:10] bleehu opened #609 "Update basic rules on nanites"
We need to update our basic rules to explain how our new nanites work and what they are in the lore.

[2018-07-25 08:12] bleehu opened #610 "Update Nanite Class feats"
There are several classes that use old-school nanites. We need to update them to our new nanite standards.

[2018-07-25 08:15] bleehu opened #611 "Update Active Feats to new nanite system"
as part of our push to update the nanite system, we need to change both the nanite costs of active feats and the description of how the nanites work to help the action.

[2018-07-25 08:17] bleehu opened #612 "Update cloaking to not use nanites"
as part of our push to update the nanite aesthetic to be less space magic, we need to change the armor document so that nanites no longer run cloaking and shield units.

[2018-07-25 08:19] bleehu opened #613 "Remove/update nanite pack item"
as part of our push to update nanites, we need to add the ability to purchase a nanite booster (if we're going to do that) and remove or update the item that allows you to get more nanites mid-combat.

[2018-07-26 01:33] #578 closed, assigned to bleehu

[2018-07-26 02:01] #514 closed, assigned to bleehu

[2018-07-31 02:28] Turtlelord26 opened #619 "Nanite Removal Issue Tracking: Medical Nanite Item"
Working on the Turtlelord26-Nanite_Removal_Project-Superbranch

Added a dummy item for Medical nanites. They need their description and rules filled out.
In particular, they need a unit limit by level rule, possibly as a new column in the leveling table.

[2018-07-31 02:28] Turtlelord26 opened #620 "Nanite Removal Issue Tracking: Active Feats"
Working on the Turtlelord26-Nanite_Removal_Project-Superbranch

Active feats need a dedicated rule paragraph to describe how to use Medical Nanites to pay for them.

[2018-07-31 02:28] Turtlelord26 opened #621 "Nanite Removal Issue Tracking: Rests"
Working on the Turtlelord26-Nanite_Removal_Project-Superbranch

Removed nanite mention from short and long rests, leaving them with no effects. They need effects.

Rests are known to heal characters and recharge battery packs, but may do more things.

[2018-07-31 02:40] Turtlelord26 opened #622 "Nanite Removal Issue Tracking: Battery Packs"
Working on the Turtlelord26-#612-Nanites_to_Energy branch, but open to all.

We need to decide whether batteries should stay as misc items, in which case they probably get a rule somewhere restricting the number that can be carried at once, or should turn into armor hard point items, which uses existing systems but competes directly for space with the items it powers.

[2018-07-31 08:00] bleehu commented on #620
This new rule should be in the feats document, right?

[2018-07-31 16:16] Turtlelord26 commented on #622
Batteries are leaning toward hard point items. We need to
- [x] Move batteries to the hard point equipment section in the armor document
- [x] Add baseline Energy Storage to shields and cloak modules.

[2018-07-31 16:18] Turtlelord26 commented on #620
Much like with the items documents, I would prefer feats to remain a pure list and leave the rules in the dedicated rules documents, in this case Basic Rules.

[2018-08-02 02:12] bleehu commented on #565
Handled in #627

[2018-08-02 02:12] #565 closed, assigned to Masterdiekillsu

[2018-08-03 05:35] Turtlelord26 opened #629 "Gripe: Clarity on Overcharged Laser Attachment"
https://github.com/bleehu/Compound_X/blob/dev/Items/04_00_WeaponAttachments.txt#L530

Does this mean if I shoot 6 bullets, I roll 5 with Jam +0 and 1 with Jam +2 (literalist reading), or 1 with Jam +0 and 5 with Jam +2? Flavor would suggest the latter.

Propose instead "Jam Range: +0, then +2 for each shot after the first. Resets whenever the weapon spends at least one Action not firing."
Though t

[2018-08-03 20:35] Turtlelord26 opened #631 "Neglected Rule: Criticals & Autofire"
https://github.com/bleehu/Compound_X/blob/R_C/01_02_Combat_Rules.txt#L465

We have not been paying any attention to this item at all. So, do we want to keep it? Does it serve an important balance function, or is it enough more fun to have many crits that we want to kill it?

[2018-08-03 20:38] bleehu commented on #631
I think we keep it. It's simple enough to remember, and it keeps a clamp on damage explosions

[2018-08-03 20:39] bleehu commented on #629
My bad. I'll update it.

[2018-08-03 20:50] Reveraine commented on #631
We're going to have to get better at remembering it, then =P

[2018-08-04 07:07] Turtlelord26 commented on #622
Handled by commits to the above named branch. Of note: shield have not gained built-in Energy storage, since they only use it for Fast Recharge (and giving shields energy that they can use only for fast recharge is not very different from simple capacity increases).

[2018-08-04 07:07] #622 closed, assigned to Turtlelord26

[2018-08-04 07:18] Turtlelord26 opened #635 "Nanite Removal: Engineer Energy vs Equipment Energy"
Working on the Nanite Removal Superbranch

These two resources need to not be able to interact, which means one of them is getting renamed and possibly reflavored.

[2018-08-04 07:55] rosebrallier commented on #635
Could we use Battery Power/Charge?

[2018-08-04 21:47] rosebrallier commented on #600
Idk when this got fixed, but it is now so YAY

[2018-08-04 21:47] #600 closed, assigned to rosebrallier

[2018-08-04 22:41] rosebrallier commented on #518
Hey friends, can I have some input on the suggested Exhaustion causes and consequences?

[2018-08-04 22:45] rosebrallier commented on #493
@Turtlelord26 What fixes do we still need to implement here?

[2018-08-04 22:55] rosebrallier commented on #337
Can we close this issue given our consensus on [Project 18](https://github.com/bleehu/Compound_X/projects/18)?

[2018-08-04 23:14] Turtlelord26 commented on #518
Failing to long rest is a good place to start for causes. 👍

I like the idea that Exhaustion just makes you that little bit worse at everything. Like a flat -5 to skill checks, saves, accuracy, guard, etc. All the things. At least, for the first level or two. Serious exhaustion could probably have some more specific and powerful consequences.

These are 🐢 thoughts.

[2018-08-04 23:15] Turtlelord26 commented on #493
We still need to address the complexity of the damage grenades and how they interact with armor, which is blocked by the Static Armor project.

[2018-08-04 23:25] Turtlelord26 commented on #635
Too much the same thing. I want it to be distinct enough that no one's asking awkward questions about why they can't jury-rig one to the other.

[2018-08-04 23:38] rosebrallier commented on #635
Something something different current output something something required amperage something something?

[2018-08-04 23:41] Turtlelord26 commented on #635
Level 10 Engineer with 60 points in Jury-rig rolls up and says "I have a transformer for that!"

I have a couple ideas. I didn't really like Energy in the Engineer anyway since it didn't feel right for a feedback resource like the Doc's adrenaline.
One of the ideas is in fact a straight replacement with Adrenaline.

[2018-08-04 23:59] rosebrallier commented on #635
How would we explain using a hormone for building things? Like it makes sense for medical stuff, but engineering?

[2018-08-05 23:38] #337 closed, assigned to rosebrallier

[2018-08-06 04:43] bleehu commented on #631
Can I close this as Won't-Do?

[2018-08-06 04:44] #631 closed, assigned to dfuchs2, bleehu, Turtlelord26, Reveraine, Masterdiekillsu, rosebrallier, Eryneril

[2018-08-06 05:18] bleehu commented on #572
@Turtlelord26 I don't remember what we decided on during the design meeting. Do you?

[2018-08-06 05:20] bleehu commented on #317
@Turtlelord26, @Reveraine, can we close this since it basically led to https://github.com/bleehu/Compound_X/projects/18?

[2018-08-06 06:28] Turtlelord26 commented on #317
Yes

[2018-08-06 18:15] #317 closed, assigned to bleehu, Turtlelord26, Reveraine

[2018-08-06 18:41] Turtlelord26 commented on #572
![static armor graphic](https://user-images.githubusercontent.com/23040366/43734566-f2dd9edc-996c-11e8-8e2e-8f5ee659cfa6.png)

I am now of the opinion that the 36 point bonus of Heavy Weapon Expertise is not flavorly compatible with this system and will replace it.

[2018-08-06 21:35] Turtlelord26 opened #643 "Item Redundancy: Welding Torches"
We have welding torches in the Melee Weapons doc and in the Items doc Tool section. They should not be in both places.

https://github.com/bleehu/Compound_X/blob/dev/Items/07_Items.txt#L5
https://github.com/bleehu/Compound_X/blob/dev/Items/04_01_Melee_%26_Thrown_Weapons.txt#L24

Note: Melee & Thrown is being worked on in the Energy superbranch, and this item was specifically updated.

[2018-08-06 21:39] #560 closed, assigned to Eryneril

[2018-08-07 21:51] Turtlelord26 opened #645 "Nanite Removal Issue Tracking: Class Primary Attributes"
Working in the Nanite Removal Superbranch

As the class "primary attribute" stat only affected the being-removed nanite bar, they are now vestigial and should be removed from the classes doc and from the basic rules.

[2018-08-07 22:06] rosebrallier opened #646 "Gripe: Suppression clarity"
https://github.com/bleehu/Compound_X/blob/29b02af2a26a8fc9eb7c16de04fc7fe3f2288805/01_02_Combat_Rules.txt#L749-L760

It's not explicit how many hits occur under Medium and Heavy suppression. We should clarify with "once" or "two times" as opposed to the more vague "hit" and "hit x2"

[2018-08-07 23:09] #577 closed, assigned to Turtlelord26

[2018-08-08 02:19] #491 closed, assigned to Turtlelord26

[2018-08-08 06:04] #646 closed, assigned to bleehu, Turtlelord26, rosebrallier

[2018-08-08 20:59] Reveraine opened #648 "Standard format for Stat buffs/attachments/changes in rules"
This is something I think we haven't really talked about, but I think it's worth mentioning, especially as we go through and make sure our rules match each other in tone and style. There is quite a bit to unpack here, but I have two main discussion topics.

1. Separating actual stat changes from flavor text

Examples:
Not all scope attachments have flavor text, and their range modifications are li

[2018-08-08 21:08] bleehu commented on #648
I'm glad you like the dot sight better, 'cause as part of standardizing to make play playable, I've added flavor text to all of 'em and moved to a much more dot-sight-example format in this PR:
https://github.com/bleehu/Compound_X/pull/644

I agree that standardizing on mathematical symbols to indicate stat change should be added to the style guide.

[2018-08-08 21:14] rosebrallier commented on #648
I agree wholeheartedly to everything!

[2018-08-08 21:48] Turtlelord26 commented on #648
Templates <3

[2018-08-09 00:10] bleehu opened #649 "Critical Hit Rules Need Clarification"
Our critical hit rules in the combat Rules document are a little... vague. They make it hard to give bonuses to crit range like I would like to for the new Hunter Class Feats. Rev has volunteered to clean them up.

[2018-08-13 01:20] Reveraine commented on #649
Currently waiting for PR Review =)

[2018-08-13 01:20] #649 closed, assigned to Reveraine

[2018-08-14 02:48] #572 closed, assigned to bleehu, Turtlelord26, Reveraine, rosebrallier

[2018-08-14 02:51] #612 closed, assigned to Turtlelord26

[2018-08-14 02:51] #609 closed, assigned to nobody

[2018-08-14 02:52] #608 closed, assigned to bleehu

[2018-08-14 02:56] Turtlelord26 commented on #492
Going to dredge this back up and ask again if we can dump weapon types and just have ballistic, plasma, and laser be damage types like the rest.

[2018-08-14 02:57] #430 closed, assigned to nobody

[2018-08-14 02:58] #420 closed, assigned to nobody

[2018-08-14 03:00] Turtlelord26 commented on #564
#315 may help here?

[2018-08-14 03:01] Turtlelord26 commented on #269
Have we fixed this? @bleehu

[2018-08-14 03:02] Turtlelord26 commented on #262
I wonder if a Doctor could be able to 'Nanite Restore' the new medical nanites...

[2018-08-14 05:17] bleehu commented on #269
@Reveraine, Is the work in PR #638 sufficient re-wording to make carry capacity legible?

[2018-08-14 05:18] bleehu commented on #564
It would, I'll hit it next sprint. This sprint I've shipped new Hunter, but am behind on character creator code.

[2018-08-14 05:19] bleehu commented on #262
Perhaps. Either way, it's an artifact of old nanites, and wasn't well-balanced even at the time.

[2018-08-14 05:21] bleehu commented on #430
Why did we close this?

[2018-08-14 05:22] bleehu commented on #492
Are we also dumping the relationship between shields/armor that ballistic/plasma/laser has?

[2018-08-14 05:26] bleehu opened #655 "Hunter dog needs awareness stat"
An easy fix, but one I should implement nonetheless.

[2018-08-14 05:30] Turtlelord26 commented on #430
It was eaten by the nanite removal project.

[2018-08-14 05:32] Turtlelord26 commented on #492
I wasn't thinking that we would, why?

[2018-08-16 00:27] dfuchs2 commented on #254
About Shield Upkeep, is that a now-unused term? I assume it refers to shield recharge rate, but the term "Shield Upkeep" doesn't appear to be used anywhere other than here (unless I've overlooked something).

[2018-08-16 06:34] bleehu commented on #254
That's a good question! @Turtlelord26, did you abolish Shield upkeep in later updates to shields?

[2018-08-16 20:23] Turtlelord26 commented on #254
Nope, shield upkeep still exists. It's a per-turn cost to maintain it. Used to be called nanite upkeep, so I changed it to energy upkeep, which is probably how it managed to hide. Shield upkeep might actually be a better word for it.

[2018-08-16 21:54] dfuchs2 commented on #599
Doesn't look like anybody has taken this one yet. I'll do it next sprint. I very much like the idea of a higher-level flamethrower that acts differently than the one we already have.

[2018-08-16 23:55] bleehu commented on #555
Handled in PR #626

[2018-08-16 23:55] #555 closed, assigned to dfuchs2

[2018-08-17 00:45] bleehu commented on #554
handled in PR #625

[2018-08-17 00:45] #554 closed, assigned to dfuchs2

[2018-08-17 01:00] #629 closed, assigned to bleehu

[2018-08-17 01:17] #529 closed, assigned to dfuchs2

[2018-08-17 01:20] bleehu commented on #374
Was this handled in #638 ?

[2018-08-17 01:26] Reveraine commented on #269
Yep! Looks good to me!

[2018-08-17 01:26] #269 closed, assigned to nobody

[2018-08-17 02:23] #605 closed, assigned to dfuchs2

[2018-08-17 02:34] #510 closed, assigned to Turtlelord26

[2018-08-18 00:58] dfuchs2 commented on #553
Is this now considered closed? Should we add any more drones, or should we keep to the three that we have?

[2018-08-18 05:18] bleehu commented on #553
Yes, this is closed.

I recommend that we stop at 3 drones for now and focus on getting races-push to a shippable state.

[2018-08-18 05:18] #553 closed, assigned to dfuchs2

[2018-08-29 01:43] #655 closed, assigned to bleehu

[2018-08-29 01:43] #561 closed, assigned to bleehu

[2018-08-29 21:45] bleehu commented on #607
So... We don't actually state in any of the rules that you should pick a Species at all for your character... Also, we have multiple species documents, some of which don't have filetypes. Should we put character creation in Basic Rules? Or make a separate Character Creation document? Or morph the first time player guide into a character creation rule page? What was our final verdict on whether or

[2018-08-30 00:21] Turtlelord26 commented on #607
I like morphing the new player walkthrough into a character creation rules doc and alluding to it as such from basic rules. I bet we can keep all the new player elements (and label them as such so that the experienced know what they can skip) without compromising either objective.

I think we decided to keep each species as its own doc. At least, I prefer that.

[2018-08-30 00:24] rosebrallier commented on #607
Perhaps a quick list of available species in character creation, with the full text in separate files?

[2018-09-06 20:56] bleehu commented on #264
Need to finish merging PR #668 so that we don't overwrite the binary image file for the doctor procedure tree; binary files cannot be combined in git.

[2018-09-06 23:35] #496 closed, assigned to Masterdiekillsu

[2018-09-06 23:35] Masterdiekillsu commented on #496
Feature Added! Issue closed

[2018-09-07 23:42] Reveraine opened #670 "Visibility Rules"
We don't have written rules on how far a normal individual can see in various lighting conditions.

[2018-09-09 21:04] bleehu opened #671 "Gripe: How much ammo do I get to start?"
We should make this explicit, perhaps in a new Making a character doc?

[2018-09-09 21:09] bleehu opened #672 "Gripe: Frag grenades do what?"
The explination of grenades doing 3 or 2 wounds is unnecessarily complex. https://github.com/bleehu/Compound_X/blob/R_C/Items/04_01_Melee_%26_Thrown_Weapons.txt#L310. We should reword and/or rework this to make it easier to understand and quicker to play.

[2018-09-09 21:18] bleehu opened #673 "Gripe: Reword medkit"
The medkit item description makes no sense; and medkit rules are both in combat rules and item rules. We should clean up the wording and de-duplicate the repair/healing rules

[2018-09-09 21:27] bleehu opened #674 "gripe: add note in armor"
In the armor section of combat rules, make a note that most arrmor stops electrical damage.

[2018-09-09 21:37] bleehu opened #675 "Gripe: But I don't get Stealth until I'm level 10!"
We desperately need to re-word the way we give class skill points. And we should call them points.

[2018-09-15 21:43] bleehu opened #681 "Doctor Class could use more Class Feats"
The Doctor Class only has one Class Feat to choose from at level 5, and the level 10 offerings aren't stellar.

[2018-09-15 22:27] Turtlelord26 commented on #681
That said, they get some cool abilities at every level so maybe their class feats shouldn't be the most exciting?
Second the level 5 issue though.

[2018-09-16 06:05] rosebrallier opened #694 "Condition- Unconscious"
Oooops.

[2018-09-16 07:56] bleehu opened #695 "Vehicle master class feat unbalanced"
The vehicle master Pilot Class feat was written before our new and improved skill rules. It allows a pilot to roll over 200; the hard limit. It needs to be nerfed or replaced.

[2018-09-25 01:03] bleehu commented on #610
working on handling in PR #687 PR #683 PR #684 PR #685 PR #688 PR #689 et. al. The work was broken up by class to prevent a problem with one feat from keeping all of them from being updated.

[2018-09-26 01:43] dfuchs2 opened #700 "Create a vacuum optimized flamethrower fuel"
Standard flamethrower fuel does not work in vacuum. We should make a fuel that has a built in oxidizer that allows for use in space.

[2018-09-29 01:46] #564 closed, assigned to bleehu

[2018-09-29 02:09] #700 closed, assigned to dfuchs2

[2018-10-22 05:38] Turtlelord26 opened #703 "Add Berserker to suggested New Player Classes in New Player Walkthrough"
From design progress in class philosophy. Berserker intended for newer and/or less mechanically engaged player types.

[2018-10-22 05:40] #367 closed, assigned to Turtlelord26

[2018-10-28 21:11] Turtlelord26 opened #704 "Grappled State Action Limitation Too Harsh"
We consider the current state of "characters in the grappled state are limited to one Action per turn" to be unnecessarily punishing. Requires further discussion to discover a good solution state.

[2018-11-01 20:31] #599 closed, assigned to dfuchs2

[2018-11-02 06:19] Reveraine commented on #433
Run on August 9th =)

[2018-11-02 06:19] #433 closed, assigned to Reveraine

[2018-11-02 06:52] #368 closed, assigned to Turtlelord26

[2018-11-02 17:28] #492 closed, assigned to bleehu, Turtlelord26

[2018-11-03 22:14] bleehu commented on #230
This has been done https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/00_00_Creating_a_character.txt#L51

[2018-11-03 22:14] #230 closed, assigned to nobody

[2018-11-03 22:15] bleehu commented on #232
Blocked by backgrounds section missing.

[2018-11-03 22:16] bleehu commented on #243
Closing this out as Won't-Do; stale

[2018-11-03 22:16] #243 closed, assigned to 1sourcecontrol

[2018-11-03 22:17] bleehu commented on #264
Closing as done.

[2018-11-03 22:17] #264 closed, assigned to bleehu

[2018-11-03 22:21] bleehu commented on #437
Closing as a duplicate of issue #232

[2018-11-03 22:21] #437 closed, assigned to Turtlelord26, rosebrallier

[2018-11-04 21:50] Turtlelord26 commented on #704
Note: the Assassin class feats Grapple Gremlin and Grapple Ghost will need to be updated as well to correspond to the new rules. I would suggest something along the lines of "one additional action" for the assassin to reduce the dependency.

[2018-11-04 22:04] Turtlelord26 opened #711 "Feature Request: Balanced Stable of Melee Weapons of Various Sizes"
Berserkers will thank us.

But more generally, we need more melee weapons to fill out all of the size categories at each level bucket.

[2018-11-06 21:46] dfuchs2 commented on #254
I'm still not entirely clear on shield upkeep. Is it an energy cost to recharging shields? I haven't seen any documentation anywhere related to shields that refers to it.

[2018-11-06 21:56] Turtlelord26 commented on #254
Reading now, I also concur that shields do not appear to have an upkeep. None of the item entries have such a stat specified. I am not sure what I was looking at before, but it was probably cloaking modules.

[2018-11-12 02:07] Reveraine opened #714 "Gripe: Secondary Stat Wording"
Double-check Secondary Stat wording.

[2018-11-12 02:10] Reveraine opened #715 "Gripe: Stat Modifier Table"
Create a Stat modifier table, to decrease math required to make a character.

[2018-11-12 05:30] Reveraine opened #716 "Gripe: Melee Crit Fail Checks"
Extend melee crit failure rules for improvised melee firearms to include maneuver checks.

[2018-11-17 08:56] #716 closed, assigned to Turtlelord26

[2018-11-27 18:50] Turtlelord26 opened #718 "Feature Proposal: Save bonuses increase by level by class"
To allow easier balance of Saves across the leveling experience, to differentiate the classes more, and to help out #382, we should consider Save bonus scaling.

Characters would receive a +X, +Y, +Z, +W to their saves each level, and we could apportion fast/med/slow growth to each save differently based on class, to mirror the kind of training that class makes use of.

Must keep #383 in mind, as

[2018-11-28 17:34] bleehu opened #719 "Focus Energy Feat uses outdated language"
The "Focus Energy" feat is a holdover from the TRowl days, and still refers to "spells". My vote would be to just yank it from the game, but if someone can update it well, then we'd still have one more feat to chose from.

[2018-11-28 17:40] bleehu opened #720 "Monk Feat is useless"
The Monk feat is outdated now that melee 2.1 has shipped. I think we just yank it.

[2018-11-28 17:46] bleehu opened #721 "Nanite Absorbsion Feat makes no sense"
The nanite absorbsion feat was one of the last feats added before @rosebrallier and @Reveraine started keeping us honest about making our mechanics make some sort of sense. As written, Nanite absorbsion is buckshot [autocorrected] nanite magic. I'd _like_ to have something to replace this, but regardless of wether we have something new to put in, the old feat needs to come out.

[2018-11-28 17:54] bleehu opened #722 "Feature Request: Room Clearing Combat Rules"
The "Point man" feat and weapon reflex modifiers both point to a cool rule that TRowl came up with around the start of the game that never got written down. There's supposed to be a stack-up and room-clearing system where the players and enemies roll reflex saves against each other to determine who shoots first. For those of you who have played the popular "Rainbow 6 Siege" you should have some id

[2018-11-28 17:59] bleehu opened #723 "Salty Spacedog feat needs an update"
The Salty Spaces of feat uses the old % notation for skill buffs. We should either update it to give a balanced bonus in the correct terms,  or yank it and replace it with @rosebrallier's new and awesome background system.

[2018-12-08 08:39] Turtlelord26 commented on #635
Closing out as complete assuming eventual merge of the Nanite Removal Superbranch.

[2018-12-08 08:39] #635 closed, assigned to Turtlelord26

[2018-12-10 16:17] bleehu opened #738 "Need a review on steady shot active feat"
If you take the feat four times, you can shoot dudes who are hunkered.

[2018-12-24 00:48] Reveraine opened #740 "Gripe - Missing Holster"
We do not have any sort of holster item that is purchasable from the items list/stores.

[2018-12-24 04:12] Reveraine opened #741 "Gripe - Backstab Feat"
Backstab Feat Level progression feels weak.

[2018-12-30 07:31] Turtlelord26 commented on #610
@Bleehu are there any class feats left to modify or can we declare victory?

[2018-12-30 07:32] #611 closed, assigned to nobody

[2019-01-03 02:46] bleehu commented on #610
Victory is mine!

[2019-01-03 02:46] #610 closed, assigned to nobody

[2019-01-05 07:07] bleehu commented on #722
Shipp'd

[2019-01-05 07:07] #722 closed, assigned to bleehu

[2019-01-05 08:02] bleehu commented on #233
Please see PR #746 and PR #747. Because if you don't do something for a whole year, eventually I'll pick it up myself.

[2019-01-05 08:03] bleehu commented on #192
Please See PR #519

[2019-01-05 08:04] bleehu commented on #298
This was moved to the GM guide

[2019-01-05 08:04] #298 closed, assigned to Reveraine

[2019-01-05 08:07] bleehu commented on #299
If it sits for a year, I'll do it myself. See PR #746

[2019-01-10 02:16] rosebrallier commented on #723
Imo, the feat is different enough in function from Iron Stomach that I'd prefer to just edit it.

[2019-01-10 02:57] rosebrallier commented on #723
See PR #749

[2019-01-10 03:14] rosebrallier commented on #273
Vaguely in progress at [rb-Sound_Levels](https://github.com/bleehu/Compound_X/tree/rb-sound-levels)

[2019-01-10 04:52] bleehu commented on #723
:shipit: Shipit Squirrel!

[2019-01-10 07:50] rosebrallier commented on #723
Complete re PR #749

[2019-01-10 07:50] #723 closed, assigned to rosebrallier

[2019-01-10 08:37] rosebrallier opened #753 "Write introductory prose for Backgrounds"
Flavor text and mechanical description is needed for:
-Basic Rules.txt
-Character Creation.txt
-Backgrounds.txt

[2019-01-10 08:38] rosebrallier opened #754 "Write and format Location of Origin perks"
All 7 perks are written. They need descriptions, formatting, and accompanying Language rules.

[2019-01-10 08:43] rosebrallier opened #755 "Write and format Social Class perks"
11/10 perks are written. 6/10 need descriptions. All need to be stylized, formatted, and committed to rosebrallier-backgrounds.

[2019-01-10 08:48] rosebrallier opened #756 "Write and format Profession perks"
4/12 perks written (7/12 have titles). 11 require descriptions. All req stylization, formatting and commital to rosebrallier-backgrounds.

[2019-01-10 22:31] dfuchs2 commented on #254
Is there anything else to do here, or should this one be closed? I got the other rules added in.

[2019-01-10 22:52] Turtlelord26 commented on #254
Throw it in the fire!

[2019-01-10 22:52] #254 closed, assigned to dfuchs2

[2019-01-11 03:00] bleehu opened #757 "Create ECSC Drone Racial Armor"
The new Security Drone has a species feat that allows it access to built in armor. But as far as I know, that armor doesn't exist anywhere. The ask for this ticket is to either create that armor and add it, or to remove that species feat and replace it with another that is also well-balanced.

https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_02_Species_ECSC_Security_Drone.

[2019-01-13 00:43] rosebrallier opened #758 "Gripe: Thermal damage missing"
I thought we agreed to roll Cold and Fire damage into Thermal damage, but there is no Thermal (or Cold) damage in [Damage and Armor Types](https://github.com/bleehu/Compound_X/blob/dev/01_04_Damage_Types_and_Armor_Types.txt), only Fire damage. When did this happen? Was it on purpose?
Blocking editing work on Human Species.

[2019-01-13 00:47] rosebrallier opened #759 "Bug: No Blindness Condition"
Blindness is referred to in Flash Bangs and in Human Species files, but is not described under Conditions.

[2019-01-13 02:13] bleehu commented on #759
Good Catch, R!

[2019-01-13 05:08] bleehu opened #761 "Add Species.txt doc to Character Creation Directory"
As discussed earlier, we should add a single document that gives an overview of all of the species that we've made, allowing the specific rules to be elucidated in the species specific pages. This ticket is the small chunk of work for making the page, adding the title and subtitles.
There should be a merge before beginning to actually pen each individual summary.

[2019-01-13 05:10] bleehu opened #762 "Add Humans brief to 01_00_species_overview.txt"
Once Issue #761 is done, we'll need to add a couple of brief paragraphs summarizing what a human is and what it's like to play them. This paragraph should be added to the Species.txt document in Character Creation.

[2019-01-13 05:10] bleehu opened #763 "Add Tundari Brief to 01_00_Species_overview.txt"
Once Issue #761 is done, we'll need to add a couple of brief paragraphs summarizing what a Tundari is and what it's like to play them. This paragraph should be added to the Species.txt document in Character Creation.

[2019-01-13 05:11] bleehu opened #764 "Add Security Drone Brief to 01_00_Species_overview.txt"
Once Issue #761 is done, we'll need to add a couple of brief paragraphs summarizing what a ECSC Security Drone is and what it's like to play them. This paragraph should be added to the Species.txt document in Character Creation.

[2019-01-13 05:12] bleehu opened #765 "Add Opalite Brief to Species.txt"
Once Issue #761 is done, we'll need to add a couple of brief paragraphs summarizing what an Opalite is and what it's like to play them. This paragraph should be added to the Species.txt document in Character Creation.

[2019-01-13 06:54] bleehu opened #768 "Write Traits Blurb in 01_00_Species.txt"
The new Species rules needs a blurb on what traits are under the appropriate heading.

[2019-01-13 06:56] bleehu opened #769 "Write the Species Blurb in 01_00_Species_Overview.txt"
We should write some rules for what species are overall. There may be some old work we can pilfer for this. This blurb should go under the Species top heading in the Species overview file.

[2019-01-13 06:58] bleehu opened #770 "Write Subspecies blurb in 01_00_Species_Overview.txt"
Not all Sub-species are called sub-species; Tundari have clans and Security Drones have series. We should explain this in a blurb under the SubSpecies section in species overview.

[2019-01-13 07:13] bleehu opened #771 "Clarify Very Normal Human Species Trait"
The human species trait very normal could use a little more prose before it goes live.
https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_01_Species_Human.txt#L114

[2019-01-13 07:15] bleehu opened #772 "Clarify Sixth Sense Species Trait"
The Sixth Sense Human Species trait should have a little more prose, and we should remove the 6th Sense feat so as not to make it redundant

[2019-01-13 07:19] bleehu commented on #758
I think I got called out. I failed to make the change in this PR. https://github.com/bleehu/Compound_X/pull/358/files

That would mean that our frost-resistant Western Earthlings would be resistant to fire as well as frost, but I think that actually holds more accurately to how physics works.
https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_01_Species_Human.txt#L171

[2019-01-13 07:20] bleehu commented on #758
I'll tackle this as part of gripe processing in sprint-after-next.

[2019-01-13 07:24] bleehu opened #773 "Update Inhuman Strength to conform to med nanites"
The ECSC Secutiry Drone Available Trait (Species Trait) "Inhuman Strength" got caught in a concurant change with medical nanites and is out of compliance with med nanites. We need to re-work the trait or remove it.
https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_02_Species_ECSC_Security_Drone.txt#L106

[2019-01-13 07:36] bleehu opened #774 "Add numbers to Tundari Clawed Species Trait"
The "Clawed" Species trait needs some specific numbers for melee damage increase.
https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_03_Species_Tundari.txt#L122

[2019-01-13 07:39] bleehu opened #775 "Prehensile Tail needs mechanics clarification"
https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_03_Species_Tundari.txt#L133
Clear up the mechanics a little, would'ja?

[2019-01-13 07:41] bleehu opened #776 "Add balanced numbers to "Powerful" Species Trait"
The Species trait "Powerful" in the Sang'Mau Tundari Species doc could use some specific mechanics.

https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_03_Species_Tundari.txt#L201

[2019-01-13 07:51] bleehu opened #777 "Clarify Tough Skinned Species Trait"
The Opalite Chondrich subspecies has the "Tough Skined" trait. It could use some better prose, better mechanical description.

[2019-01-13 07:53] bleehu opened #778 "Give Chondrichs a second Species Trait"
The Opalite sub-species Chondrich only have one abailable trait to choose from. We should add another one that is balanced and lends itself to playing a Chondrich.
https://github.com/bleehu/Compound_X/blob/SS/Races/Opaleites/CharacterCreation/01_04_Species_Opaleites.txt#L140

[2019-01-13 07:59] rosebrallier commented on #761
Close per PR #767

[2019-01-13 07:59] #761 closed, assigned to Reveraine, rosebrallier

[2019-01-13 07:59] bleehu opened #779 "Write Opalite brief"
Each species has a brief description of what they are and how they play at the top of the page, I ran out of time to write it for the opalite when I spun it off.

https://github.com/bleehu/Compound_X/blob/SS/Races/Opaleites/CharacterCreation/01_04_Species_Opaleites.txt#L5

[2019-01-13 08:04] bleehu opened #780 "Write the description of Sea Devil"
https://github.com/bleehu/Compound_X/blob/SS/Races/Opaleites/CharacterCreation/01_04_Species_Opaleites.txt#L154

The appearance section of the Sea Devil Opalite sub-species is blank. We should fill that in.

[2019-01-13 08:09] bleehu opened #781 "Write description for Deep Glow"
The Opalite Sub-Species Sea Devil has a Species Trait "Deep Glow" that needs some prose before we're ready to release the new Opalites.

https://github.com/bleehu/Compound_X/blob/SS/Races/Opaleites/CharacterCreation/01_04_Species_Opaleites.txt#L162

[2019-01-13 08:10] bleehu opened #782 "Write Bioluminesce Species Trait"
The Sea Devil Sub Species of Opalite has a Species Trait "Bioluminecse" Which lacks a description or mechanics. Let's fill that in so we can release the new opalite!
https://github.com/bleehu/Compound_X/blob/SS/Races/Opaleites/CharacterCreation/01_04_Species_Opaleites.txt#L162

[2019-01-13 08:22] rosebrallier commented on #771
See PR #760

[2019-01-13 08:35] rosebrallier commented on #772
See proposed fix in PR #760

[2019-01-14 08:07] Turtlelord26 opened #783 "Thrown Weapon Damage from Unarmed Feats"
https://github.com/bleehu/Compound_X/blob/Turtlelord26-Nanite_Removal_Project-Superbranch/01_02_Combat_Rules.txt#L343

This line refers to a damage bonus granted to thrown weapons by the unarmed combat feats. I really should cull it and put the damage bonus in the feat descriptions or no one will remember this rule.

[2019-01-15 07:12] Turtlelord26 commented on #262
I think I want to try enabling that function. It might become a balance nightmare and have to be yanked, but we won't know that unless we try. Similar logic for #613 replacing the nanite pack instead of deleting it entirely. Implementation soon.

[2019-01-16 01:33] bleehu commented on #719
Turtle is fixing this in PR #788

[2019-01-16 01:43] #721 closed, assigned to nobody

[2019-01-16 01:44] #719 closed, assigned to nobody

[2019-01-16 01:44] #621 closed, assigned to nobody

[2019-01-16 01:45] Turtlelord26 commented on #645
accomplished in #743

[2019-01-16 01:45] #645 closed, assigned to Eryneril

[2019-01-16 04:57] bleehu opened #789 "Synchronize Plasma effects"
One of Turtle's comments on https://github.com/bleehu/Compound_X/pull/751 was that we should have the plasma burn APL penalty in conditions and for plasma damage in the damage types docs. We should make those match.

[2019-01-16 04:57] bleehu opened #790 "Update conditions to use thermal damage instead of fire/ice damage"
Some of the conditions use the old fire damage terminology and we need to fix that.

[2019-01-16 05:00] bleehu opened #791 "Capitalization run in combat rules"
We have a guideline to capitalize proper nouns that are game terms. There are several violations of this rule that Rev pointed out in comments on https://github.com/bleehu/Compound_X/pull/751 in the combat rules. The ask for this ticket is to run through that document and fix the offenders.

[2019-01-16 05:01] bleehu opened #792 "Capitalization in Conditions"
We have a general guideline to capitalize the proper noun game terms that mean something specific in our system. Rev pointed out several violations of this rule in the Conditions document in this PR: https://github.com/bleehu/Compound_X/pull/751. The ask for this ticket is to clean those up.

[2019-01-16 06:50] rosebrallier commented on #772
Closed with PR #760

[2019-01-16 06:50] #772 closed, assigned to rosebrallier

[2019-01-16 06:51] rosebrallier commented on #771
Closed with PR #760

[2019-01-16 06:51] #771 closed, assigned to rosebrallier

[2019-01-21 21:22] #777 closed, assigned to bleehu

[2019-01-21 21:25] #775 closed, assigned to bleehu

[2019-01-21 21:32] bleehu opened #796 "Damage types are out of order"
What does "misc damage types" mean anyway? Why is fall damage under protection types? We should reorganize that whole file.

[2019-01-21 22:37] #296 closed, assigned to Reveraine

[2019-01-21 22:38] bleehu commented on #296
Not sure when this was done, but it is.

[2019-01-25 20:31] #262 closed, assigned to bleehu, Turtlelord26

[2019-01-25 20:31] #613 closed, assigned to Turtlelord26

[2019-01-31 19:10] #620 closed, assigned to nobody

[2019-02-01 02:03] #769 closed, assigned to bleehu

[2019-02-01 03:10] #773 closed, assigned to dfuchs2

[2019-02-01 06:57] rosebrallier opened #805 "Rate limiting Saving Throws against single, ongoing effects"
We should probably only allow characters to Save once per turn against a Condition or other effect. We never explicitly state as much, and there's a massive balance difference b/t rolling a save once on a turn and rolling the save for ALL 4 ACTIONS of a turn.

[2019-02-01 07:44] rosebrallier commented on #792
Resoved re PR #803

[2019-02-01 07:44] #792 closed, assigned to rosebrallier

[2019-02-02 19:48] bleehu commented on #805
Hard agree

[2019-02-03 23:15] Turtlelord26 opened #809 "Reintroduce Duck, Bob, and Weave with Medinites"
Oi, silly turtle! You deleted a feat in #804! Fix!

[code]

[2019-02-04 02:54] Reveraine opened #810 "Gripe: Improvised Thrown Weapons"
Improvised thrown weapons needs guard rules.
The possible distance for Improvised thrown weapons needs to be reevaluated.

[2019-02-06 03:51] rosebrallier commented on #810
So, a strict reading of the [thrown weapons rules](https://github.com/bleehu/Compound_X/blob/f1201dd0744a03568d550640ef6aa60bf5f27885/01_02_Combat_Rules.txt#L392) indicates that Improvised Thrown Weapons should have Miss Chances equal to a miscellaneous Thrown Weapon of the same size, [-2 Accuracy.](https://github.com/bleehu/Compound_X/blob/f1201dd0744a03568d550640ef6aa60bf5f27885/01_02_Combat_Rul

[2019-02-06 03:53] rosebrallier commented on #694
Closed re PR #808

[2019-02-06 03:53] #694 closed, assigned to rosebrallier

[2019-02-07 00:18] rosebrallier commented on #675
Resolved via PR #812

[2019-02-07 00:18] #675 closed, assigned to rosebrallier

[2019-02-08 21:25] #809 closed, assigned to Turtlelord26

[2019-02-14 02:00] #758 closed, assigned to bleehu

[2019-02-14 02:34] bleehu commented on #790
Handled in PR #797

[2019-02-14 02:34] #790 closed, assigned to nobody

[2019-02-17 20:06] bleehu commented on #299
https://github.com/bleehu/Compound_X/blob/Races-Push/CharacterCreation/01_01_Species_Human.txt#L11 closing, since this will ship.

[2019-02-17 20:07] #299 closed, assigned to Reveraine

[2019-02-17 20:23] #297 closed, assigned to Reveraine

[2019-02-17 20:25] bleehu commented on #782
@Reveraine changed Bioluminesensce to Light Dance and made it in PR #811

[2019-02-17 20:25] #782 closed, assigned to Reveraine

[2019-02-17 20:31] bleehu commented on #233
Closing; these will ship with the new species re-work

[2019-02-17 20:31] #233 closed, assigned to Reveraine

[2019-02-22 03:22] #779 closed, assigned to bleehu

[2019-02-28 23:14] #704 closed, assigned to bleehu, Turtlelord26

[2019-03-03 06:04] #776 closed, assigned to Turtlelord26

[2019-03-05 04:12] #671 closed, assigned to Turtlelord26, rosebrallier

[2019-03-05 04:39] bleehu commented on #607
This was broken up into PRs #821 #823 #824 and a PR yet to be made

[2019-03-05 04:50] #757 closed, assigned to Turtlelord26, rosebrallier

[2019-03-05 04:52] bleehu commented on #774
Added in Merge #826

[2019-03-05 04:52] #774 closed, assigned to Turtlelord26

[2019-03-09 01:53] #720 closed, assigned to nobody

[2019-03-11 00:15] #810 closed, assigned to Turtlelord26

[2019-03-13 04:25] Turtlelord26 commented on #741
Should I also mention that, despite being named back*stab*, it doesn't actually require the damage to be dealt with a melee weapon as currently worded? Going to add that as an ask to this issue.

[2019-03-13 04:46] Turtlelord26 commented on #718
Here's a draft of some numbers.
![image](https://user-images.githubusercontent.com/23040366/54254226-3f947d00-4510-11e9-8bf8-dd032ed52ee2.png)

[2019-03-13 04:49] Turtlelord26 commented on #718
Slow, medium, and fast are a floor function on level * (1.5, 2.5, or 3.5).
Rates are given to classes as a compromise between flavor and an even distribution of highs and lows. Naturally, subject to feedback.

[2019-03-14 06:58] Turtlelord26 commented on #718
To clarify, this is intended to be in addition to the current numbers generated by characters' primary stats. A lv 1 specialist with 6 int and 6 cha would have a Will save of 12 + 2 = 14.

[2019-03-17 23:27] bleehu commented on #718
At level 5, with a fast progression, you've doubled the average save that a character would make. That's not an insurmountable problem, but it does mean that I'd have to re-balance all of the DCs in the enemy bestiary.
The call-out of the confluence of this with 383 makes me think that this is a small feature that we may want to make a project out of?

[2019-03-18 04:52] Turtlelord26 commented on #718
Yeah, I could see this existing as a small project. Would be nice and organized that way. Before we go there though, I'd like at least a short conversation on those save numbers and how we want defensive ranges and offensive thresholds to line up. No rush on this project, and I think it would help to make sure we're all starting from the same spot.

[2019-04-10 17:47] Wildlovelies opened #834 "Lvl 1 2h 6 ft spear range. (Melee)"
Realistically this weapon should have a range of 2m. Being that it is 2m long plus arm reach, on a weapon designed for thrusting

[2019-04-10 17:49] Wildlovelies opened #835 "Opaleites base stat number is missing from species list"
I'm assuming its 40 like any other, but it is not listed

[2019-04-10 18:07] Wildlovelies opened #836 "Lucky feat luck =15 is impossible to get"
With the highest stat allotment in luck at lvl 1 being 9 since no race or class modifies luck in a positive way, at level 20 you unlock your 4th stat point, thus making the luck cap at 13

[2019-04-10 18:23] Wildlovelies opened #837 "Stat maximums are not reachable"
Rules stating maximum stat before lvl 15 is 15.

Highest possible stat at level 15 is actually fort and charisma at 14.

[2019-04-11 00:19] #778 closed, assigned to dfuchs2, Reveraine, rosebrallier

[2019-04-11 00:24] #765 closed, assigned to bleehu, Reveraine

[2019-04-11 00:28] Turtlelord26 commented on #834
Leverage is a killer if you aren't holding it by the center. That said, 1m + arm is still much more than a sword, so I agree that it would be nice to somehow represent that mechanically.

Is it reasonable or insane to keep it to 1m range but let it threaten opportunity attacks at 2m?

[2019-04-11 00:30] Turtlelord26 commented on #837
I suspect either a vestigial rule or a design safeguard against future content giving more stat buffs.

[2019-04-11 00:35] #768 closed, assigned to bleehu

[2019-04-11 00:38] bleehu commented on #835
As soon as the new opalites are ready to ship, this will have been fixed
https://github.com/bleehu/Compound_X/blob/SS/Races/Opaleites/CharacterCreation/01_04_Species_Opaleites.txt#L118

[2019-04-11 00:38] #835 closed, assigned to nobody

[2019-04-11 00:42] bleehu commented on #836
Luck = 15 might be more achievable at levels higher than 20.

[2019-04-11 00:42] bleehu commented on #834
That seems reasonable to me. @Wildlovelies ?

[2019-04-11 01:10] Turtlelord26 commented on #837
If the latter, 'tis an unfortunate way to go about having that safeguard. I don't like arbitrary hardstops.

[2019-04-11 16:15] #763 closed, assigned to bleehu

[2019-04-11 16:38] #762 closed, assigned to rosebrallier

[2019-04-12 00:29] #295 closed, assigned to Reveraine

[2019-04-12 02:53] rosebrallier opened #838 "Write Middle Class Background Perks"
Requires: Prose for White Collar perk.

[2019-04-12 02:55] rosebrallier opened #839 "Write Pariah Background Perks"
Requires description for Constant Vigilance and Jiggery-Pokery

[2019-04-12 02:56] rosebrallier opened #840 "Write Urchin Perks"
Requires description for Below the Radar

[2019-04-12 02:57] rosebrallier opened #841 "Write Socialite Background Perks"
Requires descriptions for Unflappable Poise and Silver Spoon

[2019-04-12 02:59] rosebrallier commented on #755
To do: close Issues #838 #839 #840 and #841

[2019-04-12 03:03] rosebrallier opened #842 "Write Artistic Background Perks"
Requires two complete perks including Title, Mechanics and Description

[2019-04-12 03:04] rosebrallier opened #843 "Write Trade Background Perks"
Requires two perks including Title, Mechanic and Description

[2019-04-12 03:07] rosebrallier opened #844 "Write Criminal Background Perks"
Requires description for Grifter and mechanics and description for Underworld Contacts.

[2019-04-12 03:08] rosebrallier opened #845 "Write Corporate Background Perks"
Requires mechanics and description for Terms and Conditions and one complete perk including title, description, and mechanics

[2019-04-12 03:09] rosebrallier opened #846 "Write Academic Background Perks"
Requires description for Expert Researcher and mechanics and description for Birds of a Feather

[2019-04-12 03:09] rosebrallier opened #847 "Write Military Background Perks"
Requires description for Veteran

[2019-04-12 03:13] rosebrallier opened #848 "SPACE Origin Perk"
Flavor text for Space Station origin

[2019-04-12 03:14] rosebrallier opened #849 "Trioch Origin Perks"
Flavor text for Trioch system and Opaleite Colony world origins

[2019-04-12 03:15] rosebrallier opened #850 "Terran Origin Perks"
Flavor text for Kepler System and Terran Colony origins

[2019-04-12 03:16] rosebrallier opened #851 "Tuunra Origin Perks"
Flavor text for Tundaari Colony and Tuunra origins

[2019-04-12 03:17] rosebrallier commented on #754
Issues #848 #849 #850 #851 and language rules

[2019-04-12 03:18] rosebrallier commented on #756
Issues #842 #843 #844 #845 #846 #847

[2019-04-12 03:21] #783 closed, assigned to Turtlelord26

[2019-04-12 03:29] #591 closed, assigned to nobody

[2019-04-12 03:31] Turtlelord26 commented on #562
Accomplished in the Species Rework project branch.

[2019-04-12 03:31] #562 closed, assigned to Reveraine

[2019-04-12 03:32] #563 closed, assigned to Eryneril

[2019-04-13 18:52] bleehu commented on #848
What branch and what file do we add this in?

[2019-04-13 19:12] #695 closed, assigned to Turtlelord26

[2019-04-13 19:33] Wildlovelies commented on #834
To be fair, this a 2m long thrusting weapon, even holding it in the center, that is 3 feet on the end of a characters arm length which most average between 2 ft and 3 ft long arms. I understand for balance issues if you want to do it that way, this is just my 2 cents. If it was a halberd where slicing is part if its expected attacks then I would be more inclined. But specifically a hunting spear t

[2019-04-13 19:42] Wildlovelies commented on #836
At the current rate, you would need level 30 with every stat point going into luck. As well as maxing out luck at level 1.  Should we maybe add more stat points instead of 1 every 5 levels, maybe make it a bit more of an occurance? Or add some rare loot that adds stats? Or maybe even lift the level 1 stat max of 9, and actually use the punishing rules of min maxing already In The game?

[2019-04-13 19:44] Wildlovelies commented on #837
I'll repost my question here, since stats are hard to come by, what if we kept the 15 cap before 15, but lifted the 9 hard cap on stats at level 1, we would then use the min max punishing rules that are already written into the rules.

[2019-04-14 05:31] Turtlelord26 commented on #837
There is a related question we should know the answer to to inform this discussion, and that question is whether we intend to have attribute-boosting items like the infamous Gauntlets of Ogre Strength in our system.

[2019-04-14 05:34] Turtlelord26 commented on #834
I hesitate to introduce facings to our system because I think they come with lots of mechanical baggage, but if we could find a way to do it gracefully I wouldn't be opposed to giving the spear 2m range but only in front of the user.

[2019-04-14 22:51] Wildlovelies commented on #834
1m range, +1m range on the player's turn?

[2019-04-15 03:45] Turtlelord26 commented on #834
I like that. What would you say about combining it with "costs 1 Action to switch targets if the second target is at least 2m away from the first"?

[2019-04-15 04:11] dfuchs2 opened #856 "Heavy Armor shouldn't have 100% coverage"
Heavy armor can have 100% coverage currently, which can make a specialist invulnerable to small arms fire with the right armor materials.

[2019-04-15 16:17] Turtlelord26 commented on #856
Being addressed by the Static Armor project

[2019-04-17 16:23] #681 closed, assigned to Turtlelord26, Reveraine, rosebrallier

[2019-04-22 01:48] bleehu commented on #595
@Turtlelord26, I could use some help with the advanced statistics. I believe if you're shot at 20 times and make 20 armor rolls, the probability of hitting armor is a normal distribution with mean=50, and standard deviation dependent on the number of shots, but I can't remember what relation gives the st.dev.

Regardless, the jump in protection from 40% to 50% after more than 6 incoming shots is s

[2019-04-22 06:40] Turtlelord26 commented on #595
First of all, if there's a meaningful statistical analysis we can do here, we should do it for both old & new armor if only to make sure the new system doesn't break anything with unintended consequences.

For the record, the Variance of a normal distribution = E[X^2] - E[X]^2 (I had to look it up, for shameTM). In this case, for X is a uniform distribution on integers from 1-100 inclusive, the va

[2019-04-22 06:41] Turtlelord26 commented on #595
Static armor will also lend itself to an analysis with Binomial distributions, but the starting conditions will be more complex.

[2019-04-23 05:11] bleehu commented on #595
Ah crap. I think you're right. I was overthinking it. And I'm not sure we can expect the players to take enough bullets for the binomial distribution to approximate the normal distribution in the first place.
I'll continue with my price analysis on armors using a linear value scale for coverage. I don't think your hour and a half of analysis was a waste; I think we'll come back to this math severa

[2019-04-23 06:21] Turtlelord26 commented on #595
Stats are fun!
In fairness I think I gave you a bit more than you really asked for.

[2019-04-29 07:03] #834 closed, assigned to nobody

[2019-05-05 04:07] #764 closed, assigned to rosebrallier

[2019-05-06 00:02] #457 closed, assigned to bleehu

[2019-05-06 00:03] #425 closed, assigned to nobody

[2019-05-06 00:05] Turtlelord26 commented on #283
Obsolete after work on the species rework

[2019-05-06 00:05] #283 closed, assigned to nobody

[2019-05-06 00:08] #374 closed, assigned to nobody

[2019-05-06 18:31] Turtlelord26 commented on #607
#698 accomplished the core issues of this ... issue. Close it out, @bleehu?

[2019-05-06 18:43] Turtlelord26 commented on #192
Project Logistics @bleehu
Since it looks like most of the meat here has been generally accepted, not to mention already integrated into the primary working branch, can we split the Cyborg trait feature request into another issue and close this out?

[2019-05-06 18:44] Turtlelord26 commented on #253
Is this part of the Species rework or is it a new project?

[2019-05-10 00:57] bleehu commented on #425
Why was this closed?

[2019-05-10 01:56] #805 closed, assigned to Turtlelord26

[2019-05-10 02:00] Turtlelord26 commented on #425
Vestigial from before the nanite update, which updated that section.

[2019-05-10 02:09] bleehu commented on #253
I believe each species now lists a size. This isn't used anywhere though.

[2019-05-10 02:12] Turtlelord26 commented on #253
Making it used places sounds like a new project that shouldn't hold up species rework

[2019-05-10 03:14] #770 closed, assigned to dfuchs2

[2019-05-14 03:40] bleehu commented on #192
Absolutely.

[2019-05-14 03:40] #192 closed, assigned to Reveraine

[2019-05-14 03:40] bleehu opened #864 "Species Request: Cyborg"
We used to have a Cybog Species; I know that Rev has plans to re-implement it. I'd like to track progress here.

[2019-05-14 20:15] rosebrallier commented on #848
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:15] rosebrallier commented on #849
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:15] rosebrallier commented on #850
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:15] rosebrallier commented on #851
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:16] rosebrallier commented on #842
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:16] rosebrallier commented on #843
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:16] rosebrallier commented on #844
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:17] rosebrallier commented on #845
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:17] rosebrallier commented on #846
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:17] rosebrallier commented on #847
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:17] rosebrallier commented on #841
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:17] rosebrallier commented on #840
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:18] rosebrallier commented on #839
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:18] rosebrallier commented on #838
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:18] rosebrallier commented on #753
PR into [rosebrallier-backgrounds](https://github.com/bleehu/Compound_X/tree/rosebrallier-backgrounds) --> CharacterCreation --> [04_Backgrounds](https://github.com/bleehu/Compound_X/blob/rosebrallier-backgrounds/CharacterCreation/04_Backgrounds.txt)

[2019-05-14 20:22] rosebrallier commented on #864
For the sake of record-keeping: the current plan (iirc) is to add Cyborg as an alternative to one or both of organic species' traits.

[2019-05-16 03:43] #738 closed, assigned to bleehu

[2019-05-18 00:38] #607 closed, assigned to Turtlelord26, Reveraine

[2019-05-21 01:45] bleehu commented on #847
I'll take this one, unless you've already got something written for it!

[2019-05-22 19:28] Turtlelord26 commented on #780
@bleehu this appears to have happened.

    Similar in size to the Mendars, Sea Devils, or Samek in the Opaleite tongue,
are named for their inherenet ability to bioluminesce.

[2019-05-22 19:30] Turtlelord26 commented on #781
@bleehu this is accomplished.

[2019-05-22 19:30] #781 closed, assigned to dfuchs2

[2019-05-23 19:09] #619 closed, assigned to Turtlelord26

[2019-05-26 17:50] bleehu opened #868 "Move fall damage rules to basic rules"
It seems like the logical place to look for them

[2019-05-26 20:25] #780 closed, assigned to Reveraine, rosebrallier

[2019-05-26 20:29] Turtlelord26 commented on #796
Split into #866 and #868

[2019-05-26 20:29] #796 closed, assigned to nobody

[2019-06-13 03:00] bleehu commented on #502
This ain't happening for a while.

[2019-06-13 03:00] #502 closed, assigned to bleehu

[2019-06-14 01:29] #596 closed, assigned to Turtlelord26

[2019-06-14 18:13] bleehu commented on #847
done!

[2019-06-14 18:13] #847 closed, assigned to rosebrallier

[2019-06-14 19:12] bleehu commented on #856
Handled in merge of #867

[2019-06-14 19:12] #856 closed, assigned to nobody

[2019-06-14 19:25] #673 closed, assigned to nobody

[2019-06-14 22:15] #594 closed, assigned to Reveraine

[2019-06-21 21:01] Turtlelord26 opened #892 "Recategorize Thermal Damage"
Once we have anything in the rules that specifies high- or low-temperature thermal damage, we lose most of the benefit from combining Hot and Cold damage into Thermal since every source has to specify.

Solution: Reclassify Thermal damage as Thermal Damage, but list Heat Damage and Cold Damage as sub-types of Thermal damage.
Theory: This lets any effect that doesn't care say Thermal, but still all

[2019-06-22 18:06] bleehu commented on #181
Replaced!

[2019-06-22 18:06] #181 closed, assigned to Reveraine

[2019-06-22 18:11] bleehu commented on #253
Shipped in new species rework https://github.com/bleehu/Compound_X/pull/519

[2019-06-22 18:11] #253 closed, assigned to nobody

[2019-06-23 16:28] #839 closed, assigned to bleehu

[2019-06-23 16:30] #840 closed, assigned to bleehu

[2019-06-23 16:31] #841 closed, assigned to bleehu

[2019-06-23 16:37] #436 closed, assigned to rosebrallier

[2019-07-03 04:44] bleehu commented on #850
@rosebrallier, it looks like these are already done? You have stats for:
| Colony World- Terran   | Gain Languages- Terran Common (+ 1 dialect), 1 Common or Trade Language of   |
|                        | choice. Gain 0.5 set of Nanites.      ?

[2019-07-15 00:38] Reveraine opened #900 "Gripe: Grenade Rules"
The rules regarding grenade hits/misses is ambiguous.

[2019-07-25 02:00] #846 closed, assigned to rosebrallier

[2019-07-25 06:43] #845 closed, assigned to dfuchs2

[2019-07-25 06:43] #844 closed, assigned to dfuchs2

[2019-07-26 02:37] bleehu commented on #755
Almost all done! Just #838  to wrap up!

[2019-07-26 03:08] bleehu commented on #837
Stat-boosting items or feats haven't been ruled out.

[2019-07-26 22:43] Turtlelord26 opened #909 "Regularize Available Species Traits - Meta Issue"
Lower priority irregularities in the Species traits system as follows, for future development to address. Culled from #880 review

* Humans and Opaleites have few species traits compared to Drones and Tundari
* Drones and Tundari have few species passives compared to humans and opaleites.
* Tundari have a uniquely negative species passive.
* Easterner Human and Mendar Opaleite have 1 additional tr

[2019-07-29 05:56] Turtlelord26 opened #913 "Traits: Reusable D-filter vs Quick Constriction"
These two traits are very similar. I would say too similar. Action item is to change one to be a more unique trait.

Personally, I like D-filter's flavor better, probably because of how it fits into that little meta-system Drones have gong on with the vision upgrade traits. However, good ideas trump preexisting preferences.

[2019-07-30 02:21] bleehu commented on #913
Where's Quick constriction?

[2019-07-30 02:27] #838 closed, assigned to bleehu, rosebrallier

[2019-07-30 03:20] Turtlelord26 commented on #913
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/01_01_Species_Human.txt#L165

[2019-08-02 00:35] bleehu commented on #913
I'm not worried about one almost-duplicated species trait, the combination of traits will still be unique. If you'd really like to mandate that each be unique, I'll update D-filter.

[2019-08-03 05:41] Turtlelord26 commented on #913
As long as we keep the species distinct, I'm good. The easiest systematic way to do that from a design perspective is a blanket ban on clone or near-clone traits. However, I have decided I'm willing to ship these two traits to RC and see what happens.

[2019-08-03 05:41] #913 closed, assigned to nobody

[2019-08-10 22:01] bleehu commented on #189
Fixed by static armor

[2019-08-10 22:01] #189 closed, assigned to 1sourcecontrol, bleehu, Turtlelord26

[2019-08-11 06:21] #759 closed, assigned to bleehu, Turtlelord26, Reveraine

[2019-08-11 07:46] #842 closed, assigned to rosebrallier

[2019-08-11 07:47] #848 closed, assigned to bleehu

[2019-08-11 07:48] #843 closed, assigned to rosebrallier

[2019-08-11 07:49] #753 closed, assigned to bleehu

[2019-08-14 04:02] bleehu opened #923 "add star strider effect to background blurb"
the effect in the example is missing the effect from the star strider perk

[2019-08-19 00:48] Turtlelord26 opened #924 "Combat rules doc 1 references old armor rules"
Getting shot section

[2019-08-25 07:03] Turtlelord26 opened #926 "New Melee Feat Proposal"
Melee characters want a feat that keeps specialists from disengaging, drawing a machine gun, aiming, and hosing them down.
Proposition is a feat that, if a character succeeds on an attack of opportunity with a melee weapon against an opponent trying to move out of a threatened square (success meaning deals damage to health), the enemy's movement full stops.
Should be some decently hefty prereqs on

[2019-08-25 07:22] rosebrallier commented on #926
Sentinel, yes!

Rose Brallier

On Sun, Aug 25, 2019, 12:03 AM James Talbott <notifications@github.com>
wrote:

[2019-08-26 00:27] Wildlovelies opened #927 "Dog level progression."
Dogs level progression for hp and or skills not available

[2019-08-29 06:49] Turtlelord26 opened #929 "Shotgun Inconsistencies"
Certain shotguns have 3 range and damage numbers instead of the normal two (generally plasma and laser ones). I would be interested in converting them to the `2-range Buck + Slug` model the other shotguns use, as it will make it easier to run fancy analytics on them and also reduce exception complexity.

Plasma ammo is easy to flavor into Buck vs Slug. Buck = uncontained plasma, kinda like a flame

[2019-08-29 08:07] Turtlelord26 opened #930 "Intentional That Carbines/ARs have no Move Penalty?"
Considering that Shotguns do.

[2019-08-29 22:14] rosebrallier opened #932 "Add tool sets to Profession perks"
Tools of the trade are cool.

[2019-08-29 22:17] rosebrallier opened #933 "Add outfits of clothing to Social Class and Profession perks"
None of our characters come into the game naked. Unless the player wants to take it that direction. -shrug-

[2019-08-30 02:06] bleehu commented on #930
we should probably add it. I wonder if I accidentally yanked it when I pulled the rules out of the item docs.

[2019-08-30 02:54] bleehu commented on #849
I think this was handled here https://github.com/bleehu/Compound_X/pull/916

[2019-08-30 04:06] #923 closed, assigned to bleehu

[2019-08-30 04:08] rosebrallier commented on #849
Yay!

[2019-08-30 04:08] #849 closed, assigned to nobody

[2019-08-30 04:16] #755 closed, assigned to rosebrallier

[2019-08-30 04:17] #756 closed, assigned to rosebrallier

[2019-08-30 05:30] #850 closed, assigned to bleehu

[2019-09-01 23:59] rosebrallier opened #938 "Gripe: Muscle Memory Wording"
What even is this
In [Muscle Memory](https://github.com/bleehu/Compound_X/blob/6117aea0b1452e5f6c587522910cd4ad2947718e/CharacterCreation/03_Feats.txt#L324) feat

[2019-09-02 05:46] Reveraine opened #939 "Gripe: Rules for Combat Maneuvers out of stealth"
They do not exist :(

[2019-09-02 06:51] Turtlelord26 commented on #938
I think (?) it's trying to say something like you can pump a shotgun during a move action (or going prone, etc.)

[2019-09-08 08:00] Turtlelord26 commented on #939
Adding to stealth project

[2019-09-08 08:03] Turtlelord26 commented on #674
Obsolete now that Electrical damage bypasses armor (and hits shields)?

[2019-09-08 08:05] Turtlelord26 commented on #602
@rosebrallier is this obsolete with current backgrounds design?

[2019-09-08 08:13] Turtlelord26 commented on #273
I'm going to absorb this into the stealth systems project

[2019-09-08 19:07] bleehu commented on #674
Yup, hits shields first. https://github.com/bleehu/Compound_X/blob/R_C/01_04_Damage_Types_and_Armor_Types.txt#L64

[2019-09-08 19:07] #674 closed, assigned to nobody

[2019-09-08 19:50] bleehu commented on #339
This was an issue with Kensington Flying spells. Closing as Wont-Do.

[2019-09-08 19:50] #339 closed, assigned to Reveraine

[2019-09-08 20:01] bleehu opened #944 "Balance check on focal lensing weapon attachment"
Seems expensive for little damage gain?

[2019-09-08 21:50] #924 closed, assigned to Turtlelord26

[2019-09-08 22:03] bleehu commented on #927
No characters get hp progression.

Dog has only the perform and investigate skills, investigate scales per level: https://github.com/bleehu/Compound_X/commit/4728f34c73d58ab1829e27b870d53699943c075b#diff-36777511a6ead9e8ceca798c004035a8R34.

Attack also scales per level: https://github.com/bleehu/Compound_X/commit/4728f34c73d58ab1829e27b870d53699943c075b#diff-36777511a6ead9e8ceca798c004035a8R42

I

[2019-09-08 22:03] #927 closed, assigned to bleehu

[2019-09-08 22:43] Turtlelord26 commented on #944
Link the line please?

[2019-09-08 23:20] bleehu commented on #944
Whoops! My bad! https://github.com/bleehu/Compound_X/blob/play/Items/04_00_WeaponAttachments.txt#L316

[2019-09-09 00:25] bleehu opened #951 "Smoke Grenades Need Update"
The ECSC Smoke Grenade description is very wordy and has some outdated language implying the d100 accuracy system that we no longer use. We should simplify the wording and update the mechanics to be more consistent.

https://github.com/bleehu/Compound_X/blob/dev/Items/06_Explosives.txt#L17

[2019-09-09 00:30] Reveraine opened #952 "Feature Request: Visual Obstruction Levels"
In relation with giving sound and light names and levels, I propose we have obstruction levels. This way things like light fog, heavy fog/smoke grenades, and potentially things like waterfalls have a solid reference and we do not have to rewrite the rules for how heavy fog works every time we create a new smoke grenade type item.

[2019-09-09 03:38] #714 closed, assigned to bleehu

[2019-09-09 03:41] Turtlelord26 commented on #944
I think it's a breakpoint argument. Combine with maxed out expertise (it's lv 10 after all) and were talking a lot of damage. Characters are squishy.

The attachment above for ballistic plasma is almost identical

[2019-09-09 03:42] #944 closed, assigned to bleehu, Turtlelord26

[2019-09-09 03:43] bleehu commented on #944
You've convinced me.

[2019-09-09 03:43] rosebrallier opened #953 "Opaleite Colony World Origin Prose"

[2019-09-09 03:44] rosebrallier commented on #933
Resolved as of PR #935

[2019-09-09 03:44] #933 closed, assigned to rosebrallier

[2019-09-09 04:06] #598 closed, assigned to bleehu

[2019-09-09 04:15] bleehu commented on #938
Oh! That makes more sense! I wasn't playing this right!

[2019-09-09 05:39] Turtlelord26 commented on #952
That makes sense. I'm going to feed this to the stealth systems project.

[2019-09-09 05:40] Turtlelord26 commented on #952
Obstruction levels is a good name for it. I'd like to keep "Environment Conditions" reserved for future development of hostile environmental hazards.

[2019-09-10 04:34] #715 closed, assigned to nobody

[2019-09-12 06:04] #938 closed, assigned to Turtlelord26

[2019-09-12 06:13] Turtlelord26 commented on #672
Noting that this is a dupe of #493 part 5, but I'm going to close out the old issue and keep this around because it's much cleaner and everything else in 493 was handled.

[2019-09-12 06:13] #493 closed, assigned to bleehu, Turtlelord26

[2019-09-16 03:34] Reveraine opened #955 "Gripe: Explosives for Grenades"
It would be helpful to have the explosive requirements on the grenades page in items. It is a rule that is easily overlooked due to its only placement in basic rules.

[2019-09-21 01:12] Wildlovelies opened #957 "Bipod not effecting single fire accuracy"
This is completely unrealistic. As having a solid stand for your gun to rest on not only removes sway from off hand, it allows you to shoot more accurately because it creates an anchor point in which your gun now revolves instead of free movement. Thus giving the shooter significantly more control. Means the shooter only has to adjust the rear of the gun to aim, not swing around the whole thing

[2019-09-21 01:15] Wildlovelies commented on #957
If the second line about r2 and r3 is meant for single fire as well, then I apologise and this should be re-worded

[2019-09-21 01:59] Wildlovelies opened #958 "Classes text intro states you start at lvl 0."
First paragraph of the classes text

[2019-09-21 02:34] Wildlovelies opened #959 "Lvl 2-3 soldier build breaks static armor"
Lvl 2-3 depends on $$
Str 6
Per 8
R1:    R2:   R3:
15m.  60m.  91m
-3.      -3.     -1.
Full auto 6 rounds per action standard ammo
75 dmg per shot, 350 damage per action.
Feats: snapshot, combat expertise guns, assault rifle(10)
Gun:ecsc mk15 (assault rifle) $1715
Attachments:
heavy barrel $720
1.2 holo sight $800
Angled foregrip $600
Muzzle brake $500
-1 str sling (forgot price)
Heavy receiver $

[2019-09-21 02:38] Wildlovelies commented on #959
The heaviest armor only covers by 6, most cover 2-4  full auto and never worry about armor for the most part. So apl never matters as long as you are accurate enough

[2019-09-21 02:48] Wildlovelies commented on #959
With match grade ammo, and other sling and 8 str, you can subtract another -1 from all ranges. Making it -4 -4 -2

[2019-09-21 02:52] Wildlovelies commented on #959
To ensure perspective, this lvl 1 gun can kill lvl 20 enemies because apl doesnt matter if you are accurate enough...

[2019-09-21 07:26] Turtlelord26 commented on #958
Reference
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/02_Classes.txt#L5

[2019-09-21 08:03] Turtlelord26 commented on #959
I'm only calculating a 0,0,2 miss chance spread on your creation (counting match-grade and accuracy sling). Possibly I'm missing something since I did it mostly in my head. Just to be sure though, did you account for not being able to reduce your autofire penalty below one?
In the same vein, overall miss chance before autofire penalty is still bounded from below at -2.
https://github.com/bleehu/Co

[2019-09-21 08:25] Wildlovelies commented on #959
Basic rules also state abilities can drop you below that limit. This could be assumed to include the 2 feats I mentioned.

[2019-09-21 16:34] Turtlelord26 commented on #959
The intent of that line is that an ability/feat can only push you below the minimum miss chance if it specifically says that it does so, eg. Steady Shot
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/03_Feats.txt#L1054

I'll add an action item to clarify that line in combat rules.

[2019-09-25 03:55] #958 closed, assigned to bleehu

[2019-11-03 01:44] rosebrallier commented on #932
We've got clothing written in; still need tools. @bleehu can you coordinate Matt and Shrub to write them in?