[2016-10-15 02:39] Wildlovelies opened #1 "warlock issue (test)"
neutral spells not made clear to be unselectable by warlocks [https://github.com/trowl223/Compound_X/blob/master/play/PlayerRules/CharacterCreation/4.3%20Warlock%20Spells.txt](url)

[2016-10-15 03:04] bleehu commented on #1
Weird, I'm getting a 404 when I click the link...

[2016-10-15 03:15] Wildlovelies commented on #1
same

On Fri, Oct 14, 2016 at 8:04 PM, bleehu <notifications@github.com> wrote:

--
Honor those of the past, lead those of the present, and plan for those of
the future-- me

[2016-10-15 03:28] dragnagarge opened #2 "External Augmentations cost EP instead of credits"

[2016-10-15 03:28] bleehu opened #3 "Summon Tentacles Still needs update"
None of the discussed changes have been made to Summon Tentacles warlock power.

[2016-10-19 05:21] trowl223 commented on #2
Wrong version of External Augments was pushed to Play.

[2016-10-19 05:23] trowl223 commented on #1
Neutral spells are totally selectable by warlocks, thats why theres no notice. Heal spells need to be removed, as only Paladin and Medic can heal. But everything else is up for grabs.

[2016-10-23 20:11] #1 closed

[2016-10-23 20:16] bleehu commented on #2
Who has two thumbs and owns the fault for that issue? This guy.
Issue fixed.
https://github.com/trowl223/Compound_X/blob/master/play/PlayerRules/CharacterCreation/8.%20External%20Augmentation.txt

[2016-10-23 20:16] #2 closed

[2016-10-31 18:18] trowl223 commented on #3
Fixed. Also created second level of the spell which deals necrotic damage to grappled opponents.

[2016-11-04 02:11] bleehu commented on #3
Awesome! =D

[2016-11-12 19:47] bleehu opened #4 "Premise in Basic Rules"
The Premise section just sorta ends suddenly.

[2016-11-12 19:47] bleehu opened #5 "EP in basic Rules"
We should remove the calculation for EP in the basic rules doc

[2016-11-12 19:54] bleehu opened #6 "Starting Money"
We should list the starting money that each class begins with in the classes, rather than have it as a partially-finished separate file.

[2016-11-12 19:57] bleehu opened #7 "Example Modified Weapons use EP"
Nuke it?

[2016-11-12 20:04] bleehu opened #8 "Paladin Spells: Crimson/Violet/Blue flame"
What is the range? Blast Radius? How long does the burn last?

[2016-11-12 20:06] bleehu opened #9 "Paladin Spells: Prayer of Silence"
How does Prayer of silence react to walls? Can someone take cover against this?

[2016-11-12 20:07] bleehu opened #10 "Paladin Spells: Xeno"
What is a xeno?

[2016-11-12 20:16] bleehu opened #11 "Paladin Spells: Divine Armour"
Range?
+5 DR is negligible

[2016-11-12 20:18] bleehu commented on #3
Tentacles _still_ not patched in play.

[2016-11-12 20:20] bleehu opened #12 "Notes before starting"
Notes before starting is old and maybe should be mothballed. It still gives out feats at level 1.

[2016-11-12 22:20] trowl223 commented on #8
This is an augmentation spell, which should be specified. It adds 20/40/60 damage to a single attack. Range depends on the weapon, blast doesn't exist because its a single target. Burn damage is dependent on the burn damage rules.

[2016-11-12 22:22] trowl223 commented on #9
No, its not blockable except through counterspell.

[2016-11-12 22:23] trowl223 commented on #10
Demons, Astral Wraiths and Necrophages. High level type enemies. To be covered in a separate player document.

[2016-11-12 22:24] trowl223 commented on #11
Will boost to +10/+15? its only 30 Nanites, so its average blocked incoming damage should be close to 30. Maybe it augments target armour with one token of +30 DR?

[2016-11-14 22:00] bleehu commented on #10
which separate player doc?

[2016-11-14 22:00] bleehu commented on #9
don't tell me; write it in the doc!

[2016-11-14 22:01] bleehu commented on #8
don't tell me; write it in the doc!

[2016-11-14 22:02] bleehu commented on #11
I think players would find that more appealing

[2016-11-24 07:07] Michael-Hedges opened #13 "Schroder R-130 doesn't have suppressing fire label?"
is its effect on top of suppressing fire or in place of it or what?
What does the suppressing fire label _do_ anyway?

[2016-11-24 07:31] Michael-Hedges opened #14 "G&W XEV level 10 sniper has a 50m minimum effective range?"
How does that make any sense?

[2016-11-24 07:32] Michael-Hedges commented on #14
Same issue with the SRS Series 99

[2016-11-24 08:28] trowl223 commented on #13
Since there's no Supporting Fire label it doesn't have that effect, it has its own unique effect, which is outlined. Supporting Fire is documented in the place that gun effects are explained, in the weapons document:
"Supporting Fire: On Hit, target is forced to take cover for one action, stackable, unless they pass a 70% FORT or INT check. If they pass the check, they negate the cover, but take a

[2016-11-24 08:30] trowl223 commented on #13
*Targets may move or fire without

[2016-11-24 08:52] trowl223 commented on #14
Current convention is that long rifles have a penalty (10% of Max) minimum increment. Marksman are immune to this minimum, except that they must pass a reflex saving throw to fire within this range, probably a DC equal to the target's distance. If a non-marksman wants to share this immunity, they can pay for the tritium iron sights and use a free action to swap aiming devices. The reason for this

[2016-11-24 08:53] trowl223 commented on #12
Removed

[2016-11-24 08:53] #12 closed

[2016-11-24 08:55] trowl223 commented on #10
Probably the ARD's, maybe a general Lore document describing each of the major enemy groups and their relations and history with Sanity / ECSC. I'll get on that after our next bug fixes, I'm still currently designing spells for Mages and Sorcerers currently.

[2016-11-24 08:56] trowl223 commented on #10
Ewww, I said currently twice in the same sentence -_-

[2016-11-24 08:57] trowl223 commented on #7
Doc removed

[2016-11-24 08:57] #7 closed

[2016-11-24 08:58] trowl223 commented on #6
Written into each class description.

[2016-11-24 08:58] #6 closed

[2016-11-24 08:58] trowl223 commented on #5
Removed from document. Need to also remove EC calculation, new rules are written into class descriptions

[2016-11-25 23:42] trowl223 commented on #11
Changed phrasing to +30 DR single use.

[2016-11-25 23:42] #11 closed

[2016-11-25 23:43] trowl223 commented on #3
Added in

[2016-11-25 23:43] #3 closed

[2016-11-25 23:46] trowl223 commented on #5
Removed.

[2016-11-25 23:46] #5 closed

[2016-11-25 23:49] trowl223 commented on #8
Current Phrasing, added "You imbue an ally's or your own weapon with divine energy.":
		{5} Crimson Flame: [25]
		|   You imbue an ally's or your own weapon with divine energy. +20
		|	damage, single attack. Inflicts 1 Burn damage token.
		|
		V
		{10} Violet Flame: [45]
		|   +40 damage, single attack. Inflicts 1 Burn Damage token.
		|
		V
		{15} Blue Flame: [65]
		    +60 damage, single attack.

[2016-11-25 23:49] #8 closed

[2016-11-25 23:57] #13 closed

[2016-11-26 00:00] trowl223 commented on #9
I explicitly says "each character," so it isn't affected by cover.

[2016-11-26 19:16] bleehu commented on #9
That's still not specific enough. Please mention cover specifically.

[2016-11-26 19:55] trowl223 commented on #9
Each character means each character. This isn't a direct attack or an explosion, it's a siphon effect.

[2016-11-26 21:36] trowl223 commented on #9
Added spell types to Paladin Spells. Paladin Spells also now state that by default no spells are affected by cover unless written into th description. I'll probably extend the same to Mage and Sorcerer spells. Paladin spells are mostly weapon augments and buffs to allys, so this default doesn't worry me. Most of the Mage and Sorcerer spells will have to have "Spell DC affected by target's cover" t

[2016-11-26 21:36] #9 closed

[2016-11-26 21:37] #14 closed

[2016-12-01 18:40] #4 closed

[2016-12-06 06:14] Wildlovelies opened #15 "gripe list 11/24/16"
leveling class feats every 3 levels? -- see scoundrel
some feats left unfinished
counter spell still in
cover slide op as hell, does not say you cant end up next to an enemy/player...
archon is pushed, useable?
2 external augmentation files in character creation
armor in demage_redux file still have ep listed
casters are pushed, spells not complete
nanite costs for paladins are too high.with 10 in

[2016-12-09 21:12] trowl223 commented on #15
Please make separate issues for each item in the future.

Scoundrel removed from play. It was commented out, but comments don't show up highlighted on github. Scoundrel has never been a class and remains a work in progress / shelved indefinitely.
It would help to list specific feats. The only two i see are "With friends like these ..." and "...Who needs nanotechnologies" which are intentionally le

[2017-01-14 20:41] Wildlovelies opened #16 "melee is spelt wrong everywhere you idiot"
i am quoting you taylor

[2017-01-14 20:42] Wildlovelies opened #17 "paladin warrier..."
should look into this

[2017-01-14 20:55] Wildlovelies commented on #17
first time in class description

[2017-01-14 21:08] Wildlovelies opened #18 "acquired mispelled"

[2017-01-14 22:31] Wildlovelies opened #19 "add note to skills"
skills boost ability scores

[2017-01-14 22:35] Wildlovelies opened #20 "grenades are too pricey"

[2017-01-14 23:09] Wildlovelies opened #21 "fall damage in rules"

[2017-01-14 23:20] Wildlovelies opened #22 "search skill"

[2017-01-14 23:38] Wildlovelies opened #23 "jump distance"

[2017-01-15 00:35] Wildlovelies opened #24 "prep not proc"

[2017-01-15 03:56] Wildlovelies opened #25 "idea for differation between races"
Robots have natural DR due to armor plating, but have lowered health or extended crit ranges on them (hit a wire, dead bot)

[2017-01-19 19:01] Michael-Hedges commented on #22
What's the issue with the search skill? Can you provide more detail?

[2017-01-19 20:00] Wildlovelies commented on #22
Taylor griped that

On Jan 19, 2017 11:02 AM, "Mike H" <notifications@github.com> wrote:

[2017-01-19 22:39] trowl223 commented on #22
We don't have a "search" skill. The skills system as a whole needs a look over. I think we should have a closed pool of skills and those need to be decided on.

[2017-01-27 04:07] Wildlovelies opened #26 "Paladins not included in new wep/ armor feats"

[2017-01-27 04:11] Wildlovelies opened #27 "intercept feat (feat from my adept with the chain)"
Reaction feat for tanks,
move half of your movement speed, if you end up between an ally and its attacker, intercept the attack
Tank loses one action from their next turn. can only be used once per round.

[2017-01-27 04:59] Wildlovelies opened #28 "piloting feats incomplete, no description"
with friends like these
who needs nano technologies

[2017-01-27 05:03] trowl223 commented on #28
Not incomplete, just trying to maintain mystery until we get a level 5 pilot or a level 10 engineer, or someone who wants to take one and figure out what they are. In other words, there's a toy that I wanted to be a surprise for our current players.

[2017-01-27 05:07] Wildlovelies commented on #28
ok

[2017-01-27 18:54] #15 closed

[2017-01-27 19:06] trowl223 commented on #16
Fixed in Races and Feats. Didn't find anywhere else. Of course, I'm working in the dev branch, so it may differ from the play branch.

[2017-01-27 19:06] #16 closed

[2017-01-27 19:06] #17 closed

[2017-01-27 19:07] #18 closed

[2017-01-27 19:10] #19 closed

[2017-01-27 19:16] trowl223 commented on #20
Changed to the following prices:
Smoke: $50
Chem: $50
Flash: $50
Frag: $100
Frag+: $120
Plasma: $150

[2017-01-27 19:29] #21 closed

[2017-01-27 19:32] trowl223 commented on #22
Added.

[2017-01-27 19:32] #22 closed

[2017-01-27 19:32] #23 closed

[2017-01-27 19:34] trowl223 commented on #25
This is not the forum for such discussions. I like the idea of differentiating between races a little more. We should have a chat with Bleehu.

[2017-01-27 19:34] #25 closed

[2017-01-27 19:40] trowl223 commented on #26
The new feats were not added to power up all classes, they were added because some classes it made sense to have certain armours or weapons available if the player wanted to make a certain character. It was a compromise between having very strict classes that may alienate players with creative ideas, and having a generic "Learn X" feat that would allow any class access to any weapon or armour whic

[2017-01-27 19:40] #26 closed

[2017-01-27 19:41] #28 closed

[2017-01-27 19:42] trowl223 commented on #27
Ideas should be discussed elsewhere, not on the issues page. PM me and we'll chat about this feat : )

[2017-01-27 19:42] #27 closed

[2017-01-27 19:42] #20 closed

[2017-02-16 22:34] Turtlelord26 opened #29 "Shadowy Assassin Class Feat"
Because it does not specify melee attack, here is a thing I think you can do:

1. Take hunter class for proficiencies in long arms and cloaks (and cheaper cloaking activation)
2. Cross-Train feat, take Shadowy Assassin from the assassin class
3. Be on the outskirts of a fight and behind cover to reduce the likelihood of direct observation and so maintain your cloak despite attacking for several ro

[2017-02-16 23:30] trowl223 commented on #29
Definitely not intended, nice find. I'll be patching the feat to specify Melee attacks.

[2017-02-18 23:14] Turtlelord26 opened #30 "Regular Feat # Tracking Ambiguity"
In the classes document it explicitly states that a level zero character has no regular feats. However in the Basic Rules document it states a character gets a feat every second level but in the table shows characters having 2 feats at level 2. It doesn't say anything special about level two, so the table would appear to imply a feat exists at level zero (also consistent with the 9 Cha feats colum

[2017-02-19 00:55] trowl223 commented on #30
The Classes document is correct. The Basic Rules document is correct too, as is the table. Eliminate the impossible, and whatever is left, however improbable must be true.

The rules table shows that a level 2 character has 2 feats. The classes document says that a level 0 character has 0 feats. This does not imply that a level 0 character has 1 feat, that would not make sense. All that remains is

[2017-02-19 05:09] Turtlelord26 commented on #30
Two feats at level two it is, though I would recommend spelling this exception out somewhere near where it says you get +1 feat every even level, as that is explicitly inconsistent otherwise.

If static refers to character generation skills, does that mean that a character does not receive skill ranks for leveling from zero to one? If so (which makes sense as taking a class is a decent amount of l

[2017-02-20 22:40] Wildlovelies opened #31 "explosive zipcuffs"
please change listing in items above zipcuffs

[2017-03-02 04:00] bleehu opened #32 "Need separate Monster Manual, GM guide and Design Spec Repos"
Monster Manual - official rendering of the beastiary from CXDocs, analogue to DnD monster manual.

GM guide - Tips and tricks for those running the game, maybe even a short official adventure. Mashup of DnD GM guide and Phandelver starter guide

Design spec - Director-level design specifications for how to make things for CX and how not to break it.

[2017-03-09 03:51] Masterdiekillsu opened #33 "Createing a character: Player stats"
I looked on the CX Docs page in the basic rules section, but no where does it say how many points of stats a character is allowed to have total. It would be helpful if this number was indicated somewhere, instead of having to guess based off of the character sheet PDF.
EX: all of the points on the sheet add up to 35, is that the maximum amount of points you are allowed to have?

[2017-03-09 13:24] 1sourcecontrol commented on #33
I think it's listed in the races sheet, because the skill points vary between races

[2017-03-23 00:02] bleehu opened #34 "Balance Needs More Dakka"
Needs more dakka undertuned with new automatic rifles. Need to add a weapon restriction, so cannot be used with autocannon.

[2017-03-23 00:08] bleehu commented on #31
Looks like this was fixed.

[2017-03-23 00:08] #31 closed, assigned to nobody

[2017-03-23 00:10] bleehu commented on #32
@trowl223 Do you have this taken care of? Or should I make these in the private repo account that I pay for?

[2017-03-25 21:19] 1sourcecontrol opened #35 "External Augmentation, please remove from play until further testing is done"
There are a couple off issues tied together here, (i.e. Wealthy Sponsor's place in the game) but I'm concerned that external augmentation is far too powerful in its current state. In my opinion, external augmentation makes itself the only best option for most playstyles. It also doesn't seem to fit in any specific class style, any class can have it.
Case study.
Player build: let's assume the playe

[2017-04-07 03:32] Wildlovelies opened #42 "class.text is messed up bad"
unless my mozilla is royally fubar'd then the class.text file repeats 3 times and is incomplete

[2017-04-07 16:50] bleehu commented on #42
What branch and filepath are you talking about?

[2017-04-07 16:53] bleehu commented on #33
It is not.
Cyborgs are listed as having a 40 point starting pool, and humans are listed as having +2, but it doesn't actually say anywhere what the baseline is.

[2017-04-07 17:46] bleehu commented on #10
Lore Docs still don't exist...

[2017-04-07 21:06] Masterdiekillsu commented on #33
The main problem here would be making a character using only the webpage. When picking out a race and trying to know how many stats the character should have, it doesnt say anywhere on the page. This is the webpage BTW. I'll gladly check to see if its in the Github notes somewhere, and if it is, do you think you could update the webpage about that Blee? If you want to could write something that ex

[2017-04-09 19:39] bleehu commented on #35
Removed until further tweaks have been made. Leaving issue open until issues above have been fixed. Assigning fixes to Taylor.

[2017-04-09 19:41] bleehu commented on #24
Anyone remember where this typo was? If not, let's close it and open a more specific issue when we find it.

[2017-04-09 19:47] bleehu commented on #33
This is the git repo for the compound X Core rules. For issues regarding the web page, go to https://github.com/bleehu/cxdocs/issues
That said, it's also a major flaw with the core rules that we don't state this anywhere in the core rules for it to trickle down to the website.

[2017-04-11 06:20] Wildlovelies commented on #42
ok to delete

[2017-04-11 06:20] #42 closed, assigned to bleehu

[2017-04-11 06:38] Wildlovelies opened #46 "Adept shield still boosts armor stats"
Trowl223 said he wanted to remove adepts armor buff, which if it stays, with the full armor feat for adepts, that is a lvl 2 with 50 dr with 100% coverage, 60 DR if cyborg...

[2017-04-11 06:43] Wildlovelies opened #47 "max stats at lvl one not listed"
more for a note on min maxing, but no where is it stated that 10 is the max you can put non bonus points into so i could dump stat charisma, luck and int and run a 20 strength berserker with a power fist

[2017-04-11 06:49] Wildlovelies opened #48 "player skill ratings not listed is basic.text"
as in 10 novice 20 adequate and 40 is expert,

This is to pertain to cyborgs mainly, who have to see an expert to get upgrades, but they are able to become experts with the skill, that number i cannot find in the github play

[2017-04-11 06:52] Wildlovelies opened #49 "Misc items description needs to be updated"
Currently states:
Examples of Misc. Items include rope (20m), compass and map, matches,
flashlight, a single magazine for your gun, flares, etc. These are basically
items that have an actual use of some sort. $100 each unless otherwise
specified, 5 free at start.

magazines generally are not $100 each, my opinion it needs updating or removed, feel free delete if you disagree

[2017-04-11 06:55] Wildlovelies opened #50 "Feat stacking not prevented"
Need to add verbage to state that you can only take feats once unless otherwise noted.

else we have someone with 5 cases of double tap...

[2017-04-11 06:56] Wildlovelies opened #51 "Cross Train still usable feat"
Taylor wanted this removed until further balancing achieved,

Else I can get really nasty builds out.

[2017-04-11 07:04] Wildlovelies opened #52 "A miss that crits?"
Possible to run a dualwield smg build that crits on 61% but misses above 70 (with no attachments, spray and pray x3, dual wield not akimbo,) which is true, does it auto hit because of crit, or does it miss?

[2017-04-11 19:13] bleehu commented on #52
The critical effect as described in the basic rules:
https://github.com/trowl223/Compound_X/blob/play/play/PlayerRules/Basic%20Rules.txt#L273
only affects damage. Since you only do damage if you hit, rolling a 65 would critically hit the wall behind the target.
How are you getting critical hits on 61%?

[2017-04-11 19:14] Wildlovelies commented on #52
luck at 10 plus double tap

[2017-04-11 19:25] bleehu opened #54 "Yank Counterspell"
Counterspell was the worst thing I've ever written. It's not fun. It's not dynamic. It was a cop-out hard counter to spellcasters that should have been handled more elegantly. Kill it from dev, RC and play. With extreme prejudice.

Instead, replace with counters that aren't universal and don't simply cold-stop the spell that they're countering. Instead, have them be like a parry in fencing, where

[2017-04-11 19:34] bleehu commented on #52
Maybe we shouldn't use Luck Modifier in crit rolls. I think that the scaling is off on the high end.
https://github.com/trowl223/Compound_X/blob/play/play/PlayerRules/Basic%20Rules.txt#L275
And maybe nerf Double Tap to + 8%?
https://github.com/trowl223/Compound_X/blob/play/play/PlayerRules/Basic%20Rules.txt#L275

Keeping in mind that stealth attacks still might add a +10% to crit. These nerfs woul

[2017-04-11 19:35] bleehu commented on #49
I totally agree. Will write a patch.

[2017-04-11 19:37] Wildlovelies commented on #52
well then you are depreciating luck to a point that it will most likely return to dump stat on most characters

[2017-04-11 19:37] Wildlovelies commented on #52
it makes 10 luck similar effect to 10 strength or dex. it is a specialization

[2017-04-11 19:43] Wildlovelies commented on #52
difference between 10 luck and strength / dex, is it has significantly less secondary effects, 10 str can rip turrets off or carry a person, 10 dex has 10 movement, 10 luck only helps on luck rolls, which are far fewer, than say reflex rolls, athletics or acrobatics...

[2017-04-11 20:10] 1sourcecontrol commented on #52
@bleehu you could nerf it to ((Luck-5)*3) or ((Luck-5)*2).
Also, since crits don't have a very significant effect on damage, I think the main thing that changes is the viability of crit builds.
It might be good to come up with some more benefits to having luck, as lovelies mentioned, if crits are decoupled from luck.

[2017-04-11 21:06] Wildlovelies commented on #52
we can close this

[2017-04-11 21:06] bleehu commented on #48
It sounds like a role playing term, rather than a specific score. Sounds like that would be up to the GM at this point. I think that's an OK level of specificity at this point. @trowl223 do you agree?

[2017-04-11 21:28] Wildlovelies opened #56 "Luck critical modifier too powerful"
It has been brought up luck modifies crits to too high a number, removing crits from luck removes the stat mostly from gameplay, so I propose a middle ground.

Let luck modifier be determined by a *2 instead of *4, let it still modify crits, (10% at lvl 10) then crits are still affected negatively as well by dumping the stat,  but I also proposed we let it add to either reflex or initiative. If yo

[2017-04-11 21:31] #52 closed, assigned to Wildlovelies

[2017-04-11 21:34] Wildlovelies commented on #34
could change the auto cannon to just a cannon, which has to be cycled. thus removing it from empty the mag then use similar verbage.

[2017-04-11 21:35] Wildlovelies commented on #34
making it like a revolver, but instead of the hammer, you have to manually cycle the drum

[2017-04-11 21:38] Wildlovelies opened #57 "Paladin nanite addition"
@trowl223  paladins were mentioned in our last play session not having bonus nanites that were intended.

[2017-04-11 21:41] Wildlovelies opened #58 "Game breaking builds"
Several of these have repeating themes but here is a quick list of builds that break the game as far as I can tell:
Since Cyborg is the most flexible and easy to break race, Assume all of these are Cyborg.

-Berserker: lvl 3 13 str, full armor plus 10 dr from passives, only thing they spend money on is their weapon and armor at this point so they can afford the first additional cyborg upgrade pric

[2017-04-12 02:54] trowl223 commented on #24
Wasn't a typo, was a note for when developing player guides I think . . .

[2017-04-12 02:55] trowl223 commented on #32
It might be a better idea to make them in a private repo, as they'll have publication-ready material eventually.

[2017-04-12 02:58] trowl223 commented on #33
Just as a note so its recorded somewhere on this site for future reference:
42 for humans
40 for all other species. Some species may have less than 40 depending on starting abilities. Keep in mind for future race builds, lose two stat points is a -8% debuff, but it applies to many different skills so it has greater value than a base -8% debuff. Alien racial abilities must be balanced with that hig

[2017-04-12 02:59] trowl223 commented on #34
Like a shotgun, perhaps?

[2017-04-12 03:08] trowl223 commented on #35
Fixes will be applied when testing and evaluation has been done. Suggested testing is a level 5 Pilot with ~$10,000 to put into accessories, upgrades, and armaments alone, to be fighting at a challenge level 2 greater than his own. This would be Atelsikor Elites armed with medium strength plasma weaponry and 95% armour, 30 DR, or Lesser Drone Acolytes, robots with higher health and armour that is

[2017-04-12 03:11] trowl223 commented on #46
I don't recall discussing that.

[2017-04-12 03:12] trowl223 commented on #47
This is true. Intended rules: Max you can put into any one stat (even after cyborg stat increases) at level one is 10. The maximum for any stat is 15.

[2017-04-12 03:14] trowl223 commented on #48
Yes, that is meant to refer to an NPC whose sole profession is designing, building and repairing cybernetic enhancements. They may even be a specialist in a certain kind of cybernetics, like optics, or systems, etc.

[2017-04-12 03:15] trowl223 commented on #49
I totally agree as well. This was from the pre-money days of compound_x when players used an Equipment-Point inventory management style to "purchase" items.

[2017-04-12 03:16] trowl223 commented on #50
Agreed. No feat can be taken more than once unless specifically stated by the feat itself.

[2017-04-12 03:17] trowl223 commented on #51
Thank you. May remove from game.

[2017-04-12 03:20] trowl223 commented on #56
Initiative would make more sense from a mechanics point of view, but not from a logical one. In my opinion this idea should be tested, I believe it would add usefulness to a stat and make an area of the game more dynamic.

[2017-04-12 03:22] trowl223 commented on #57
Bonus should be less than a spell caster's bonus, maybe +75 static, or +45 +5/level.

[2017-04-12 03:43] trowl223 commented on #58
-Berserker: Agreed. I've never thought that a class should grant the character extra stat points. Players should build their character for the class, not the other way around.
-Marksman: Add text to class abilities that they can only be used on long rifles. Additionally for pin feat, note that reacting to a pinned enemy can only be used a certain number of times per round, maybe level/4 rounding u

[2017-04-12 16:02] 1sourcecontrol commented on #58
@Wildlovelies please add the rest of your list so it's addressable, if possible.

@trowl223 -Gunslinger, I'd like to mention that most NPCs don't take more than a few bullets to drop. Even with reduced damage from an SMG, 6 bullets is a pretty reasonable number for a kill. 6 bullets per NPC, let's say a 6 mag limit w/ 12 round mags, that makes potentially 12 kills.
I almost exclusively run battle

[2017-04-12 16:39] bleehu commented on #58
There's a lot of good stuff going on here, can we break this up per build so we can tackle each break individually?

[2017-04-12 16:42] bleehu commented on #57
Well don't write it here! Put it in the rules!!! Or if you're not going to make the change yourself, direct either myself, or @1sourcecontrol or even @Wildlovelies  to make the change.

[2017-04-12 16:45] #51 closed, assigned to nobody

[2017-04-12 16:49] bleehu opened #59 "Fix Crosstrain"
We pulled the cross train feat from both RC and play, but it's still in dev. Is it worth the man-hours to try to balance it? Even if we fix it this time, it's a design landmine that will come up every time we change class feats or add a new class.
On the other hand, it provides flexibility to build characters that fit between the class niches that we have already released. Being able to cross trai

[2017-04-12 16:50] bleehu commented on #50
Don't write that here! Put it in the rules! Or direct one of us to fix it!

[2017-04-12 16:51] bleehu commented on #47
Don't write it here! Either put it in the rules or direct someone on the team to write the fix for ya!

[2017-04-12 16:53] bleehu commented on #46
Well then, let's discuss it. Isn't that OP at level 2?

[2017-04-12 16:57] bleehu commented on #34
Autocannon is fine right now, and will be very carefully balanced by the new weapon work that 1Sourcecontrol is doing anyway. The issue is with Needs more Daka:
https://github.com/trowl223/Compound_X/blob/play/play/PlayerRules/CharacterCreation/02_Classes.txt#L59

It's a whole class feat that lets you fire an automatic rifle at a whopping fire rate equal what it normally can. Since most specialist

[2017-04-12 16:58] bleehu commented on #48
Close it?

[2017-04-12 17:01] bleehu commented on #35
By definition, anything fighting at a challenge level 2  greater than their own is OP!?!

Can we get the stats and abilities for Atelsikor Elites and Lesser Drone Acolytes to test with? Or should we make these?

[2017-04-12 17:09] bleehu commented on #33
*twitching eye* Don't write it here! *voice cracks* write a patch. Or direct someone to write what you've put there.

[2017-04-12 17:12] bleehu commented on #27
It's fairly common practice to submit an issue and use the label "Feature Request" for ideas that people have that they want to submit. @trowl223

[2017-04-12 17:12] 1sourcecontrol commented on #59
I think until the game reaches its final form, crosstrain should be limited to known interactions. In other words, only allowing certain class feats to be crosstrain'ed.
Ideally, one of us would run that crosstrained feat through abuse checks with all other classes.

[2017-04-13 03:37] trowl223 commented on #59
Nope, throw it out. In my opinion, it necessitates balancing every class ability from the lens of every other class. More work than may be possible at this point, and more work than *I* would want to do, not sure about anyone else. Someone told me once that a certain WildLovlies was able to take base classes and make characters from many other games without using crosstrain. My intent for the clas

[2017-04-13 03:37] bleehu opened #60 "Medic damage ramp too steep"
We need to balance the ramp-up of medic power a little with new feats. I intend to do this by lowering the number of nanites generated by Hippocratic powers.

[2017-04-13 03:39] bleehu opened #61 "Lower rate at which medic gets malpractice powers"
Medics are getting to offensively powerful too soon. Instead of getting a malpractice spell every level, get one every other level and flatten the tree a little bit.

[2017-04-13 03:40] bleehu opened #62 "Change Medic proceedures to be not spells"
Use a different limiting factor other than nanites.

[2017-04-13 03:51] trowl223 opened #63 "Double-Tap needs editing"
Currently too powerful with the combined crit expansion and damage expansion.
Suggested change: since the feat is literally expending another bullet, I think that the feat should only affect rolls that fall into Extra Crit range (96-100 normally), and they should do double damage. I also think that this feat is linked to a problem with the crit system in general, which may need to be visited here

[2017-04-13 14:38] Wildlovelies commented on #10
Bump

[2017-04-13 14:40] Wildlovelies commented on #46
It was the one off mission where I had the Adept with the chain who cross trained paladin for shield, @bleehu almost died...

[2017-04-13 14:43] Wildlovelies commented on #48
the base matter is still not addressed, where is your rank in something listed?
Like Repair, is 40 repair and expert in this field?
Knowledge nanites at 40 am I an expert?
Where is this listed? I briefly remember something before but cannot find it now.

[2017-04-13 15:57] Wildlovelies commented on #58
with current pulls from play, this list as of right now is my op list, I do not have any other builds at this time.

[2017-04-13 16:01] Wildlovelies commented on #60
The power band as far as nanites go, Honestly I think **exempting** medic/engineer from nanite regen would help fix them more so than nerfing their nanite gains from spells. although I cannot account for medic dmg from spells, as the only damaging spell I used was nanite spike.

[2017-04-13 16:05] Wildlovelies commented on #61
playing one felt the opposite, I couldn't do enough offensively by lvl 5, all I could really get  was moderate hallucogen, granted I have not really crammed numbers on them. But I think they are far stronger as a controller with hallucinogens. which moderate hallucinogens with nanite spike is 80 nanites, which is two heals, for one attack. A better look might be at duration and save dcs vs halluci

[2017-04-13 16:12] Wildlovelies commented on #59
I think we could easily limit, list cross train capabilities under each class, Hunter cross class options: Assassin, marksman, etc. I could easily come up with cross classes that make sense, and you could have others be like signature move feat, where players give a reason that the dm has to approve to cross class. Leaves the options for players there, but limits them to known interactions or  acc

[2017-04-13 16:38] Wildlovelies commented on #59
ill do a quick list for thought:
Soldier: Doctor, Priest, Hunter, Pilot  (I see soldiers kind of like a jack of all trades but master of none)
Specialist: Soldier, Doctor, Berserker
Doctor: Priest, Pilot
Engineer: Priest, Pilot, Soldier
Priest: Doctor, Adept
Pilot: Priest, Doctor, Soldier, Adept
Adept: Priest, Doctor, Soldier, Hunter
Hunter: Doctor, Marksman, Assassin
Mage/Sorc: n/a class feat is

[2017-04-13 16:39] Wildlovelies opened #64 "Doctor Class feat too weak"
Essentially we are doing the same thing with a med pack, too weak in my opinion,

[2017-04-13 16:41] Wildlovelies commented on #62
you could combine this with issue # 64 medic class feat too weak.

[2017-04-13 16:41] trowl223 commented on #59
Thats a good list for a later time, but for now i think we should focus on fixing whats in front of us. We're going to have a lot of potential changes coming soon and the classes have enough depth to them as-is for a wide variety of character creation.
Verdict: Remove from Play, RC and Dev.

[2017-04-13 16:41] #59 closed, assigned to trowl223

[2017-04-13 16:55] Wildlovelies opened #65 "Proposed Idea on monks"
@trowl223
I believe you and I have the only monks in existence, as their limitations make them a much more difficult class to play, I believe they are very end game characters and would love to take mine there. I have an idea, their kit as of right now is so limited the general player will not go near them. I know you have stated that you do not like classes that give stats, but I propose that Mon

[2017-04-13 17:48] bleehu commented on #63
Do you want @1sourcecontrol to write up a proposal for a fix?

[2017-04-13 17:55] Wildlovelies commented on #63
Splitting it into two feats could be an easy fix

[2017-04-13 17:57] Wildlovelies commented on #29
I believe stealth also ups crit chance, so just cloaking should give you a similar effect, unless this has been removed

[2017-04-13 17:58] bleehu commented on #61
I think this comes down to a disagreement over what "enough offensively" means. With the crit build, Medics are becoming a viable solo class. Which you like to play, but are somewhat less interested in playing with. We can discuss specific evidence of that offline if you'd like.
Solo classes are a design that I would like to avoid entirely in CX. We would like crit builds to still be fun and power

[2017-04-13 18:04] bleehu commented on #48
There is no rank. It doesn't need to be listed.
Expert = NPC

[2017-04-13 18:04] #48 closed, assigned to trowl223

[2017-04-13 18:06] bleehu commented on #58
Can we break the existing list into one issue per build so that we can kill them one by one? Even if there isn't any new builds? Because there isn't one fix we can make to cure all of these. That way we can use issues to track work that still needs to be done.

[2017-04-13 18:09] bleehu commented on #24
If nobody can remember what work this was supposed to be, I'm nuking it.

[2017-04-13 18:09] #24 closed

[2017-04-13 19:07] Wildlovelies commented on #58
Sure, do you want me to group similar issues, like nanite regen crit builds together?

[2017-04-13 19:08] Wildlovelies opened #66 "OP Build1: Berserker"
-Berserker: lvl 3 13 str, full armor plus 10 dr from passives, only thing they spend money on is their weapon and armor at this point so they can afford the first additional cyborg upgrade price of $2000. add power fist, you are doing 143 dmg per hit, you have 50 dr 100% coverage, and at lvl 5 any dmg you do take just increases your melee dmg even more. Add dual wield or akimbo...

[2017-04-13 19:09] Wildlovelies opened #67 "OP Build2: Marksman"
-Marksman: both builds can be broken, tech rounds with machine gun pistols and nanite regen..
Multi pin at lvl 10 is scary as hell, pick up to 13+ targets, everytime they do anything you get to shoot them

[2017-04-13 19:11] Wildlovelies opened #68 "OP Build3: Soldier"
-it'll heal soldier plus full armor: up to 50dr 100% coverage, plus only taking half dmg for everything else...

[2017-04-13 19:12] Wildlovelies opened #69 "OP Build4: Nanite regen crit build users"
-Nanite regen plus rapid fire high crit range build makes gaining 200 + nanites a turn possible
medic / engineer / paladin with near infinite nanites breaks certain aspects of the game.

[2017-04-13 19:13] trowl223 commented on #34
1Sourcecontrol and I are looking into changing the way automatic weapons work in Combat 2.0. Updates on that under his thread.

[2017-04-13 19:14] trowl223 commented on #35
I'll have to get with whomever is heading up the bestiary to provide stats, but the ones I provided should be enough to go on.

[2017-04-13 19:15] Wildlovelies opened #70 "OP Build5: Adept"
-Adept tank build, as it stands, adept can reach 60dr plus nanite shielding lvl 2

 also nanite regen crit build plus nanite shielding (nanite shielding listed as a separate nanite pool, nanite regen does not state which pool is filled) = near infinite effective hp

[2017-04-13 19:19] Wildlovelies opened #71 "OP Build6: Gunslinger"
-gunslinger machine gun pistol build with +40 dmg to pistols...

Gunslinger is the only class that can get the full +40 dmg to pistols, as far as ammo counts go, since they only use secondaries, primary _mags_ hold more than just one _mag_ per slot, extended mags are not that expensive.  shooting 3-4 shots per half action per gun at 79+ dmg per hit...

[2017-04-13 20:02] trowl223 commented on #46
I remember now. Mostly it was the paladin shield in addition to the Adept shield with armour.

As far as the Adept's own abilities go, I don't see how being a level 2 changes anything, the adept's shield abilities aren't level based.

I think we should yank Adept for the time being. They were meant to be what the paladin became, and I'll need to rework them to find a good niche for them. The idea

[2017-04-13 20:02] #46 closed, assigned to trowl223

[2017-04-13 20:04] Wildlovelies commented on #46
no, it was lvl 2 = full armor feat

[2017-04-13 20:05] trowl223 commented on #67
As mentioned in Issue #58, a potential solution is to allow the marksman feats only be usable with long rifles.
For multi-pin we can limit the number of targets to fire at per turn, but maintain that each pinned target /can/ be fired at, it would be user discretion on which targets are a primary threat rather than just firing at everything that twitches.

[2017-04-13 20:06] Wildlovelies commented on #67
also we need to limit direction, makes no sense to pin someone and shoot freely at them if they are behind you.

[2017-04-13 20:07] trowl223 commented on #68
As discussed, soldier can have a third look taken at it. I'm not comfortable with them and they could use something a little different. Yank for now? I feel that the current difference in builds between Specialist and Soldier is pretty small, so we can direct front-line damage dealers to build as a Specialist in the time being.

[2017-04-13 20:09] trowl223 commented on #69
Nanite Regen should get pulled from Play and RC until it can be fixed.

[2017-04-13 20:14] trowl223 commented on #70
As discussed previously, **Nanite regen does _not_ affect CS or Nanite shielding. They have a separate pool.** I realize that this is not mentioned in the rules, that should be the first change made.

Rule addition, regarding shields of all types:
"Shields run on a closed system which operates independent of the user's main Nanite pool. As such, regeneration of these shields occurs separately from

[2017-04-13 20:14] #70 closed, assigned to trowl223

[2017-04-13 20:17] trowl223 commented on #46
Please clarify. Do you mean that at level 2 you take the full armour feat with the class? In the future please mention a feat by name rather than just saying "at level two this class has this ability." We are rapidly approaching the point (or have surpassed it, really) where just saying that a class has a certain output potential means nothing because of how many possible feat combinations can be

[2017-04-13 20:20] trowl223 commented on #71
From Issue #58. Additionally, please mention the fact that you are using feats to reach the +40 damage. Gunslingers only have a +10 damage native to the class.

[2017-04-13 20:21] Wildlovelies commented on #46
Acquired: Metal Jacket

Prerequisites: Soldier, Engineer, **Adept**, Berserker

Enables the use of Full Armour by the listed classes

Sorry, here is the feat, taken at level 2

[2017-04-13 20:21] trowl223 commented on #58
@1sourcecontrol I wish there were a way to force combat to require more rounds spent ;P

[2017-04-13 20:21] Wildlovelies commented on #46
plus cyborg and adept shield bonus to dr

[2017-04-13 20:25] Wildlovelies opened #72 "Pistol Attachment limiting not listed"
Nit picky, but I cannot find where it says you can only put x attachments on pistol, or the opposite, cannot attach x to pistol

[2017-04-13 20:26] trowl223 commented on #67
You say "makes no sense". I say its a class ability which enables them to track any targets they have recently hit. Think about the Medic's heartbeat sensor, is that much different? I do think we should limit how far back "recent" is, I'll come up with a solid edit for the feat that addresses the following issues:
- Too many targets are able to be feasably fired at with a bolt-action rifle
- Limit

[2017-04-13 20:30] trowl223 commented on #72
Will address in attachments document or weapons document.
Pistols may make use of the following attachments:
- Sights with the "Pistol" keyword
- Aiming assistances like Lasers and Flashlights
- Barrel Attachments
- Slings with the "Pistol" keyword
- Ammunition
- Total Conversions with the "Pistol" or "Revolver" keyword, as applicable

Any other concerns?

[2017-04-13 20:32] Wildlovelies commented on #72
nope, just they weren't listed. remembered this from doctor build

[2017-04-13 20:34] trowl223 commented on #65
Interesting ideas. I still don't like the idea of classes granting stat bonuses or other such enhancements beyond specific skills inherent to the class (Hacking for the Priest, Sniping for the Marksman, etc.). I'll look into the Monk class pertaining to playability, but certain classes are going to have a steep learning curve. I will not buff a class for the sake of making it more appealing to the

[2017-04-13 20:35] #65 closed, assigned to trowl223

[2017-04-13 20:37] trowl223 commented on #63
@1sourcecontrol, @Wildlovelies and I spoke about this in our play session a week ago and yes, we may make double tap similar to what I mentioned, remove the crit range expansion, and add a new feat which enhances the crit range.

[2017-04-13 20:38] Wildlovelies commented on #67
No

[2017-04-13 20:53] Wildlovelies opened #73 "Alchemist in play under class.txt"
"Alchemist"

Mech summoner / P otions master

Passives: Repair/Tinker - 10 or ; +50 nanites.

Weapon Profs: Pistols, SMGs, Shotguns, Carbines.

Armour Profs: Recon, Light, Medium.

[2017-04-13 20:58] trowl223 commented on #73
needs to be yanked from Play and RC, class not yet ready for test.

[2017-04-13 22:42] 1sourcecontrol commented on #63
I added two branches + pull requests, please see them for more discussion on the details. Close?

[2017-04-14 03:10] bleehu commented on #73
Whoops! I forgot to branch. But it's yanked from play. About to do RC.

[2017-04-14 03:11] bleehu commented on #73
It's not in RC

[2017-04-14 03:11] #73 closed, assigned to trowl223

[2017-04-15 17:41] 1sourcecontrol opened #77 "Changing critical hits with automatic weapons"
With regards to balancing issues #74 & #75; I propose that criticals should only be allowed to occur on weapons firing single fire (1 bullet per half action).

1. Automatic weapons will still be very powerful since, I believe, they have the greatest potential damage output.
2. Combat turns will be sped up a little bit--less calculations/thought.
3. Potentially solution for a lot of abuse interacti

[2017-04-15 17:59] 1sourcecontrol opened #78 "Review of the words, Half-Action & Full-Action"
I know there has been some discussion on this topic so I'd like to push it along. :)

I think it would benefit the learning curve, ease-of-speaking, and ease of writing to change the half-action + full-action system to just "Action". For example, "I'm using my first action to move, my next action to aim, and my last two actions to fire" aka, 4 actions per turn.

I'm simply proposing a change to th

[2017-04-18 15:39] bleehu commented on #78
I think this is a good idea. Having four half actions per turn seems a little cloogy. What do you think, @trowl223 ? Should we assign @1sourcecontrol to make a branch and update this?

[2017-04-18 15:44] bleehu commented on #77
I really like this balance. It reminds me of the destinction that Halo:Reach made between precision weapons like the DMR and full auto weapons like the Assault Rifle. That led to really balanced weapon variety. It's simple, easy for players to understand.
@trowl223 what do you think?

[2017-04-18 15:47] bleehu commented on #71
The more detailed these bug reports are, the more precisely we can balance the fixes. =)

[2017-04-18 15:49] bleehu commented on #71
Attn. @Wildlovelies:
What feats is this using?
What level is this at?
What attachments is this using?
How much range does this character have?
How much health and armor does this character have?
What race is this character?

[2017-04-18 15:55] bleehu commented on #68
Sounds like the fix here is to just take a look at the "It'll heal" feat. Soldier and Specialist are already pretty different; take a look at the way Zach's specialist, Alex's specialist and Gnat's specialist play versus how Derek and Kevin's soldiers play. Maybe we can do some minor tweaking to increase the difference between them, but I think yanking them is way overkill.

[2017-04-18 15:59] bleehu commented on #67
Heartbeat simply tells you if an enemy is there, it doesn't grant any reactions to their movement. I agree that 'recent' could be more specific than it is, but the way that it's written that would be at DM discretion. And it probably should only apply to long rifles. Seems like an easy fix. @trowl223 do you still want to handle this personally, or do you want to delegate it?

[2017-04-18 16:01] bleehu commented on #66
I'll write up a fix and then submit it to @trowl223 for approval.

[2017-04-18 16:02] bleehu commented on #63
Close it when we merge Pull #74

[2017-04-18 16:04] bleehu commented on #64
I agree. I'll write up a change then submit to Trowl. (not tagging yet, 'cause I've already been pretty noisy).

[2017-04-18 16:07] bleehu commented on #57
@Wildlovelies do you want to take a shot at making a branch -> making the fix -> making the pull request -> profiting? Or are you having more fun breaking things?

[2017-04-18 17:28] trowl223 commented on #77
Agree, approved.

[2017-04-18 17:33] trowl223 commented on #64
Maybe we should remove them entirely and the Doctor class can rely on its procedures, similar to the Warlock / Sorcerer classes?

[2017-04-18 17:34] trowl223 commented on #66
As mentioned before, we're going to be limiting Lvl 1 to 10 in any stat (including with a cyborg upgrade) and removing the class-based buff.

[2017-04-18 17:36] trowl223 commented on #67
Since @1sourcecontrol is doing the combat update stuff, I'm going to reassign to him. My computer is still buggered and I need to find time to fix the setup so I can resume direct dev work.

[2017-04-18 17:41] trowl223 commented on #68
Alright.
Verdict: Fix It'll Heal. My recommendation is to allow the full amount of "ignored" damage to be taken at the end of the conflict, instead of half or 1/3. This damage does not have DR applied to it, so if a solider lets 4 or 5 shots "heal" during the course of an encounter, they will likely die at the end of the encounter. We can add some restrictions so that these wounds cannot be healed

[2017-04-18 17:42] trowl223 commented on #71
@Wildlovelies

[2017-04-18 17:47] trowl223 commented on #78
Yes, but I'd like them to be referred to as "Action Points", which are a new stat for the player sheet. If we move to having all Auto weapons miss chances based on strength ( @1sourcecontrol  ) I'd like to have Action Points increase based on Dex. Maybe +1 per 4 points above 5, -1 per 4 points below 5. We'll decide balancing later, but its an idea I've been playing with.

[2017-04-18 17:57] bleehu commented on #54
Chalk up another one!

[2017-04-18 17:57] #54 closed, assigned to bleehu

[2017-04-18 18:12] bleehu commented on #64
That seems almost too easy. Maybe a bit lazy. It should be good for something.

[2017-04-18 18:19] 1sourcecontrol commented on #78
Action points are more of a vague concept​; I went for as simple a term as I could manage.

But SMGs have auto miss chance reduced by DEX, as previously discussed. And I'm planning to open a future pull request for a feat that lets DEX be used in place of STR for the auto miss chance.

I'm concerned that, having DEX be used to control turn length will make DEX far too powerful.

[2017-04-18 19:47] Wildlovelies commented on #71
LVL4 Cyborg
Str:6 +2 from cyborg
Per:6 +1 from cyborg
fort:5
Char:9
Int:4
Dex:9
Luck:4
Class Passives: Pistoleer lvl1, + 10 dmg, +10m, +10% miss (malice)
Feats: LVL2: Dual wield, combat expertise guns, LVL4: Pistoleer 2&3

Total money, 1700 +100*luck - 800, +1000 per lvl (3) = 4300
Po8 phantomsx2 = 1140
pistol slingx2 = 200
heavy barrelx2= 200
red laserx2= 200
1.2 pistol sightsx2= 250
Lightened ma

[2017-04-18 19:48] Wildlovelies commented on #71
lvl 5 stat point in fort was not added in

[2017-04-18 19:50] Wildlovelies commented on #71
Ceramic Plate, Steel backed $220
        30%
        15 + d10 DR
4 primary  + 4 secondary mags

[2017-04-18 19:51] Wildlovelies commented on #71
enough to fill all slots with extended mags at 10 credits per mag

[2017-04-18 19:57] Wildlovelies commented on #71
lvl 8 would also take:
Acquired: Additional Plating
Prerequisites: Marksman, Gunslinger
Enables the use of Medium Armour by the listed classes.

Grabbing:
Carbon-Steel Fiber, Titanium backed,  $580
        60%
        25 + d10 DR
6 primary mags, 5 of combined secondary mags and grenades

[2017-04-18 20:03] Wildlovelies opened #84 "Classes with stat bonus'"
In an interest to make Taylor's life easier I have found all of the classes with stat modifications:
Assassin: +1 dex, -1 luck
Berserker +1 Str, +1 fort, -1 luck
Monk: +1 dex

[2017-04-18 20:06] Wildlovelies commented on #57
breaking

[2017-04-18 20:28] Wildlovelies commented on #71
this does not include gun kata

[2017-04-18 21:35] Wildlovelies commented on #71
I followed Taylors new rule of 10 max stats at lvl 1, else I could have min maxed more to get 12 dex (4 bullets per half action) and add 4 shots per round more per gun additional 696 dmg, totaling 2784 damage per round

[2017-04-18 22:23] 1sourcecontrol commented on #71
The updated weapon skill tree reduces the +30 feat damage bonus to +~9 damage. Totaling 66 damage compared to 87. Bringing it down to 1584 for dual-wielding during 4 firing actions.
Throw in a multiplier for miss chance, 0.74 * 1584, it looks like ~1172 damage for 24 bullets. I think any reasonable machine-pistol dual-wield will yield over a thousand damage. If targets are sitting behind cover and

[2017-04-18 22:38] 1sourcecontrol commented on #66
@trowl223 To make it more plain for me, does that mean a cyborg with 10 PER doesn't gain another stat point by getting an additional vision enhancement @ lvl 1?

[2017-04-19 14:09] Wildlovelies commented on #71
enhanced gunkata, says you can reload
You are a master of pistols. Applies to an target within 35m. On a successful

hit, you may continue rolling hits until you fail to hit. if you run out of

rounds, you may reload mid-kata by passing a DC 75% DEX check. You may hit a

target multiple times, but there must be one shot between shots fired at a

single target. (Ask GM).

[2017-04-19 16:57] bleehu commented on #84
Should we remove these?
If this is helpful, that's awesome. As a rule of thumb moving forward, I'd like to keep Issues limited to actionable work or concerns that need attention.

[2017-04-19 17:04] bleehu commented on #78
Marrying AP to Dex without reworking the whole stat system is gonna explode. Wildlovelies would choke us with DEX builds.
Action Points remind me heavily of Fallout and Warhammer. It's a workable verbage, but I'm not crazy about it. DnD 4 used Standard Actions and Minor Actions, 5e uses Attack Action, Move Action and Bonus Actions. In both cases, Action Points could be spent to get more actions on

[2017-04-19 17:05] bleehu commented on #77
Great work guys! If the branch is merged, go ahead and delete it so we don't have a massive backlog of dormant branches and close out the issue if it's solved :)

[2017-04-19 17:49] bleehu commented on #71
<shrugs> I don't see the problem? He's really good at shooting lots of things. It's a good build, he's not too fragile and does a lot of damage at medium range. But he can't do his ultimate multi-target past 35m and cant blow things away past 55m. He's hard-countered by enemy snipers or controller mages, which should be par for the course by level 8 at least. On the flip side, he's the natural pre

[2017-04-19 17:53] bleehu commented on #68
Sounds good. Who do you want to write it?

[2017-04-19 17:55] bleehu commented on #66
Removing which class-based buff?

[2017-04-19 17:56] bleehu commented on #57
lol, alright :) @trowl223 mind if I take it?

[2017-04-19 17:57] Wildlovelies commented on #84
it is actionable, @trowl223 said he wanted to remove these stat bonus'

[2017-04-19 18:23] 1sourcecontrol commented on #71
Do you think we could open another issue for enhanced gun kata level 2? I think it's too strong. Simply better firepower than anything else at that range when shooting 2+ targets

[2017-04-19 18:28] 1sourcecontrol commented on #68
Am I reading this right? So the soldier takes 1/2 damage until the end of conflict, then basically, instantly dies by taking another full set of damage?

[2017-04-23 03:53] Wildlovelies opened #88 "chemical incapacitation grenade"
cloud has no written duration

[2017-04-25 17:49] 1sourcecontrol opened #89 "Stun condition; what does it do?"
I saw it [here](https://github.com/trowl223/Compound_X/blob/db8ba27ec74ebd28220c3977baa101532aeb25c1/play/PlayerRules/CharacterCreation/04_03_Advanced%20Weapons.txt#L364-L365):

What does "Stun" do? And should it be added to the conditions list in the basic rules?

[2017-04-25 20:17] trowl223 commented on #89
They can take no actions. Maybe the wording should be changed to paralyzed since its an electric shock inducing the stun.

[2017-04-25 20:30] 1sourcecontrol commented on #89
You could call it "stunned/paralyzed" under basic rules then you can use either? Unless there is a stun effect that is different than paralyzed

[2017-04-25 20:51] trowl223 commented on #89
Yeah, that sounds good. They have the same effect, they are just used in different contexts

[2017-04-25 21:41] #89 closed, assigned to 1sourcecontrol

[2017-04-26 17:43] #60 closed, assigned to bleehu

[2017-04-26 17:43] #61 closed, assigned to bleehu

[2017-04-26 17:43] #62 closed, assigned to bleehu

[2017-04-26 17:43] #64 closed, assigned to bleehu

[2017-04-26 17:46] #69 closed, assigned to bleehu

[2017-04-26 18:34] trowl223 commented on #57
Not at all.

[2017-04-26 18:36] trowl223 commented on #66
@1sourcecontrol Yes. If you want to have the other benefits of a cyborg enhancement, the player should spec their stats so they have room for the increase due to enhancement.
@bleehu the Berserker strength buff and intelligence debuff.

[2017-04-26 19:54] #77 closed, assigned to trowl223

[2017-04-26 20:07] 1sourcecontrol commented on #34
During a mission @bleehu had ad-hoc allowed me to use 6 shots instead of 4 for the first feat (which brings it on-par with automatic rifles @ high STR, 3 shots for 1 half action at 9 STR; if I recall correctly).

I think "needs more dakka" could get reworked regardless of the combat 2.0 changes because it's main use seems to be to make any semi-auto weapon fire like a fully-automatic one. Maybe th

[2017-04-26 22:48] bleehu commented on #84
removed in commit 7854f6a00beecb10a1b6afc1d7c7bd7ebb1bf6c5
Should have made a branch. Whoops.

[2017-04-26 22:48] #84 closed, assigned to nobody

[2017-04-26 22:49] bleehu commented on #66
removed in commit 7854f6a00beecb10a1b6afc1d7c7bd7ebb1bf6c5
Should have made a branch. Whoops.

[2017-04-26 22:51] bleehu commented on #49
You said nice start. Is there more misc items that you want?

[2017-04-26 22:52] #63 closed, assigned to 1sourcecontrol

[2017-05-04 15:18] Masterdiekillsu opened #95 "Certain feats dont explain what they do"
In particular, the feats:
The Stealth Option
Acquired: With Friends Like These . . .
Acquired: . . . Who Needs Nano-Technologies?

These feats do not have the explanation for what they do. They have the prerequisites, but that's it.

This is in the Play, player rules, character creation, feats section.

[2017-05-04 21:28] bleehu commented on #95
Good bug. Which Branch?

[2017-05-04 22:23] #49 closed, assigned to bleehu

[2017-05-04 22:53] Masterdiekillsu commented on #95
It is in the "play" branch
It's also possible that this error has carried over into other branches as well

[2017-05-05 03:57] bleehu commented on #95
Taylor apparently says that they are surprise feats. You find out what they do when you take the feat.

[2017-05-05 03:57] #95 closed, assigned to nobody

[2017-05-13 22:58] 1sourcecontrol commented on #78
This issue has been sitting around for almost a month, and I believe we've all had time to think about it. What's the plan? @bleehu

[2017-05-16 22:20] #88 closed, assigned to trowl223

[2017-05-16 22:28] bleehu commented on #78
Let's go with the term "Actions" and have them be atomic units. No more of this "half action" stuff.

Do you mind taking it? @1sourcecontrol ?

[2017-05-16 22:31] bleehu commented on #71
@1sourcecontrol open that ticket please.

I think we close this out. I think It's powerful, but not broken. If someone disagrees, we'll reopen it and fix it.

[2017-05-16 22:31] #71 closed, assigned to nobody

[2017-05-16 22:37] bleehu commented on #10
@trowl223 Can we yank this spell? It's the only ability in the game that isn't agnostic to enemy type. I'd really like to kill this issue.

[2017-05-16 22:39] bleehu commented on #30
I'll Clarify this and close it out.

[2017-05-16 22:40] bleehu commented on #58
We'll tackle these builds each on their own. Great work, @Wildlovelies !

[2017-05-16 22:40] #58 closed, assigned to Wildlovelies

[2017-05-16 22:41] bleehu commented on #29
@trowl223 It's been a couple of months. You got this or you want me to reassign it?

[2017-05-16 22:44] bleehu commented on #56
The branch was merged before the change could be made. @1sourcecontrol could you finish up this change and we'll merge it again?

[2017-05-16 22:45] bleehu commented on #68
@1sourcecontrol That's correct. Maybe we could do better?

[2017-05-16 22:46] bleehu commented on #33
I'm greenlighting this and taking it myself.

[2017-05-16 22:47] bleehu commented on #35
@trowl223 would you set up a meeting with me to go over this in detail? I'll be managing the beastiary and will probly end up delegating the work to someone anyhow.

[2017-05-16 22:55] bleehu opened #96 "Feature Request: More misc Items"
We had a good start on miscellaneous items in the 07 items doc, but we could always use more!

Canteens, Compasses, Flint n Steel, RC cars, maybe some musical instruments and salvage tools have all cropped up in gameplay. I think they are likley to pop up again, but we still don't have any idea what they should cost or what their stats (if any) should be.

Feeling creative?

[2017-05-16 23:10] bleehu commented on #32
check your inboxes for invites to the following private repos. @1sourcecontrol @trowl223 @Wildlovelies

https://github.com/bleehu/CX_Galaxy_Masters_Guide

https://github.com/bleehu/cxBeastiary

https://github.com/bleehu/CX_Design_Guide

[2017-05-16 23:10] #32 closed, assigned to trowl223

[2017-05-18 16:39] bleehu commented on #47
I see this fix as a sort of band-aid as opposed to a well-thought-out fix. We will then have the same issues as soon as a character is level 2 that we have now. It also doesn't give the chance to grow more once at higher levels.

[2017-05-18 17:22] trowl223 commented on #10
Yank for now, I think we need to rework it so it flows with any environment and not just the Xenofaroxi Conflict universe.

[2017-05-18 17:22] trowl223 commented on #29
Yes please, thank you.

[2017-05-18 17:35] trowl223 commented on #30
Approved merge, closing issue.

[2017-05-18 17:35] #30 closed

[2017-05-18 17:36] trowl223 commented on #50
Approved merge, closing issue.

[2017-05-18 17:36] #50 closed, assigned to bleehu

[2017-05-18 17:38] trowl223 commented on #68
Its the whole adrenaline rush thing on a new level. The soldier gets so amped on trying to finish the conflict that they can ignore crazy amounts of pain and damage to accomplish their goal. Once the adrenaline wears off (after encounter is over) they succumb to the blood loss / system failures. If you guys don't like this mechanic we can look at something else or another way of doing it, I'm not

[2017-05-18 17:40] trowl223 commented on #78
Agreed.

[2017-05-18 17:40] #78 closed, assigned to 1sourcecontrol

[2017-05-18 17:55] trowl223 commented on #72
I've added a response on the merge request thread, I'm going to close this issue since a solution is being worked on.

[2017-05-18 17:55] #72 closed, assigned to bleehu

[2017-05-18 19:05] #57 closed, assigned to bleehu

[2017-05-18 19:06] #33 closed, assigned to bleehu

[2017-05-19 20:42] bleehu opened #103 "Feature Request: Drunk Status Effect"
We should have a condition for being intoxicated.

[2017-05-22 17:14] 1sourcecontrol commented on #56
Per our conversation, @bleehu, I propose that we close this issue. I think we should leave crits the way they are, for now. I see a lot less potential for abuse now that nanite-regen is being redone and automatic weapons can't crit.

[2017-05-22 17:54] 1sourcecontrol opened #106 "Review Gunslinger: Enhanced Gun Kata"
I think enhanced gun kata level 2 is far too powerful. The ability has no limit to uses per day, no stated action cost (so I assume it takes 1 action to use?), has the potential to kill every enemy (granting that the enemies are the same difficulty level) within sight & 35m kata range of the gunslinger, and a high-dex cyborg could feasibly reload several times in a single use of the kata.
Gunsling

[2017-05-22 20:25] bleehu commented on #56
I think we should make a cap that says you can't increase crit range beyond a roll of 80+ even in the case of temporary luck, etc. I think Wildlovelies could still abuse crits.

[2017-05-22 21:08] 1sourcecontrol commented on #56
Why don't we have lovelies try?
My thoughts:
There are two ways, that I know of, that could possibly abuse crits.
1. Criticals cause bonus damage.
               Even if a player got 100% extra-crit on every roll, which is +20 damage constantly, he can't use it during automatic fire. It matters for beating armor DR, so they would be better at dealing with high armor targets; however, the virtual d

[2017-05-22 21:15] trowl223 commented on #56
I agree with what @1sourcecontrol has brought up. Recent changes (especially the automatic fire negating crits) have drastically lowered the possibility for abuse of the crit system.

I do believe that he has also brought to light that First shot counts (and Last shot counts) could use some buffing, as they add 20 damage on 10% of reloads. I'm going to create a separate issue for that so we can de

[2017-05-22 22:42] trowl223 opened #108 "First Shot Counts / Last Shot Counts buff"
_First / Last Shot Counts feats, as written:_
"When reloading, if you Critically succeed, the first round out of that
magazine deals Extra-Crit damage."
"The last shot in every mag deals Extra-Crit damage, but your reload DC is
twice as high."

_What this means for players:_
A critical success on reload is not really defined anywhere, but I meant it to be the same range as a weapon hit, 91-100. 10

[2017-05-22 22:47] trowl223 commented on #106
Agreed. The Gun-Kata class ability was meant to reflect the gun-fights encountered in the John-Wick films, or in Equilibrium. We should re-work the feats or replace them, but I want the gunslinger class to still be a class which reflects John Wick / Jason Bourne / John Preston. At least in terms of ranged weapons, not necessarily unarmed combat as well. Although that may be an interesting angle to

[2017-05-23 00:29] 1sourcecontrol commented on #108
Couple of thoughts:

Why restrict the number of procs per encounter? It adds more stuff for the player to keep track of.
And If a player is spending actions (1 or 2 actions, w/e) on reloading, they are already at a huge disadvantage vs another firing action. If a player reloads-fire-reloads-fires in a turn (without having to aim again), they are nearly halving their DPS. (Exception: this strategy

[2017-05-23 16:54] bleehu commented on #108
Restricting the the number of procs prevents players from simply reloading every turn reusing the same mags over and over to get that +30 buff on every shot. While the penalty in actions to reload might make the numbers balanced, constantly reloading breaks the aesthetic of the fantasy.

I think it's a great point about shotguns, and we have a similar issue with single-shot weapons. Maybe we shoul

[2017-05-23 16:55] bleehu commented on #106
I think we can still capture that aesthetic without borking the game entirely.

[2017-05-23 16:56] bleehu commented on #56
I still think the *4 multiplier is a bit high, but let's see how it plays out in the next versions. Closing it out =)

[2017-05-23 16:56] #56 closed, assigned to 1sourcecontrol

[2017-05-23 17:25] 1sourcecontrol commented on #108
1. I think we can't guarantee aesthetic unless we take extreme measures which would demolish the feat.
What I mean by that is, If I can proc 6 times (because of having 6 unused mags) and it looks advantages to do so every turn or 2x a turn, then I will fire and reload 6 times, ruining the aesthetic. As far as I can see right now, to guarantee the aesthetic we'd have to make the feat only proc'able

[2017-05-23 17:32] bleehu commented on #108
1) I leave it up to our creative director to make the judgement on aesthetic vs gameplay. @trowl223
2) I like the "at least 6" fix. I like that a lot.

[2017-05-23 17:32] 1sourcecontrol commented on #56
Thanks Mike, I'm sure we'll find out how it works, soon enough.

[2017-05-23 18:31] bleehu opened #112 "Start Reimplementing External Aug"
In order for us to work efficiently and make a good addition to the game, let's start external augmentation with a well thought-out design document. I recommend putting it in the design guide private repo, so that only developers can see it.

[2017-05-23 19:29] trowl223 commented on #108
1. That aesthetic is correct, if you choose to reload 6 times in a row, you've blown through the first round in each of your 6 mags, now you have 6 stale mags to go through.
2. I think these feats should stack in all circumstances except where there is one round. In this case, only First Round Counts should be taken into account. I also don't think these feats should be usable on grenade launchers

[2017-05-23 20:03] 1sourcecontrol commented on #108
@trowl223 We could put in a clause so that these feats don't affect any AOE, only single target?

[2017-05-24 05:03] bleehu commented on #108
I like all of those additions.

[2017-05-25 03:54] 1sourcecontrol commented on #108
Ah, I realized later that stale mags keep track of themselves without additional work since players already have to keep track of ammo. Unless the player misses an 80% reload.

Thought: what about the possibility of making the feats just be an extra-crit + 10 damage instead of a pure +30 damage? I know it may be unpopular to say this, but it would allow players to combo these with other feats like

[2017-05-26 16:15] 1sourcecontrol commented on #66
I don't know what our opinion is on "necro'ing" threads, but I'm talking on this issue since we already have the relevant discussion:

@trowl223
So then, once I'm level 2 or level 4 or just _not_ level 1, I can purchase an enhancement for a 10 point primary stat (or when I get an additional stat point as part of leveling up), I can push it to 11 points? And the max I can ever have is 15 points in

[2017-05-26 16:29] 1sourcecontrol opened #113 "Basic rules; what is the -actual- average number of stat points?"
Herro, In basic rules (dev branch) it is stated that an average person would have 5 points in each primary stat. 5 * (7 stats) = **35**. While it may appear that the average is 5 because our soft-maximum is 10 points in any primary stat...
The average _human_ would actually have 6 points: 6 * (7 stats) = **42**.  And no known (at least, to me) race has 35 starting points. Also, _Trowl223[EDIT]_ ha

[2017-05-26 16:39] bleehu commented on #113
The average person in the world would have a '5', but player characters are not average people; they're either heroes, anti-heroes, or supervillians. So while *people* have an average of 5, *PCs* have an average of around 41.

This is rabbit-trailing a bit, but I think we should slightly up the count of stat points we give out before level 10.

[2017-05-26 16:56] 1sourcecontrol commented on #108
Alright, now that my brain is working better today, I have some more logic to hopefully corroborate my opinion.

Consider a user with a 30 round magazine. For a typical user (crit at 91-100%), every 8 bullets fired gives a ~57% chance of landing at least 1 crit. Firing 30 bullets is a 96% chance of landing at least 1 crit.
 Getting the feat "Never tell me the odds" increases your chance of a crit

[2017-05-26 17:00] 1sourcecontrol commented on #113
Ok, good word; however, the text is completely ambiguous.

No worries, this is a simple topic. Might as well have even more productive conversations.
How come? There are lots of considerations (as I'm sure you are aware).

[2017-05-26 17:39] bleehu commented on #66
Issue #47 is directed at stating that exactly.

what is necro'ing threads?

[2017-05-26 17:45] bleehu commented on #113
ya, we could shore up the description a bit.

There are a lot, but I think our conversations will be more productive if we approach each consideration in turn. Which popped out at you?

[2017-05-26 18:00] bleehu commented on #108
It sounds like having the bonus to crit isn't valuable in isolation, but I still like the idea that a clever player (like Stephen) can make a build with crits that is better than the sum of its parts. So long as that build isn't so much better as to break the game. While I agree that this feat isn't really worth it by itself, I don't think that means it should be radically changed from what you're

[2017-05-26 20:50] 1sourcecontrol commented on #108
Just to be clear, I'm a proponent of extra-crit+10 damage versus a pure +30 damage.

[2017-05-26 21:41] 1sourcecontrol commented on #66
Woops, thanks.

necroing is reviving dead (typically really old) threads

[2017-05-26 22:18] 1sourcecontrol commented on #113
I don't know where the stat point limit should be. Max 15/14 stat points works for me as it currently stands. But I don't have a feel for how the balance may shift if players start having 15/14 stat points around level 10. I'm trying to design weapons and armor for a certain expected miss %, health, and other stats. If the average player starts having much higher perception/Health than I designed

[2017-05-30 16:18] 1sourcecontrol commented on #112
I'm not sure what the process is now, after the discussions we've had.
I've inadvertently made a good segway to add combat frames into the update I'm doing to the armor system, so that's half done.
(To be clear, the design makes the user have their regular armor with the combat frames, but it's not powered armor; per se. And I believe the user has to be able to use armor with their combat frame, o

[2017-05-30 23:15] 1sourcecontrol opened #114 "Maluses to min-maxing Characters"
Personally, if a DM adds an additional debuff to my character, that tangibly changes gameplay because I min-maxed the character, I may feel cheated and I believe that feeling is justified. Debuffing is the DM's call; however, why didn't the game rules say something about min-maxing so the DM doesn't have to trash my strategy? Why do I get the impression that it is an abuse of the system when min-m

[2017-05-31 01:55] trowl223 commented on #113
Bleehu is correct on all counts. I think 15 is a good cap for now until we do more extensive testing. that grants a +40, which is a whole heck of a lot of points. I'm also thinking lately we should halve all bonuses from attachments, anyone with a +40 perception won't be hindered by any sort of cover.

[2017-05-31 01:57] trowl223 commented on #112
Lets stick with C-Frames for now since those will be more widely available and need to be balanced for each class. As discussed 28th May, 2017 at our Dev session, the Combat frames will be a separate entity from the Combat Suits -> Powered Armour.

[2017-05-31 02:03] 1sourcecontrol commented on #112
Ok, I guess I'll just not attempt any more work on it __edit:__ without more direction.

[2017-05-31 02:06] trowl223 commented on #108
Can we compromise a little and go for a +15 damage?

[2017-05-31 02:09] 1sourcecontrol commented on #108
+15 damage in what context? Does that damage get applied to the last shot of _Last Shot Counts_?

[2017-05-31 03:28] trowl223 commented on #114
Here are my opinions, and later, some guidelines:

Opinion: Min maxing is beneficial to character diversity, and yes, allows for greater exploration of what is possible in the game. If we wanted to perfectly balance the game, we'd remove stats all-together and use a purely skill-based system. There are systems that do this, and they work well for the asthetic they are trying to present. There is a

[2017-05-31 16:17] 1sourcecontrol commented on #114
Ok, sounds like a plan.. But, can you define the debilitations to be more practical/numerical?
I.e., STR = 1, does this mean I can't shoot a gun, or engage in combat at all? Am I only useful as a charisma player? If I can't run, what is my max move speed?
PER = 1, what does it mean to be functionally blind? Can I shoot a weapon with -16% accuracy like the rules say?
FORT = 1, do I take double dama

[2017-05-31 16:19] bleehu commented on #66
I think we revive threads as long as they're relevant. :)
It's also my opinion that a limit on only level 1 character stats doesn't make much sense, since players typically level up past level 1 pretty quickly.

[2017-05-31 16:32] bleehu commented on #113
I think these are good changes, but we should look at how these stats progress over leveling. A particular static maximum I think makes less sense at either early levels or late levels.
Perhaps we should also add just a little scaling to cover? Perhaps reflecting veterans' tendency to take cover more efficiently having been battle-hardened?

[2017-06-22 06:14] trowl223 commented on #66
@1sourcecontrol Correct, its just a character creation cap so that all characters start off on similar footing, no one should have higher than a +20 modifier @ Lvl 1

[2017-06-22 06:15] trowl223 commented on #108
In your recent rebuttal you mentioned treating the buff as +10 Ex-Crit damage, I'd like to test it at +15 Ex-Crit damage.

[2017-06-22 06:17] trowl223 commented on #113
Yeah, hard caps aren't always the best method for balancing. maybe we could look at different caps for Lvls 7, 14 and 20?

I believe @1sourcecontrol is working on that with the new combat tree? If not, It'd make for a good feat tree which rewards our players for playing how we think they should.

Edit:
I had a shower thought this morning. I'm going to toy with different stat / skill increase chart

[2017-06-22 06:42] trowl223 commented on #114
STR: I should revise that to say that the player has just enough strength to support themselves and light clothing. They have no carry capacity. Max movement is 2m unless they have Dex of 1.
PER: No, they would have no way to perceive their environment at all. They may have a rudimentary speech assist plugin that translates incoming speech into basic emotions, but it wouldn't be very capable for c

[2017-06-22 16:14] bleehu commented on #10
merged and completed!

[2017-06-22 16:14] #10 closed

[2017-06-22 16:14] bleehu commented on #29
merged and completed!

[2017-06-22 16:14] #29 closed

[2017-06-22 16:15] bleehu commented on #34
merged and completed!

[2017-06-22 16:15] #34 closed, assigned to bleehu

[2017-06-22 16:17] bleehu commented on #35
We've gone over this at the starbucks in Sumner, closing this out and tracking re-development in the External Aug project.

[2017-06-22 16:17] #35 closed, assigned to trowl223

[2017-06-22 16:21] bleehu commented on #66
That doesn't fix the problem! It just delays the problem until level 2? We need to solve the problem for all levels.
Could we set hard caps for every level that increase at certain increments?
i.e.
levels 1-3 cap 13
levels 4-6 cap 14
levels 7-9 cap 15
levels 10-12 cap 16
levels 13-15 cap 17
levels 16-18 cap 18
levels 19+ no cap - if you've played this far, you've earned the power trip.

[2017-06-22 16:26] bleehu commented on #114
That luck penalty only affects classes that work with guns. We need to add a penalty that costs something from mage/sorceror/monk as well.

[2017-06-22 16:32] bleehu commented on #68
This has been sitting too long, I'm going to assign myself and take care of it.

[2017-06-22 19:12] trowl223 commented on #114
"For melee users, they increase their crit chance by 10 per field (91 -> 101, 96 -> 106) essentially removing their ability to score a Critical Hit, unless their crit ranges are influenced by a feat or class ability."

[2017-06-22 19:14] trowl223 commented on #66
It does though, no player can have higher than 10 points at level 1, so all players who max out a stat will have 10 as their absolute highest starting point. That as i perceive it is the crux of this issue.

The first stat increase isn't until level 5, so all players will have a max of 10 until level 5, unless they are a cyborg and pay for an augment at level 3 for $2000. They can pay for another

[2017-06-22 19:43] bleehu commented on #66
oh! So you felt that it was implied that at level 2 you didn't get reimbursed for the stat point you we being capped against. I think that would work.

[2017-06-22 19:53] bleehu commented on #114
it seems to me that losing the ability to melee crit is a minimal loss compared to what could be gained. For instance, if I was a melee assassin, I would totally drop Luck for Dex, fort and strength. If I can't crit with melee, no problem; I'll be doing at least 80 damage ignoring armor per hit anyway.

What if instead of messing with their jam range and crit chance passively, what if we create a

[2017-06-23 17:35] trowl223 commented on #66
Yes, precisely.

[2017-06-23 17:38] trowl223 commented on #103
Yes. There should be two effects with various stages of intoxication : Uppers and Downers. They should be part of the "Sickened/Ill" condition set so a GM can add extra side effects for certain substances.

[2017-06-23 17:43] trowl223 commented on #114
I like that. We could even make the table listed from -30 to 100. Players with 5 luck will be subject to almost no bad luck, but players at 1 and 2 will have a sufficient negative modifier to fall into bad luck most of the time. Players don't normally have to roll for this table unless certain conditions are met, but players with a luck of 1 always roll from it at the start of combat.

[2017-06-23 18:54] bleehu commented on #68
Taken care of

[2017-06-23 18:54] #68 closed, assigned to bleehu

[2017-06-23 18:59] bleehu commented on #114
Would things above 50 be good in the "large" table of -30-100? Or would it still be the "Black Cat" table?

[2017-06-23 19:00] bleehu commented on #103
Does anyone else want it?

[2017-06-24 19:48] 1sourcecontrol commented on #114
Alright, this is very productive!

  So does that or does that not remove the players ability to fight at all in combat?

My caution when designing this is:
While it may be reasonable to say someone in the real world wouldn't be able to fight by having a 1 in a primary stat, if we take away a player's ability to make meaningful contributions to half of the game's gameplay, that basically forces pl

[2017-06-25 07:33] 1sourcecontrol commented on #113
I'm pretty fine with the idea of a 10-attribute point hard/soft cap at character creation and a 15-point hard cap thereafter. So that a cyborg could get shmancy upgrades to push him over 10 attribute points during his lifetime and/or characters can invest their bonus skill points to push themselves over 10.
Another thought is to put a soft cap at 8 or 9 points during character creation. Which allo

[2017-06-25 07:45] 1sourcecontrol commented on #108
I didn't communicate well, I think. I meant to say, extra-crit damage (20) plus a bonus of +10 for a total of +30 damage. (Which gives the player the pure 30 damage and the possibility of proc'ing other effects from the crit).
But if you want to try it at a total of +35 damage, i'm all for it.

[2017-06-25 08:10] 1sourcecontrol commented on #66
I made a reply to this topic in: #113. Why don't we close this issue here, and continue over there?

[2017-06-25 21:54] trowl223 commented on #108
Oh, I must have misunderstood then. No, Extra-Crit + 10 damage is fine : ] Good idea keeping the crit for play with other abilities.

[2017-06-25 22:02] trowl223 commented on #113
Soft capping at 8 or 9 would be ab interesting experiment. It pushes for a more even spread of skills rather than min-maxing and means that players who really want that 10 score at level 1 need to pick a race that gives them a bonus in that score.
Since we're on the subject of Racial score bonuses, has anyone else noticed that with a point-buy system, the stat that the race's bonus applies to does

[2017-06-25 22:03] trowl223 commented on #66
Agreed.

[2017-06-25 22:03] #66 closed, assigned to bleehu

[2017-06-25 22:06] trowl223 commented on #114
@bleehu They would be more neutral things, with maybe a roll between 90-100 granting a very small bonus, or maybe 80-100?

@1sourcecontrol I guess that's true. What I'm trying to say is if 1 is the lowest score the character can have and still be slightly useful, then a 0 would be the score where you are 100% functionally blind. Have I fallen into this same trap with any of the other proposed pena

[2017-06-26 17:31] bleehu commented on #108
Sounds like we have a consensus then on the rewrites? @trowl223 would you make the branch from dev, make the change and submit the pull request? Or delegate it?

[2017-06-26 17:37] bleehu commented on #114
I believe the question label has been answered and we are resolved to move forward by adding to the basic rules a series of penalties as trowl223 described above. I would like to drop the question and help wanted labels and replace them with a greenlight - awaiting pull request label. @1sourcecontrol would you mind grabbing this and doing the work to enter it?

[2017-06-26 17:38] bleehu commented on #103
I'm taking it!

[2017-06-26 17:40] bleehu commented on #106
@trowl223 would you write a replacement for this and submit a pull request?

[2017-06-26 17:41] bleehu commented on #106
I'd like to fix this bug much before we pick up again this fall.

[2017-06-26 18:08] 1sourcecontrol commented on #114
@trowl223, no I think it's fine. We'll just have to watch how STR And PER are implemented to avoid uselessness.

@bleehu sure, I'll take it.

Is it all right if I just make a simpler black cat table, or do we want the larger table?

[2017-06-26 18:34] bleehu commented on #114
Personally, I would keep it simple. But if you're taking the work, you get to decide!

[2017-06-27 18:23] 1sourcecontrol commented on #113
@trowl223
I suggest we try 9 (which I can propose in the combat 2.0 update.) An even spread is unintentional on my part; I don't think it's ideal to reduce player choice/customization with primary attributes. But it will increase the necessity to pick a race that fits your needs and desires, as you noted.

I have observed that in the past; the bonus primary attribute points only force a minimum DE

[2017-06-30 20:28] bleehu commented on #112
Tracking work here:
https://github.com/trowl223/Compound_X/projects/1

[2017-07-03 22:25] bleehu commented on #47
Pull Request submitted. Issue will close on acceptance.

[2017-07-04 21:29] 1sourcecontrol commented on #113
made the text clarifications in #118 . Leaving open because of the discussion?

[2017-07-06 01:34] bleehu commented on #113
Close it once it's merged! :)

[2017-07-06 02:04] #113 closed, assigned to 1sourcecontrol

[2017-07-07 15:58] bleehu opened #120 "Feature/Rule request: Crouch and prone"
1Sourcecontrol suggested adding rules for crouching and going prone into our ruleset. I think that's a great idea as well. Specifically, we need to know how many actions it takes and what effect it has on accuracies, both those shooting at the now-smaller target and the accuracy bonus for aiming from a more stable position.

[2017-07-07 16:02] bleehu commented on #67
fix merged. Closing issue.

[2017-07-07 16:02] #67 closed, assigned to 1sourcecontrol, trowl223

[2017-07-07 16:41] bleehu commented on #114
PR #119 merged. Closing issue.

[2017-07-07 16:41] #114 closed, assigned to 1sourcecontrol

[2017-07-08 21:47] 1sourcecontrol commented on #120
I'm currently throwing it in the combat 2.0 update, but my plan is as follows:
**Crouching**: +10% defense, free action to crouch, 1 Action to stand up, -1 movement speed per action (minimum 1) while crouched
**Prone**: +20% defense, 1 Action to prone/un-prone, -5% gun miss chance while prone; +15% to be hit in melee; 1/2 movement speed while prone, rounding down.

I'm thinking it may be good just

[2017-07-11 17:19] bleehu commented on #120
Maybe a feat for a Gears Of War style roadie-run? (running while crouched) Looks great to me.

[2017-07-11 17:49] bleehu commented on #47
Merged. Closing

[2017-07-11 17:49] #47 closed, assigned to 1sourcecontrol, trowl223

[2017-07-11 18:07] bleehu commented on #106
Bump

[2017-07-12 16:27] bleehu commented on #120
Technically, we can't close this issue until the work in Combat2.0 is merged to dev, but 1Sourcecontrol has already done the work in PR #122

[2017-07-12 16:28] bleehu commented on #103
Awaiting @trowl223's ok for the alcohol warning.

[2017-07-12 16:30] bleehu opened #123 "Level 10 weapons in play unplayable"
There's dev notes and general mess all over the level 10 weapons. We need to clean it up so that it's playable. This work needs to be prioritized! We're going to play this soon!

[2017-07-12 16:31] bleehu opened #124 "Level 10 armor in play messy"
Dev notes in play need to be redacted

[2017-07-12 16:32] bleehu opened #125 "Level 10 armor missing"
we need level 10 armor! We have some cloaking armor for some reason, but no medium light, heavy really none of the armor that our level 10 and level 11 characters are using!

[2017-07-12 16:35] bleehu opened #126 "Level 10 weapon attachments missing"
We don't have any level 10 slings at all.

[2017-07-12 16:36] bleehu opened #127 "BE Meyers attachments missing"
The level 10 weapon enhancements based on real-world company BE Meyers descriptions and prices are missing.

[2017-07-12 16:38] bleehu opened #128 "Level 10 Rail attachments missing"
We have no Level 10 rail attachments

[2017-07-12 16:39] bleehu opened #129 "Level 10 sights missing"
We only have one level 10 scope in play. Not even sure if it's balanced.

[2017-07-12 16:40] bleehu opened #130 "Level 10 special ammo missing"
We have no level 10 special ammo.

[2017-07-12 16:47] bleehu opened #131 "No class feats after level 10"
Maybe this isn't an issue, but Players are going to hit level 15 in December and they will either run out of class feats to choose or will get a second class feat balanced for level 5. I recommend that we add a document to the level 10 folder that contains class feats that are balanced for level 15+ play.

As a comparison, 4E DnD would have whole separate classes for characters that reached level

[2017-07-20 01:34] trowl223 commented on #103
Yeah. I don't think the game needs to be family friendly. Its something we can always take out of the game too.

[2017-07-20 01:35] trowl223 commented on #106
Okay. I'll get to work on this this weekend when I have time.

[2017-07-20 01:35] trowl223 commented on #108
I'll take it.

[2017-07-20 01:39] trowl223 commented on #131
Class feats are currently built to go up to 20? there are 2 types of feats for each class, and two tiers of each. they aren't both level 5 / level 10 feats.

[2017-07-20 01:42] trowl223 commented on #130
As a suggestion, Vorpel rounds and phasing rounds were somewhere in one of my ideas documents.

- Vorpel rounds add a bonus to crit and extra damage on crit, something in the realm of -10% to each crit tier, +10 damage. Magazine cost * 2.5 or 3.
- Phasing rounds add +10% to hit, even when target is in cover. Magazine cost *1.5

[2017-07-20 01:46] trowl223 commented on #123
I'll take a look at it, but i'll need to work with @1sourcecontrol to translate the old weapon stats into the new system.

[2017-07-20 01:48] trowl223 commented on #126
Its tough to really come up with a sling better than what exists, other than generic sling #s 3 & 4 which have slightly better stats. I think thats what we'll need to go with though.
I do like the idea of a sling with a magnetic attachment point that is quicker than the traditional clip system used on a 1 point or 2 point sling.

[2017-07-20 16:01] bleehu opened #133 "Death saving throws are a house rule"
Without some bleedout system, there's no actual danger from going down. We should make the death saving throws part of the core rules. If we don't do that or implement a similar system, then we'll suffer the cockroach effect.

[2017-07-20 16:04] bleehu commented on #126
If we just use better numbers, then we need to scale the level 10 enemies appropriately. I think that's the correct solution, but that's going to break your earlier edict that level 1 players be dangerous to level 10 enemies and vice versa.

[2017-07-20 16:06] bleehu commented on #123
We need to keep 1source focused on shipping Combat2.0 because it's blocking the generation of other content. I'd like to see that finished by Sprint C with the comments/tweaks wrapping up in Sprint D. (As of this writing we're in Sprint B)

[2017-07-20 16:07] bleehu commented on #130
What's a vorpel?

[2017-07-20 16:11] bleehu commented on #131
alright. If you don't think it's an issue, we can close it out.

[2017-07-20 16:12] bleehu commented on #103
We can't close the issue until the PR has been moved to dev (we probably shouldn't even close it until it's at least in RC, but we haven't been holding to that)

[2017-07-20 20:25] #103 closed, assigned to trowl223

[2017-07-21 03:17] 1sourcecontrol commented on #123
After C2.0 & powered armor are in, I can take this on

[2017-07-21 03:19] 1sourcecontrol commented on #131
I think the current state is fine because there is at least progression, even if there isn't necessarily large jumps in power

[2017-07-21 03:23] 1sourcecontrol commented on #126
Here's a few ideas, magnetic slings that auto-attach to a weapon you are holding. Allowing you to swap the sling for a rifle or a pistol. Slings that help with ammo reloading. Slings that actually carry ammo. Slings that  hold medi-gel or something. Slings that are usable like det-cord or other expendable items

[2017-07-21 15:25] bleehu commented on #123
If we're slating this to be after PA, it'll get done a few months after we're trying to play with it. I'll have to allocate Turtle and/or Shrub to it if we can get him on board.

[2017-07-21 15:41] 1sourcecontrol commented on #123
Alright. They'll have to work closely with me to get it done, then.
I'd need to write a small manual to show how to do all the calculations, but I can just do them if -whoever- does all the other work. Since I may not have the time for a manual. And I'd need to clean up my Excel a bit.

_Sent from my Oneplus A0001 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)

[2017-07-23 03:35] trowl223 commented on #131
I do eventually come up with another pair of feats for each class, and maybe another tier of current feats. Maybe we can make that a stretch goal?

[2017-07-23 03:45] trowl223 commented on #126
@bleehu That's true. I think the main part of my vision is that players should never lose sight of the fact that they are very mortal. Something like increasing the stats on player gear should actually occur and that does mean that level appropriate encounters should have an appropriately scaled threat level. I may be reversing my opinion a little here, but its just like you stressed to players in

[2017-07-23 03:46] trowl223 commented on #123
I'll try to begin implementations. @1sourcecontrol do you have a function for moving old stats over to the new system, or should I go by feel to fit the current trends?

[2017-07-23 04:25] trowl223 commented on #133
I'm going to quote out of D&D 5e because I like the way they handle health points being reduced to 0.

As taken from Roll20.net:

https://roll20.net/compendium/dnd5e/Combat#content, D&D Fifth Edition Compendium, Wizards of the Coast, LLC.

The system I like best for Compound_X is the following:
When you have 0 Hit Points, your Actions per Turn are reduced to 0 and you must make a Death Saving Thro

[2017-07-24 19:02] 1sourcecontrol commented on #126
I think there's good argument for either side. We could just split up the attachments more by level than they already are. Do a level requirement 1,5,10,20 scheme like i'm doing with the weapons. Then we don't have to build a completely new set of attachments for level 10.
It might be a lot easier to build new attachments if we changed designs and made them less piecemeal and sold them as sets. Fo

[2017-07-25 20:53] 1sourcecontrol commented on #133
Sounds like the system has a lot of potential. Some thoughts:

Or die much more quickly, w/ twice as many death throws per turn and a low 30% chance of success at the start of the campaign.

 Is it character perma-dead like you implied or do you mean something else?

I suggest caution here. Luck already has problems; devaluing Luck more will (potentially) make the primary stats even harder to bala

[2017-07-25 20:59] 1sourcecontrol commented on #123
I don't have a written step-by-step function, so to speak. In order to get the cost values, I have to clean up my excel a lot and write down how to use it. There's quite a few steps.

But I do have a few guidelines for keeping with the feel of the current weapons if you want to start translating without the excel equations. I'm not able to write them down right now because I have to get back to wo

[2017-07-28 03:59] bleehu commented on #133
Maybe I'm misunderstanding. When they make a successful save they get back up themselves? Or are they still down, just not bleeding out?

[2017-07-28 04:06] bleehu commented on #126
Price gating is more elegant, and adds to the immersion better. But it's a lot harder to develop with because we have to keep a very close eye on how players accumulate wealth.
Level gating makes development and balancing easier (read: faster) because we don't have to worry about someone getting a really cool attachment too early.

My vote is level gating because our dev group likes to make new th

[2017-07-28 04:07] bleehu commented on #131
I like stretch goals. :smile:

[2017-07-28 17:35] trowl223 commented on #133
@1sourcecontrol : 1. We can see about adjusting that DC, maybe make it 50 + Character level?
2. They are Dead. I won't use the term "Perma-dead", any good fantasy setting has . . . loopholes.
3. Thats very true. Maybe we can take those averages and shift the end result by adding Luck?

@bleehu They are conscious, but not up. They'll still need healing from their wounds. Maybe a clause could be add

[2017-07-28 17:36] #131 closed, assigned to nobody

[2017-08-02 02:44] 1sourcecontrol commented on #133
1. Sounds pretty good.
2.
3. What about having the consciousnesses DC be 70 - 2 x Luck?
      Let's be aware that this is a good opportunity to re-balance the primary stats. Ideally Charisma and Luck could also be heavily considered for emphasis. In terms of realism, Charisma could likely have a heavy effect on a characters desire/will to survive when they are perishing. Regaining consciousness wo

[2017-08-02 17:04] bleehu commented on #133
1. DC = 50 + Character level implies your chance to bleed out *increases* as you level? Or did you mean that the Roll is given a bonus of Character Level? I could see a good argument either way; as your character level increases, the player gets more experienced and should need a higher difficulty curve to stay engaged. (That assumes a player's first character). On the other hand, the longer a cha

[2017-08-07 22:00] bleehu opened #136 "Using C encoding in rules"
I've noticed that in addition to correcting spelling @1sourcecontrol is starting to clean up repeated apostrophes.
But I also know that @trowl223 puts those in on purpose to conform with C language string encoding.

Should we continue to string encode our text-based rules? I don't see why.

[2017-08-10 20:41] bleehu opened #140 "Combat 2.0 tracking"
Here is a list of things we need written up and merged to the combat 2.0 superbranch!
Weapons
- [x] pistols - Turtle
- [x] smgs - Bleehu
- [x] shotguns - Bleehu
- [x] carbines - MikBleehue
- [x] battle rifles - Bleehu
- [x] assault rifles - Turtle
- [x] heavy weapons Turtle
- [x] Long Rifles - ~~Bleehu~~ Turtle
- [x] Machine guns - Turtle
- [x] Rocket Launchers - Bleehu
- [x] Melee Weapons - ~~Tur

[2017-08-10 21:32] 1sourcecontrol commented on #140
Also im doing armor utilities like Shields and etc.
For more info on what I've done in armor, please see my PR #132

[2017-08-11 15:18] 1sourcecontrol commented on #140
@Turtlelord26 before you get started, I'm making a parser for the weapon data. It should handle most of the weapons except for melee, thrown weapons, and shotguns. Luckily melee and thrown weapons have a lot less data that needs to be transferred.

It also won't handle edge cases in heavy weapons or other smaller things, so I/we will have to comb over everything, but it should do most of the heavy

[2017-08-12 04:10] Turtlelord26 commented on #140
I just now found the spreadsheet you sent out three days ago...in my spam folder. I'm guessing it didn't like "Hey friends" ...?
To be safe, ping me here when the parser goes live.

EDIT: I believe I have solved this issue.

[2017-08-12 20:35] 1sourcecontrol commented on #140
Alright bois, I sent you guys an e-mail with the parsed data in it.

[2017-08-13 09:38] 1sourcecontrol commented on #140
@Turtlelord26 I sent out another e-mail. Had to redo the parsed data

[2017-08-14 19:48] bleehu commented on #140
got it :)

[2017-08-15 04:21] trowl223 commented on #126
I agree with @bleehu, and I'd prefer a system that allows users to kit out their weapons per item. It might be a good idea to have example loadouts just like having an example class with picked stats and skills so that players who just want to jump in can have an example of what can be effective.

[2017-08-15 04:30] trowl223 commented on #133
@1sourcecontrol
I like the consciousnesses DC being set to 70 - (2 x Luck), that seems like it could be a good way to include luck.

You're right, that is a little contradictory. We should just give them fully functionality and 5 HP. If they want to go running into waiting death again, that's on them.

@bleehu
I may have meant to say 50-Level, would equate to 50 and add Level to your roll. As the

[2017-08-15 04:31] trowl223 commented on #136
No, @1sourcecontrol is doing God's work and should be commended for his effort in fixing my awful formatting hahaha

[2017-08-15 04:32] trowl223 commented on #140
Got the emails, looking through them this week.

[2017-08-15 15:13] 1sourcecontrol commented on #133
Thinking, reading, and discussing a lot more about this, I feel like non-stabilizing slow-or-no replenishment death throws offer the most fun, realism, gritty'ness and excitement for compound X.

1. Non-stabilizing increases the teamwork required, the cost of repeated dumb decisions, the cost of abusing the game by doing unrealistic things, and the anticipation and excitement of daring moves and/o

[2017-08-15 21:43] bleehu commented on #126
I really like that example loadout idea. We should make that happen.

[2017-08-15 21:45] bleehu commented on #136
Thus saith the TRowl!

![](http://www.annielytics.com/wp-content/uploads/2016/11/and-there-was-much-rejoicing.jpg)

[2017-08-17 22:13] bleehu commented on #140
@trowl223, I wouldn't worry about these. This is just wrote work. In fact, I would reduce the load by unsubscribing from the superbranch. We're hoping to get your input when we have our ducks in a row and make a PR from the superbranch to dev.

[2017-08-21 23:57] 1sourcecontrol opened #143 ""Acquired:" in the feats list"
Hey trowl223/bleehu,

Prerequisites: Marksman, Gunslinger
Enables the use of Medium Armour by the listed classes.

Why do a bunch of the feats have "Acquired: " in their name? Are those special feats of some sort?

[2017-08-22 05:10] 1sourcecontrol commented on #108
I put it in #144 , i think I covered the feats the way we discussed here, but I allowed these feats to be used with non-AOE heavy weapons.

[2017-08-22 20:42] bleehu commented on #143
I think they are the ones that unlock armors for different classes, but they're Trowl223's. I can't say for sure.

[2017-08-24 23:48] 1sourcecontrol commented on #140
@Turtlelord26 , can you hang off on the melee weapons for the time being? I may have to update them pretty soon

[2017-08-27 08:51] 1sourcecontrol commented on #140
@Turtlelord26 , you're a machine! Thanks for doing all that work. Unfortunately, I won't have melee weapons done for the next week. Feel free to copy them in without their miss chances, if you like (that's what i'm changing). Granting that the descriptions make sense, melee, thrown weapons, and grenades may be a little hard to piece together with my spreadsheet formatting.
We can always talk about

[2017-08-31 18:16] bleehu commented on #140
@Turtlelord26 way to go man! Thanks for kicking down the doors on this!

[2017-09-04 20:12] trowl223 commented on #143
@bleehu is correct. Same ideas with the weapon unlock feats.

[2017-09-04 20:12] #143 closed, assigned to trowl223

[2017-09-04 20:12] #136 closed, assigned to nobody

[2017-09-04 21:49] 1sourcecontrol commented on #140
@Turtlelord26
I'm taking thrown weapons and melee, if that's alright. It'd probably be easier for me to do it because I didn't format it well on the excel sheet.

[2017-09-11 20:05] 1sourcecontrol commented on #133
@bleehu, can you make a reply to Taylor's comment, above? And maybe mine as well?

[2017-09-12 20:01] bleehu commented on #133
Having meditated on it whilst stuck in traffic on several occasions, reading things here and discussing it with Alex over text. I realize this is way more complicated than I originally thought. I think we can do better than my house rule of Fort number of saves before you're gone, but I still hold that permadeath is worth the added punishment for failure.
Ultimately, the final decision should be T

[2017-09-13 04:52] 1sourcecontrol commented on #133
I just wanted to see what you think of our comments, as we wait for @trowl223 to respond.

I'm all for a formal proposal. Whatever works!

[2017-09-18 20:54] 1sourcecontrol commented on #106
Putting in the fixes with C2.0

[2017-09-22 04:41] trowl223 commented on #133
When your character falls below 1 hit point, you get 3 saving throws. These throws are not tied to any attribute. When you fail any three times (50/50?), you die. You can only be brought back by a teammate's assistance. Once you have used a saving throw, the next time you fall below 1 health points your saving throws fall to 2. the next time, you have 1. you can only replenish these saving throws

[2017-09-25 16:55] bleehu commented on #133
Doing some work on this, I found that in order to add this rule, I need to yank the existing one. Otherwise We'll have it defined differently in two places.

Out of curiosity, I decided to check when this particular rule was actually added.

Turns out, Trowl223 added this back in 2016. I don't think death was ever a house rule...
https://github.com/trowl223/Compound_X/commit/ff665dea28500c1229de99

[2017-10-25 03:10] bleehu opened #163 "Bleehu review combat 2.0 classes"

[2017-10-25 03:11] bleehu opened #164 "Review 2.0.5, push to play and polish until newbies can play"
'cause it's confusing and new players will be looking at this soon!

[2017-10-25 19:02] Turtlelord26 opened #165 "Engineer Skill Tree Structural Concerns"
Most notably, I would like to point out that it's a little punishing as-is to make an engineer without the rest of the party being robots. The repair tree, which is the resource generator tree, has an enormous reliance on skills that can only target cybernetic allies. Below is a fully enumerated list of skills in the repair trees that do *not* require a cybernetic ally target (note that most of th

[2017-10-28 03:45] Wildlovelies opened #166 "combat 2.0 gunslinger unable to be hit."
With the gunslingers new dodge mechanic you can get a +5 to miss with stats. Combine that with both prone and combat roll, you have a +9 for enemies to hit you. and with 2.0's inability to get 100% accuracy "most of the time" it makes the gunslinger very difficult to defeat. the +2 to miss for the next turn is easily negated by prone, and snap shot feats combined.

[2017-10-28 03:51] Wildlovelies opened #167 "Lucky feat rerolls affecting initiative?"
If the lucky feat rerolls can effect initiative (since it is not limiting in any verbage) It could effect initiative rolls heavily

[2017-10-28 04:01] Wildlovelies opened #168 "issue with pistol master feat"
*If you have feat "Quickdraw" in addition to "Pistol Quickdraw",
		negate the action to aim when drawing your pistol(s). When holstering
your pistols after drawing, you must use an action to holster.

Pistol Lanyard  $100
If you drop your pistol, it'll fall harmlessly to
your leg level instead of dropping onto the ground.
Holstering your weapon is a free action. Drawing your
pistol takes 1 extra A

[2017-10-28 04:08] Wildlovelies opened #169 "Human race needs buffing"
Other than aesthetics, humans are completely outclassed by tundari  in every way possible. with the bonus dex and perception and no malices, the effective starting stats of a tundari are 42, equivalent to humans, except the additions give them the ability to min max either of those over 10. As players are always going to put at least one point into both dex and perception, barring an unnatural cha

[2017-10-28 05:27] Turtlelord26 commented on #168
I see two potential solutions. We could
1. Draw a distinction between 'holstering' and 'dropping' the weapon in the pistol lanyard rules so that quick draw doesn't apply until after the pistol is properly reholstered
2. Implement an "Immediate Action" system similar to Pathfinder, where Immediate actions are equivalent to free actions except you only get one per round. Then we could make both drop

[2017-10-28 06:12] Turtlelord26 opened #170 "Combat 2.0 Rounding Terminology"
Currently in the pull request, combat 2.0 standardizes on a "drop the remainder" rounding terminology. While functionally identical to "round down" for positive numbers, it is very different for negative numbers. Dropping the remainder on a negative number is the same as rounding *up*.

Negative numbers can come up in poor rolls of untrained skills associated with a negative skill modifier, which

[2017-10-28 06:13] Turtlelord26 commented on #170
@1sourcecontrol

[2017-10-28 08:01] 1sourcecontrol commented on #169
Why did you close it? @Wildlovelies

[2017-10-28 08:02] 1sourcecontrol commented on #140
Living the dream

[2017-10-28 08:02] #140 closed, assigned to 1sourcecontrol, Turtlelord26

[2017-10-30 17:08] bleehu commented on #168
..."Drawing your pistol takes 1 extra Action next time." If we count that extra, doesn't that balance this out?

[2017-10-30 17:13] bleehu commented on #165
This will be done in the next 2 sprints. What do you mean by cyber-only?

[2017-10-30 17:24] Turtlelord26 commented on #165
A skill that requires a cybernetic player character ally to target.

[2017-10-30 20:06] bleehu commented on #163
Comments posted

[2017-10-30 20:06] #163 closed, assigned to bleehu

[2017-10-30 20:11] bleehu commented on #167
Need to add limitations on Lucky Feat:
Can one of our junior devs patch this?

[2017-10-30 20:34] Turtlelord26 opened #174 "Class Feat Acquisition Rules Ambiguity"
In 02_Classes.txt

"you do not select a class feat until level 5"
"At the first level taken in a class // (other than level 1), you get the single star version of the feat"

Are quoted out of the same block of text. My understanding is that there is general consensus on the first quote. We should in that case delete the second.

[2017-10-30 20:49] Turtlelord26 opened #176 "Attribute-based "spell" efficacy"
We can differentiate between different skill levels of users of the same high-tech abilities by integrating attribute modifiers into the numbers of those abilities. I.e. "heals one wound up to X + Y*ability_mod" or "sucks out a 50% + ability_mod ~~of target's soul~~ complete copy of target's personality gestalt"

The ability modifier used is ideally the most relevant gauge of the quality of the re

[2017-10-30 21:32] Turtlelord26 opened #177 "Primary and "Secondary" Attributes"
As I describe in issue #176, with the improvements to classes in combat 2.0 we have the opportunity to differentiate skill-at-quantity and skill-in-quality for individual persons who are members of particular classes. With the new primary resource stat, classes have a specific determiner of their resource pools, which very directly describes the quantity of impressive player character type stuff t

[2017-10-30 21:35] Turtlelord26 commented on #177
I will note that I see a significant design issue with tying the same stat into both health and resource pools, so it's entirely possible this approach only works with high-tech classes. Perhaps Soldier and co get nanites based on listed "secondaries" and don't have direct ability scaling, at least in the same manner.

[2017-10-30 22:06] bleehu commented on #164
handled in PR #172

[2017-10-30 22:06] #164 closed, assigned to nobody

[2017-10-30 22:16] bleehu commented on #165
Some of these issues should be addressed in https://github.com/bleehu/Compound_X/pull/146 I've been awaiting a review for quite some time on this.

[2017-10-30 22:25] bleehu commented on #165
I don't really see engineer's reliance on mechanical allies as that big of a problem; Medic relies on organic allies just as much.

[2017-10-31 02:03] Turtlelord26 commented on #165
Point A: it looks like Medics buff procedures can be self-applied, while engineer ones can't. So unless you built a Detachment A Security Drone Medic, you always have *someone* to use those procedures on.

Point B: I would consider Medic's reliance on organics to be as much of a problem, philosophically if not balance-wise, as Engineer's reliance on robotics. It's about not constraining a player's

[2017-10-31 04:07] 1sourcecontrol commented on #166
Thanks for the analysis!

I have a couple thoughts on this.
1. You are most likely in the middle of an open space to be prone or behind some structure. If you're behind a structure and nobody is flanking you, and go prone, you can't shoot anyone and can't be shot (so I believe that makes this part of the argument trivial).
2. Going prone gives you a +2 to be hit with melee, and limits your movemen

[2017-10-31 04:31] 1sourcecontrol commented on #176
I have huge problems with integrating too much of a class to one specific attribute. The more a class is tied to a specific attribute (or combination of attributes), the more a character _has_ to have that attribute or their character will be garbage. #177 included in this discussion.

One of the things I like a lot about compound X is the ability for me to make what I want out of a specialist or

[2017-10-31 05:01] Turtlelord26 commented on #176
You make good points, and I very much want our producer's opinion on this rather fundamental design choice you've highlighted. I do want to mention the flip side first: that as long as we both keep our stats decently balanced at baseline and avoid letting a class rely on 2-3 attributes exclusively, we do create meaningful choices at character creation stat allocation via scarcity. I.e., if you can

[2017-10-31 18:53] bleehu commented on #176
Firstly,  calling out the differing dimensions of Quality, vs Quantity and the implied third dimension of Rate is something I hadn't thought of before. I think that's very insightful, James! Well done!

 As for the specific design decision, I think each approach is the appropriate choice to reach differing goals.
On the one hand, having the primary attribute be the deciding factor of the quantity

[2017-10-31 19:01] bleehu commented on #166
I shall call it "the John Woo Build".
Explosives are expensive, but not so uncommon with level 5+ enemies that this won't come up. Also, enemies don't pay for explosives with money, so much as their lives. So I think that's a substantive argument. Also for 2 feats, you'll have to be nearing the point where you'll see level 5 enemies anyway.

You can choose to go prone anywhere. Maybe we need to ad

[2017-10-31 19:34] Turtlelord26 commented on #177
Closing while discussion is ongoing in #176

[2017-10-31 19:34] #177 closed, assigned to nobody

[2017-10-31 20:04] Turtlelord26 commented on #166
I am in favor of prone only providing a bonus against enemies a certain distance away. Off the cuff, how about something like prone provides bonus cover against enemies at least 10m away or half that if going prone submerges you into a light cover (i.e. tall grass)?

As far as the build itself goes, I'd like to see it playtested to see if Source's counterpoints are as ameliorative as they seem.

[2017-11-01 05:44] Turtlelord26 commented on #177
Closed indefinitely due to design choices.

[2017-11-01 09:33] rosebrallier opened #181 "Math error in Character_Sheet_Editable"
Calculation for Fort mod is x5 instead of x4. https://github.com/bleehu/Compound_X/blob/play/CX_Character_Sheet_Editable.pdf

[2017-11-01 23:14] Turtlelord26 commented on #176
We touched briefly on the idea of moving Nanites to a full secondary stat yesterday evening. On reflection, I rather like the idea given our design goals. Enabling the Tanky low-Nanite caster would be new and different - and functionally make Paladin just a different stat allocation on whatever hightech class we give healing to, which I think is awesome.

What do you two think of tying Nanites to

[2017-11-02 19:19] bleehu commented on #176
It's hard for me to at a glance get a feel for the relative balance of Per, Int and for the ground state, say, Strength. Let's put a pin in this idea (maybe close the issue?) until we've run a few builds in C2.0 to actually test the balance of the new Stat system?

[2017-11-02 20:50] 1sourcecontrol commented on #176
At the bottom of the sheet "other-changelist" in CX_WepArm_Analysis, you'll find something like this:
![image](https://user-images.githubusercontent.com/2192156/32349210-7c563058-bfd3-11e7-956c-a5b90cfd14c5.png)

I used this little value assignment system to try and balance the primary stats and come up with solutions. I updated it for PER and INT deciding Nanite pool sizes. It needs some work, bu

[2017-11-02 21:14] 1sourcecontrol commented on #176
Actually, I totally forgot that if a primary stat has 2 secondary stats, you have to choose which one to put the points in to. I think that pretty much solves the dilemma for INT, since you can Max CHA and INT to get skill points and nanites. Or max PER and INT or PER and CHA.

[2017-11-05 01:41] 1sourcecontrol commented on #176
@bleehu, what do you think about my reply?

[2017-11-07 04:04] 1sourcecontrol commented on #166
@bleehu

True, but it matters where you go prone for the purposes of deciding balance. In my example, it wouldn't matter if you go prone behind a brick wall, because you wouldn't see or be seen no matter what class you are.
My point was this: to actually make use of your pistol-ranged weapons, you'd have to be in a more open space while going prone.

I also think it's reasonable to put a 10m/5m li

[2017-11-07 04:11] Wildlovelies commented on #166
gunslinger's passive specifically states when not in cover, 2 feats means this "could be done" at level 2. and the +2 to miss from combat roll could be negated without snap shot, because of the option the gunslingers get to passively be more accurate with pistols, which i did not calculate with before. so a single feat is all that is needed.

[2017-11-07 04:17] Wildlovelies commented on #166
Honestly, I think a more fun, and flavorful option, would be instead of a raw chance to miss, give the gunslinger the chance to shoot bullets out of the air, let him roll reflex spend a bullet, and let them collide within the air. make the dc, what ever the opponent rolls with all bonus' against a reflex roll using your weapon reflex mod. limit it to the range of their pistols of shots they can "s

[2017-11-07 06:16] Wildlovelies commented on #168
this penalizes the character for having both, I say we rewrite it.

negate the action to aim when drawing your pistol(s) **_+*from their holster(s)*+_**. When holstering
your pistols after drawing, you must use an action to holster

and remove the holstering language from lanyard to say:

If you drop your pistol, it'll fall harmlessly to
your leg level instead of dropping onto the ground.
Drawing

[2017-11-07 06:42] Wildlovelies opened #182 "Feats that need descriptions"
Acquired: The Stealth Option
Prerequisites: Soldier, Engineer, Doctor, Priest, Pilot, Adept, Gunslinger,
Warlock, Monk, Berserker

Acquired: With Friends Like These . . .
Prerequisites: Pilot, Engineer or Piloting 40

Acquired: . . . Who Needs Nano-Technologies?
Prerequisites: Pilot or "Acquired: With Friends Like These . . ." and Piloting 60

[2017-11-07 06:42] Wildlovelies opened #183 "Wealthy sponsor added back into play branch"
Wealthy Sponsor:
Prerequisites:
Gain LUK * Lvl * 750 credits.

[2017-11-07 06:48] Wildlovelies opened #184 "Adrenaline rush needs balanced"
Adrenaline Rush [20* X]:
Run double your movement distance for X # of turns.

I limit this feat when i dm to 1m+ per action, but i let it stack with sprinting, making +2m per action (up to 8m per turn increase) Because i honestly think it is way too over powered. But i would like to hear other people's thoughts

[2017-11-07 06:51] Wildlovelies opened #185 "Semi redundant aiming feats"
Aimed Shot [10 Nanites]:
Add an action to your normal Shooting time. During this time you concentrate
on your target in order to deal crit damage on your next shot. This is akin to
seeing a chink in armour and aiming for it, or shooting a target''s arm so
they cannot use their weapon, etc.

Steady Shot:
Take 1 Action to breath slowly and line up your shot. -5% miss chance and
+10m range each per l

[2017-11-07 06:54] Wildlovelies opened #186 "Redundant nanite feats"
Focus Energy:
Spend 2 Actions to increase the effects of a spell or Nanite based
action by 20%, (20% better roll, 20 damage, up to you.)

Nanite Concentration:
Prerequisites: Level 5
Allows the user to better concentrate on their expenditure of nanites,
allowing them to achieve one of the following:
    +1 turn of cloaking
    +20% to an combat-action at a cost of 20 nanites for 1 turn (ask GM bef

[2017-11-07 17:07] bleehu commented on #168
We haven't picked a hotfixer for the sprint, have we?

[2017-11-07 17:17] #183 closed, assigned to bleehu

[2017-11-07 17:22] bleehu commented on #184
1SourceControl patched that in Combat 2.0:
https://github.com/bleehu/Compound_X/blob/combat2.0superbranch_AlexL/play/PlayerRules/CharacterCreation/03_Feats.txt#L474
We really should have not rolled that one atomic change into that superbranch. It should have been a separate smaller branch which then would not have been blocked with the other review of 2.0.

[2017-11-07 17:28] bleehu commented on #182
I think Acquired: The Stealth Option
is unlocking cloaking armor for the listed classes.

Acquired: With Friends Like These
is unlocking exo skeletons

Acquired: Who Needs Nano-tech
is unlocking  power armor

My advice is to yank all three. We'll add exo suits and power armor with the power armor superbranch project. I don't think stealth armor should be available to a berserker, doctor, etc at al

[2017-11-07 18:22] bleehu commented on #166
Shooting bullets out of the air is a little... Matrix. Maybe _maybe_ after level 10. But I should defer to our directors to comment on aesthetic.

[2017-11-07 18:29] bleehu commented on #185
@1sourcecontrol modified them in 2.0:
https://github.com/bleehu/Compound_X/blob/combat2.0superbranch_AlexL/play/PlayerRules/CharacterCreation/03_Feats.txt#L543
and
https://github.com/bleehu/Compound_X/blob/combat2.0superbranch_AlexL/play/PlayerRules/CharacterCreation/03_Feats.txt#L480

I think he's done a pretty good job of differentiating them, and I think they stack in a way that's cool, helpful

[2017-11-08 01:50] 1sourcecontrol commented on #166
I'm nervous about a shooting bullets out of the air. Feels a little too unrealistic. And if we did lean on realism, the gunslinger would be unspeakably powerful if he could move and think that fast.

What if the gunslinger had really fast reaction time, and couple that idea with predicting what the enemy will do? (That's basically how I imagine the gunslinger as it stands) what Steve said gives me

[2017-11-10 20:50] bleehu commented on #123
Fixed when we merge combat 2.0 https://github.com/bleehu/Compound_X/commit/d2061451041d0e0caf3b47ac4f0835bb75f0d12c

[2017-11-10 20:50] #123 closed, assigned to 1sourcecontrol, trowl223

[2017-11-10 20:50] bleehu commented on #120
Fixed when we merge combat 2.0 https://github.com/bleehu/Compound_X/commit/d2061451041d0e0caf3b47ac4f0835bb75f0d12c

[2017-11-10 20:50] #120 closed, assigned to 1sourcecontrol

[2017-11-10 20:51] bleehu commented on #125
Fixed when we merge combat 2.0 https://github.com/bleehu/Compound_X/commit/d2061451041d0e0caf3b47ac4f0835bb75f0d12c

[2017-11-10 20:51] #125 closed, assigned to nobody

[2017-11-10 20:54] bleehu commented on #106
See changes to classes in this merge: https://github.com/bleehu/Compound_X/commit/d2061451041d0e0caf3b47ac4f0835bb75f0d12c

[2017-11-10 20:54] #106 closed, assigned to 1sourcecontrol

[2017-11-10 20:55] #184 closed, assigned to nobody

[2017-11-11 02:35] 1sourcecontrol commented on #186
In C2.0 it's

Prerequisites:
Spend 1 Action to increase the effects of a spell or Nanite based
action by 30%, (30% better roll, +30% damage [drop the remainder], up to you.)

Prerequisites: Level 5, 20 skill in Knowledge[Nanites]
Allows the user to better concentrate on their expenditure of nanites, allowing them
to achieve one of the following (you must choose one option when you acquire the feat

[2017-11-11 03:16] 1sourcecontrol commented on #108
Closing cuz, merged c2.0 into dev #144 and I addressed these there.

[2017-11-11 03:16] #108 closed, assigned to 1sourcecontrol

[2017-11-11 18:47] 1sourcecontrol commented on #169
Well, I got no response from lovelies.

But I am re-opening this because I think the races need reworking --at the very least, rebalancing.

Humans are rather inferior to other races. Robots have a minor money boost to buying armor, seeing in the dark, boost to max fort/int potential, and are otherwise junk. Cyborgs are incredible -- better than humans in almost every way -- and they will have mor

[2017-11-12 23:32] Turtlelord26 opened #189 "High-rolling consistency"
Currently (including combat 2.0), Armor Coverage rolls are the only roll in the game where rolling lower is better. For the sake of consistency we should consider converting coverage rolls to a roll-high. Mechanically all we'd have to do is take existing coverage values and subtract them from 100, ex. light armor correlates to 70% instead of 30%.

Obviously we'd need a new name for it more in line

[2017-11-12 23:39] Turtlelord26 opened #190 "Item Request: General-Purpose Explosives"
Currently we have grenades and breaching charges. I at least would like to also have access to a general use explosive (say, like C4) that can be used more creatively. Such explosive would need an entry in the items document with price tag and rules for how it behaves in different settings, including damage numbers and ranges.

We would also benefit from having either
-rules for use of the general

[2017-11-12 23:47] Turtlelord26 opened #191 "Feature Request: Stealth 2.0"
Currently we have stealth rules that only partially exist, particularly as concerns dedicated stealth classes.

Making a sci-fi set game is a wonderful opportunity to build a stealth system with more complexity than "can you roll your disgustingly min-maxed stealth check higher than all of these plebs' awareness checks?". At the same time our aesthetic suggests we avoid adding any more complexity

[2017-11-13 18:13] bleehu commented on #190
What does "You must tell command that they may start their landing" mean?

[2017-11-13 18:22] bleehu commented on #169
I'm very concerned about power creep if we simply tune humans to be better. I propose nerfing Cyborg and Tundari. I think Security Droid is already fairly balanced with human.

[2017-11-13 18:33] Turtlelord26 commented on #190
I was attempting to inject levity into the proceedings by making a star wars reference (battle of Hoth).

[2017-11-13 20:02] 1sourcecontrol commented on #169
This isn't *power creep*, this is *balancing*. Power creep occurs when **new** content is added that caused previous content to be worthless.
The introduction of cyborg was definitely an example of power creep. My goal is to bring all the races* into balance -- whether that is through buffing or nerfing.

I think trying to balance down cyborg and Tundari is one good route we can go.

*Fixed a text

[2017-11-13 20:18] 1sourcecontrol commented on #169
Also, I think it would be fun and interesting if we gave the races even more benefits/maluses or redesigned their current benefits/maluses (within reason and balance, of course). With the goal of making them even more unique. I don't think we lose anything by making the races stronger, but I do think we add more character and meaningful decision.

[2017-11-13 20:34] bleehu commented on #190
lolz

[2017-11-13 20:39] 1sourcecontrol commented on #190
Maybe we can use this as a basis (or move this to somewhere else):

https://github.com/bleehu/Compound_X/blob/f70ee5e78fba9685020dc749b8686970de93d6bc/CharacterCreation/04_01_Melee_%26_Thrown_Weapons.txt#L264

[2017-11-13 21:00] Turtlelord26 commented on #190
I didn't know we had that! It is absolutely viable as a reference, but I was thinking in particular of something ... authoritative enough that it couldn't be effectively thrown. And maybe that higher level versions existed.

[2017-11-13 23:45] bleehu commented on #189
In general, I like this idea. It would make me smile if rolling high was *always* good. If we are able to fix this, let's also add language in the design guide to the effect that high rolls would always be good.

In case this wasn't discussed broadly, the thought behind the consistency is that it makes the game easier and more intuitive to learn and pick up to play.

Maybe we could call the invers

[2017-11-13 23:45] bleehu commented on #189
In general, I like this idea. It would make me smile if rolling high was *always* good. If we are able to fix this, let's also add language in the design guide to the effect that high rolls would always be good.

In case this wasn't discussed broadly, the thought behind the consistency is that it makes the game easier and more intuitive to learn and pick up to play.

Maybe we could call the invers

[2017-11-13 23:47] bleehu commented on #182
What do you think, @1sourcecontrol ?

[2017-11-14 22:47] 1sourcecontrol commented on #191
That sounds like a cool idea!

I'm all for interesting differences in kind. I think if we were to implement this, we'd have to nerf cloaking into the ground (1 turn usage with a long recharge, or something of that sort). Otherwise a player with cloaking will be unstoppable in a lot of scenarios (I don't like designing on the hope that the DM will always build into their campaign ways to stop every

[2017-11-14 22:48] 1sourcecontrol commented on #190
Sounds good to me!

[2017-11-14 23:10] 1sourcecontrol commented on #182
I guess I'm not sure... How do we want to let a class have access to exoskeletons? Or the pilot access to powered armor? (hearkening back a while... I believe our powered suit design goals were to offer every class an exoskeleton option but to only offer powered armor to the pilot, right?)

I think the pilot's powered armor should be a class feature that just automatically 'happens' at level 5 or

[2017-11-14 23:14] Turtlelord26 commented on #191
I'm wary of that kind of approach. Adding counterplay is going to be more fun than nerfing stealth that far into the ground up front. Keep in mind we're currently leaning toward abolishing the feat that lets non-stealth classes use tech stealth.

We can help the DM design counterplay into every scenario they come up with. If we can
-tie at least basic tech detection into relatively mundane base eq

[2017-11-14 23:24] 1sourcecontrol commented on #189
Like @bleehu said. If we jump at this, my vote is for 'Armor Vulnerability'. Or just 'Vulnerability' -- it's closely associated with the concept.

This conversation reminds when I was first learning this game. I had a hard time remembering that we were supposed to roll over the miss-chance instead of under -- I treated miss-chance like accuracy.

[2017-11-14 23:32] 1sourcecontrol commented on #191
What I meant was, the cloaking turn would be nerfed but counterbalanced by the large jump in power. At level 1, having 1 turn of cloak with a 2 turn/1 turn recharge would be pretty reasonable. Especially because of the incredible buff to cloaking power for not having to use stealth checks.

*edit*: @bleehu can speak to this more than I can, because I wasn't there; I want to avoid what happened in

[2017-11-14 23:32] Turtlelord26 commented on #182
What's the difference between a smart-tactical cloaking berserker and a strength-based hand-to-hand assassin? Ahhh glorious combat 2.0 stat system.

As far as the feats are concerned, I think we could just write into the class passives 'gain proficiency with powered armor (or whatever) *at level X*".

I vaguely lean toward letting specialists/pilots/stealthies have exclusive control over their fun

[2017-11-14 23:38] Turtlelord26 commented on #191
Heavens, no, I never meant to imply tech stealth would be free from stealth checks. Technology builds on and enhances existing capabilities - you could have the most decked out and gadgeted bow in the history of mankind but if you don't know how to shoot you aren't reliably going to hit anything. Rodger the Arena Fighting Robot is **never** going to be able to use tech stealth effectively.

Revisi

[2017-11-15 00:35] 1sourcecontrol commented on #182
To be clear: I'm talking about powered armor and exoskeletons as two different things

[2017-11-15 00:40] Reveraine opened #192 "Feature Request : Racial Bonuses Rework"
I propose a new racial system, as no two members of a race are created equal. Kind of along the lines of cyborgs, where you have 'racial' feats or skills and you have X number of points to put into them at character creation (perhaps you pick up more later/per level?)
That way, even among species, there is variety even among them with more than just stat points.
We could also have x number of mali

[2017-11-15 00:42] Reveraine commented on #181
Thank you! I've fixed it in the base file.
I'll upload it when I get home.

[2017-11-15 00:44] 1sourcecontrol commented on #170
My goal with "drop the remainder" was to make a more intuitive "round down" so you could avoid thinking about things like "which way do I round this negative number?" by removing anything to the right of the decimal place.
So that: 10.222323 = 10 and -10.375 = -10

I did take your mention of critical hits with luck to heart and put rounding down in the rules.

Frankly, when I was thinking about al

[2017-11-15 07:05] Turtlelord26 commented on #189
Exposure?

[2017-11-15 19:53] bleehu commented on #189
I like both Exposure and Vulnerability. Armor Vulnerability could be easily abbreviated AV. User testing?

[2017-11-15 20:11] bleehu commented on #192
I had a dream where all members  of a species were created equal. And were judged not based on the color of their skin, or by their racial feats, but by the merits of their actions!

In all seriousness, I like the idea of having a variety of racial traits that each species can choose from, provided that each of these feats offers differences in kind, are thoughtfully designed and balance well with

[2017-11-15 20:12] bleehu commented on #192
What do you think @1sourcecontrol ?

[2017-11-15 20:28] Turtlelord26 commented on #189
A note, "Armor Vulnerability" could be a problem because one interpretation of it is 'the vulnerability *of the armor*', which could lead to confusion (not a lot, but nonzero).
What about Vulnerability/Exposure Rating (abbr VR or ER)?

[2017-11-15 21:12] Reveraine commented on #192
Oh! Another thought about this that I remembered, is it balances cyborgs. It still gives any race the ability to be a cyborg, but instead of being an addition to racial bonuses, it _replaces_ whichever ones you chose based on point distribution.

[2017-11-15 21:51] bleehu commented on #189
I think we could mitigate that confusion if we include an armor for free/as the default called "street clothes" or some such, which has a 100% vulnerability. Similarly to how 1sourcecontrol has the default power reactor in his Mechanized game.

[2017-11-15 22:12] Turtlelord26 commented on #189
Doesn't work. I'd believe street clothes are 100% vulnerable to being damaged.
We all like for it to not be a big deal, but humans and preconceptions :/

[2017-11-16 18:09] bleehu commented on #169
Since Reveraine is working on this already, Assigning it to her.

[2017-11-16 18:31] Turtlelord26 opened #198 "Armor Piercing Level and Armor Points"
"That attack beats your AP level so you take 60 damage to your AP."

It might be nice to rename one of these so the abbreviations are different. Every bit of clarity helps.

[2017-11-16 23:04] bleehu commented on #198
The compromise 1sourcontrol and I originally made on this was that AP level is APL; distinct from APs. That said, I garuntee this is going to confuse a new player. Especially one who hasn't played an RPG before who is also trying to wrap their head around how Intelligence is a Stat, but Will is a Save.

[2017-11-16 23:10] 1sourcecontrol commented on #198
@Turtlelord26 the specific sentence you quoted, where did you find it?
It should probably say "That attacks beats your APL so you take 60 damage to your APs." then there isn't any ambiguity around which 'AP' is referenced.

*edit* I prefer to use the first character of every word in an abbreviation, when possible. That way, there is more prompting for your memory. Versus calling Armor Piercing Lev

[2017-11-16 23:12] bleehu commented on #182
I agree emphatically with Turtle's statement "It's my hope that we can find ways to make every class fun without diluting their identities by spreading every capability around." I would even take it further to say that I would oppose _MOST_ implementations of a cross-class system.

But that's a bit of a bunny trail, isn't it? On the specific topic, I'd like to yank these three feats. I suggest we

[2017-11-16 23:19] bleehu commented on #198
Except when a GM is talking to a player in-game. I don't think Turtle quoted that from the rules, I think he's using a hypothetical situation. I think it's plausible. Maybe even likely. @1sourcecontrol you're welcome to disagree and ask for playtesting if you don't think so.

[2017-11-16 23:43] bleehu commented on #176
I appreciate the insight, but until we test, I don't know how well your model matches the reality of play.

[2017-11-17 00:08] 1sourcecontrol commented on #198
What are you 'except'ing? Are you responding to my first paragraph or the second? I'll assume the first (feel free to correct me later if i'm wrong).

I mean, if people use the correct terms then there isn't a problem, is there*? My goal here has been to make the rules as easy to adopt as possible -- which means I'm trying to design so the player doesn't won't have to memorize as many things.

*Wi

[2017-11-17 00:32] 1sourcecontrol commented on #192
Like you said @bleehu. I hope we can come up with enough differences in kind/unique pieces so that each race doesn't reuse more than 0, 1, or up to 2 other traits from another race.

@Reveraine can you explain more about, "...but instead of being an addition to racial bonuses, it replaces whichever ones you chose based on point distribution."? Are you saying that Cyborgs will be balanced because e

[2017-11-17 00:37] 1sourcecontrol commented on #189
Hmm... Armor Exposure?

[2017-11-17 00:39] Turtlelord26 commented on #198
Confirm was a hypothetical GM statement.

Unfortunately, and I like it about as much as you do, 'if everyone just uses the terms correctly there won't be a problem' isn't sufficient. If there is a not-insignificant chance someone will misuse a term - or even accidentally say the wrong one while thinking of the correct one - it will cause a play slowdown while another player corrects them with info

[2017-11-17 00:42] Turtlelord26 commented on #189
Given that just 5 seconds ago I probably hijacked the word 'rating' for issue 198 I think 'Armor Exposure' or just the one word 'Exposure' would be excellent.

[2017-11-17 00:52] 1sourcecontrol commented on #182
@bleehu  Yes, yes. I agree that there's a lot of value in giving each class unique toys.
However, there is a difference between specialist getting access to heavy weapons versus assassins and hunters getting access to cloaking -- everybody gets access to weapons.
Stated another way: heavy weapons are to weapons as cloaking is to _____? There is no other item that is similar to what cloaking is. Th

[2017-11-17 00:54] 1sourcecontrol commented on #182
Whoever yanks them, if you yank them from dev, please add a line under https://github.com/bleehu/Compound_X/blob/8752a1d6a725b24e8994bfebc3e8e08af9a65106/CharacterCreation/05_ArmourList.txt#L572
to tell the player that only *specific* classes can use stealth equipment, not the normal Joe.

[2017-11-17 01:01] Turtlelord26 commented on #182
Passive Camouflage armor / armor upgrades (probably limited in application by armor type) sound like an excellent feature and probably deserve their own feature request issue.

I was only ever thinking in terms of the restriction of active high-tech invisible-type stealth equipment.

[2017-11-17 01:03] Turtlelord26 commented on #198
I was glancing through the armor list when I saw that our term for the exact equivalent stat to Armor Points is "Shield Strength". In the interests of standardization I would propose we call both of these either Strength or Rating.

[2017-11-17 01:08] 1sourcecontrol opened #201 "Missing 'proficiency' in the glossary"
Can someone define "proficiency" in the glossary?

[2017-11-17 01:10] 1sourcecontrol commented on #176
So you're saying, forget it until we try it? It's not just about the model, although I made that model based on pre combat 2.0 play. I feel like we can easily do some tests, but you don't think there's any problem with having Nanites linked to a primary stat?

[2017-11-17 01:14] #182 closed, assigned to Wildlovelies, Turtlelord26

[2017-11-17 01:20] Reveraine commented on #192
@1sourcecontrol Yes. Cyborg are not a race by themselves, but instead the cyborg perks are available to all Races, but they are part of the 'pick 2' (or whatever) pool. So they balance out naturally instead of being added to that race's traits.

I like the double system that you mentioned, where each race has it's own specific traits(like races have now), and then have racial 'feats' that the play

[2017-11-17 04:33] 1sourcecontrol commented on #182
Sounds good!

[2017-11-17 04:57] 1sourcecontrol commented on #192
Ok, thanks! That sounds cool. I wonder if we can come up with other 'sub races' like Cyborg's interactions with other races.

On your second paragraph, Cyborg might not be very interesting without combat benefits from traits --metal arms without health bonuses, for example. Is there a specific reason(s) that you don't want combat stuff directly in the traits? I'm all for cool ideas that aren't nec

[2017-11-17 05:32] Reveraine commented on #192
The biggest reason was to avoid having to balance them with combat too heavily, but if you're willing to take on that load (or part of it), then I don't have a real problem with it =)

[2017-11-17 17:49] bleehu commented on #176
Primary stat as opposed to secondary stat?

Yes, I strongly suggest before we continue to make tweaks that we run a full test.

[2017-11-17 19:21] 1sourcecontrol commented on #176
Yeah, primary as opposed to secondary.

What constitutes a full test? Several missions with the new stat system? I feel like all we need is to have a couple people make characters. If we measure their decision making process then we can try and find balance

[2017-11-17 19:23] 1sourcecontrol commented on #176
Well, I guess measuring their decision making maybe isn't a perfect way to go about it. But I'm open to ideas.

[2017-11-17 20:15] 1sourcecontrol commented on #192
I'd be happy to try and balance things! Pending @bleehu's project managing approval. :)

[2017-11-17 20:23] 1sourcecontrol commented on #198
Alrighty, thanks Turtle.

Shield Strength vs Shield Rating
Armor Strength vs Armor Rating
Idk about Armor Rating. Would that get confused with Armor Piercing Level? 'Rating' and 'Level' carry similar meanings. I guess my vote is more towards "Strength" for that reason.

[2017-11-17 22:38] bleehu commented on #176
I would say two missions with different players. It's not enough for me to wrap my head around the way the "rubber meets the road" until I actually see it happen.

[2017-11-17 22:48] bleehu commented on #192
¯\_(ツ)_/¯   Ya'll are above my pay grade on this one. As mechanics director and creative director, once you've agreed on something it's going to happen regardless of my vote. I appreciate you letting me weigh in though.
In general I like the idea of Racial feats on par with cyborg. My chief concern is how we're going to prioritize it with the other work going on. I think we desperately need a team

[2017-11-17 23:26] 1sourcecontrol commented on #176
I feel like we're talking about two different things here, what is it that you want to test with two missions?

What I'm talking about is the extra value added by making each class have a 'Class Primary Attribute'. My theory is that this extra value can lead to imbalance when that Class Primary Attribute is Dex, Str, or Fort (or almost any other). We don't need missions to test this, all we need i

[2017-11-18 00:11] 1sourcecontrol opened #203 "Define "Opportunity Attack" in the glossary"
I think we should define "Opportunity Attack" or "Penalty Attack". What do ya'll think?
If we define 'Opportunity Attack' we should remove 'Penalty Attack' from the melee rules (in the basic rules doc).

[2017-11-18 00:16] 1sourcecontrol commented on #192
: O  I wouldn't say that!
I appreciate feedback, especially 3 days after someone shows me that I'm wrong.  If you have an objection, by all means voice it. I'd rather make a better game than get my way --the way I want it.

I was trying to refer to: if you want to have me work on this.. vs working on something else. Since you are the PM, I figured I'd let you decide if you'd rather have me work on

[2017-11-20 19:34] 1sourcecontrol commented on #167
Patched in #178

[2017-11-20 19:34] #167 closed, assigned to Turtlelord26

[2017-11-20 22:09] bleehu commented on #203
I think we should definitely define Opportunity Attacks, and I think we just call them Opportunity attacks to draw from the similar mechanic in DnD.
My outstanding question is "should we put rules in the glossary?"
I like the idea of having pointers to rules docs, rather than put rules themselves in the glossary of terms.

[2017-11-21 01:21] rosebrallier commented on #203
I agree with Michael that rules should be well defined in the rules docs, and the glossary can refer players to the correct part of the rules docs. Btw, how do we plan on defining Opportunity Attacks?

[2017-11-21 01:32] rosebrallier opened #204 "Build rules for Reactions and Held Actions"
As far as I've been able to tell, we don't have explicit rules for what a player can do during combat outside of their turn.

[2017-11-21 16:54] bleehu commented on #204
Do you got it @1sourcecontrol ?

[2017-11-21 17:19] bleehu commented on #192
3 days later?

Thanks for the coffee!

In terms of prioritizing work, that's part of a larger discussion that we should have over email.

[2017-11-22 18:36] bleehu commented on #165
A: Medic and Engineer should both be able to use their Hippocratic/Repair skills on themselves for no resource gain. Is that not how it's written?

B: I haven't seen either class get hard limited in their ability charging by lack of available teammates. Despite the fact that we have twice as many organic Races as we do mechanical ones, the team tends to split almost down the middle. Since a good d

[2017-11-22 18:36] bleehu commented on #165
@1sourcecontrol what do you think? EDIT: Specifically about the structural dependency on medic and engineer on biologic/cybernetic races of teammates?

[2017-11-22 19:17] Turtlelord26 commented on #165
As it turns out, I have been thinking wrongly about most Engineer skills. There are several in the Optronic tree that specify that they cannot be used on self, but most just say 'cybernetic ally' which I guess could apply to a cybernetic self. In an ideal world I'd like to see organic engineers/robotic medics not be too penalized but that's probably a secondary concern.
However, this is the first

[2017-11-22 21:26] bleehu commented on #165
Ya, I don't see it written either. I'll work on a PR for that.

[2017-11-22 21:30] bleehu opened #206 "Race Quality: 10RP?"
Does anyone know what the heck this means?
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/01_Races.txt#L94

[2017-11-22 21:32] bleehu opened #207 "Favored Classes"
I kinda hate the idea that certain races favor certain classes. I really like that a security drone or human can be whichever class they want and do it well, even if their approach to say, Hunter, might be a little different.
Should we keep Favored Classes?
https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/01_Races.txt#L92
DnD does it, but I'm not sure they're better for it.

[2017-11-22 21:57] Reveraine commented on #207
I think that, while it makes sense that different cultures favor certain 'career' paths, I agree that it seems exclusive. I think that we should make that a part of background, not race. And that way it can be far more flexible.
While we'll have a set number of base backgrounds, that is one thing that DMs and Players can have a lot of control over. Eg. while an aristocrat might have gone to school

[2017-11-22 21:57] bleehu opened #209 "Lanugages are a mess"
So... Languages are a mess. They apparently are given out by your Race, but some are given "ECSC standard" some "Basic" and some "Emperial Common" [SIC]. Opalites don't even have it mentioned. (That last one is my fault.)

To resolve this ticket specifically, can we yank language as a hard-"coded" rule system as a whole and maybe re-implement it, maybe not?

If/When we do re-implement language, ma

[2017-11-22 22:05] Reveraine commented on #207
Also,
While we do have racial stat bonuses that may appear to favor a certain class over another (which I think is fine). It should not be stated as such, and that should be something that players can decide(or not). For instance, Stephen is an optimizer, and will find the favors whether they are stated or not, but others will find challenge in not playing the most optimized character, and thus wi

[2017-11-22 22:15] bleehu commented on #207
I strongly agree!

[2017-11-22 22:23] 1sourcecontrol commented on #206
I thought it was like "roleplay points" ... Wasn't there some RP items in the misc items that you could spend RP on? Maybe I have some misconceptions.
I know there was something about "start with two roleplay items in your characters inventory" but maybe that's separate.

[2017-11-22 22:29] 1sourcecontrol commented on #206
I asked Taylor, "That's an artifact of the pathfinder race creation tool I used to create each race. It was a way of making sure each race was more or less equal, I used that tool and tried to make each race only use 10 racial points to buy abilities and stat mods."

If someone could be so kind as to delete my previous comment.. I was way wrong. Lol (I can't see how to delete it from my phone)

[2017-11-22 23:11] bleehu commented on #206
So we should yank the 10RP thing?

[2017-11-23 00:30] 1sourcecontrol commented on #206
Yeah, it's a dev note

[2017-11-23 00:54] bleehu commented on #206
See PR

[2017-11-23 02:16] Reveraine opened #213 "Racial bonuses/malices system"
As we are moving into Edition 1.0, I was thinking of coming up with a format for each race. As they are now, they still have favored classes, and no system for choosing their bonuses.

There are a few ways we can do this, and I'm open to more, and I'm up for changing the names of things.

We can have Racial Malices and Racial Bonuses, and we can have a system where for each Bonus you choose, you m

[2017-11-23 02:21] Reveraine commented on #209
While language and race makes sense, I think language and background make more sense to go together?  We can assume that each alien race has at least one language, but you are right, they need to be listed if they are a big part of immersion in the game.

[2017-11-23 02:22] 1sourcecontrol commented on #192
Haha, I was just making a joke to signify "sometimes criticism is hard to take, but 3 days later i'll be fine"

No worries. Sounds good.

[2017-11-23 02:36] 1sourcecontrol commented on #203
I agree with one exception, we should make the glossary a quick reference for any game terms, which would include "Opportunity Attack". So if the basic rules say the following, "An Opportunity Attack is a free attack that typically occurs as a reaction to an opponent moving away from melee combat or moving past you when you have a melee weapon drawn. Other abilities can grant you opportunity attac

[2017-11-23 02:38] 1sourcecontrol commented on #204
I'll take it

[2017-11-23 02:44] 1sourcecontrol commented on #207
I simply took "favored classes" to mean "Hey new player, if you want to take this class, then it will easily work well with the following xYZ classes!"

I am rather ambivalent towards keeping or removing the "favored classes" text. If you guys think it's better to remove it because "aesthetics" then I'm all for it. As far as I know, there aren't any rules limiting races to any given class. (Which

[2017-11-23 02:58] bleehu commented on #203
Can do. Fair warning though, at some point the definition of a term will change and it will get changed in the rules, but someone will forget to update the Glossary and we'll have a player catch a contradiction. Not the end of the world, but a very likely future pitfall.

[2017-11-23 03:03] Reveraine commented on #207
I feel like this would go very well in a 'new players' section. Something like "For those new to Compound X, we suggest starting with a Human or Security Droid Soldier (or whatever we decide on).

[2017-11-23 03:05] 1sourcecontrol commented on #209
I think we should either yank or homogenize our current implementation. Idk about the rest of everyone but I miss the DND aesthetic where I could speak Elvin and common, and it really came in handy sometimes if I was the only elvin speaking person. Or I could talk to another teammember without anyone understanding us.
But I think we could just homogenize the current implementation and give everybo

[2017-11-23 03:08] Reveraine commented on #209
There was some talk of having a Universal Translator of some sort. This way, for the most part it would be an aesthetic choice. Unless a DM specifically wanted send their players through a 'You UT broke, Does anyone speak Fish?' scenario.

I agree with not making it too complex. I think a universal translator analog helps keep the realism alive without adding complication for new players.

As far

[2017-11-23 03:10] Reveraine commented on #209
Also!
Programming languages are incredibly relevant. For Example: Do nanites all speak C++, or can you program some with Python? What is droid X written in and do you have the equipment to hack that?
This should be an incredibly simple language system, if we decide to use it, but it's a thought I've had.

[2017-11-23 03:48] 1sourcecontrol commented on #203
I think it's totally worth the risk of missing a change or two. Having a quick reference will make our game tons easier to play, rather than requiring players to either memorize the whole rules doc or skim the whole rules doc for one small fact.

Maybe we should include this note in the design guide? "When changing a term definition, make sure to update the glossary"

[2017-11-23 06:27] 1sourcecontrol commented on #165
I think, ideally, we'd have abilities arranged so that a medic/engineer won't ever have to pick unusable abilities. For example, if a medic/engineer has all organic with no robotic or all robotic with no organic allies (including, but not limited to, self).

![image](https://user-images.githubusercontent.com/2192156/33160604-94314ffa-cfd2-11e7-9994-8fe693dc4e2d.png)

1. So in this high quality pai

[2017-11-23 06:32] 1sourcecontrol commented on #165
Thoughts?

[2017-11-23 07:26] Turtlelord26 commented on #165
One thing we should be clear on is that Engineers don't have any organic-only abilities and Medics don't have any robotic-only abilities. What we have is a set of restricted-target party support abilities and a set of 'other' abilities in the two classes, with Engineers getting the robotic support and Medics getting the organic support. Engineers can build statics and drones and have a couple supp

[2017-11-23 08:38] 1sourcecontrol commented on #165
Good stuff. To be make things more clear, im talking about abilities that only affect certain _races_ (when I say "organic or cyborg only")

2nd paragraph, I agree.
3rd, yeah, that's what I'm hoping might come out of this discussion.
4th,  I don't think I understand the logic behind "no interconnectivity weakens build diversity in favorable party compositions." Can you expound on that?

[2017-11-23 08:48] Turtlelord26 commented on #165
Sure. Say I'm an Engineer and my party has a couple robots. With little or no interconnectivity (lower tree) I have to choose between taking support abilities and taking other abilities, assuming abilities get more powerful/interesting/versatile as we ascend the tree. With good interconnectivity (more like upper right tree), I can take either kind of ability at each level without forever living at

[2017-11-23 08:52] rosebrallier commented on #213
The second option feels the most streamlined (And easiest to balance
numerically). However, from a character creation perspective, I personally
like how choosing individual bonuses and malices lends itself to creating
PCs with great quirks and flaws.

On Wed, Nov 22, 2017 at 6:16 PM, Sarah Slater <notifications@github.com>
wrote:

--
Rose

[2017-11-25 06:21] bleehu commented on #209
Let's continue the design discussion here, and I'll make another issue ticket to track the work of yanking the current language system.
I had no idea you liked the DnD language system, Alex! I think I was under-valuing it before if that's the case.
I really like the idea of a Universal Translator. There are several ways we could take that. What if we sold it at a similar price to radios?

[2017-11-26 01:04] 1sourcecontrol commented on #207
Sounds good!

[2017-11-26 01:10] 1sourcecontrol commented on #209
There are definitely pros and cons to the DnD system, but the DnD system felt real to me. "I can't talk to that Elf because he only speaks elvish and I only speak common". Whereas, in CX, it appears we have a homogenized culture where almost everyone speaks common.

I forgot about the Universal Translator haha, what sounds good to you?
I like that idea about programming languages. Maybe we could h

[2017-11-26 01:16] bleehu opened #214 "Add Quotes In Glossary"
As 1Sourcecontrol mentioned, we should wrap references to Rules in other sections in quotes. Especially in the Glossary.

[2017-11-26 02:00] 1sourcecontrol commented on #168
What about when the Pistol Quickdraw feat says:

Does this solve the problem?

(Emphasis mine.)

[2017-11-26 03:59] #133 closed, assigned to trowl223

[2017-11-26 04:00] 1sourcecontrol commented on #213
I believe we chose a variation of the 3rd option. Close issue?

[2017-11-27 18:57] #168 closed, assigned to 1sourcecontrol

[2017-11-27 19:01] bleehu commented on #207
@1sourcecontrol , do you got it? Or should I assign it to Turtle or myself?

[2017-11-27 19:03] bleehu commented on #213
Variation on the 3rd issue settled on during executive meeting.

[2017-11-27 19:03] #213 closed, assigned to Reveraine

[2017-11-27 19:09] 1sourcecontrol commented on #207
turtle or you sounds good

[2017-11-27 19:16] #204 closed, assigned to 1sourcecontrol

[2017-11-27 19:42] Turtlelord26 opened #217 "Formalize Aiming"
We talk about aiming a lot but I think we're all working under a collective assumption of how that works. It might be advisable to formalize the combat state of "being aimed".

Probably something like:

Aim action becomes: Spend one action to gain the Aimed combat state against a target you can see within your weapon's longest range bracket.

New Combat State: Aimed (X), where X is the entity at w

[2017-11-27 19:45] bleehu commented on #217
If you have a question specifically for 1Source, go ahead and '@' him. @1sourcecontrol

[2017-11-27 21:05] 1sourcecontrol commented on #217
Yeah, I see your point. I never thought to formally define 'aim' because we use it with its typical meaning. And while I'd rather not add the complexity of defining it, defining (hopefully) removes ambiguity.

I suggest being careful not to gamify the term too much or we'll make it unintuitive.  In this instance, all I'd intend to do is describe how the game behaves like real life, only time is br

[2017-11-27 22:42] 1sourcecontrol commented on #191
Well, Rodger does have a higher stealth skill than my paladin Andreas......

I noticed that the name of this issue seems to be different than the ensuing conversation; although, I can't tell for sure if "stealth rules that don't exist" are talking about active cloaking or actual stealth rules. For reference, I significantly altered cloaking rules in the C2.0 merge.

[2017-11-27 22:48] Turtlelord26 commented on #191
A valid point. The issue results from the Chasing Kalihan run two weeks ago, where I was only looking at the play branch (and hence not c2.0). Name updated to reflect such.

[2017-11-28 19:10] Turtlelord26 opened #222 "New Player Guide Missing Sections"
Missing advisory sections on race, class, and background/skills. Pending scheduled, fundamental updates to all three areas.
- [ ] Added race advice
- [ ] Added class advice
- [ ] Added background and skills advice

[2017-11-28 19:19] bleehu commented on #222
Can we break this into three separate tix? For instance, only backgrounds and skills advice is blocked by waiting for the backgrounds system. Only Race Advice is blocked by new race updates (though my hunch is that the new races won't actually change the advice much). And they don't really depend heavily on each other.

[2017-11-28 19:28] bleehu commented on #217
What's interesting to me is that this is so fundamental, but doesn't seem to have come up as a problem. I wonder if that's because we keep explaining it verbally as common tribal knowledge, or if it is indeed intuitive?
I do strongly agree that one should be able to aim at things they can't necessarily hit. I also really like how Turtle formally defines how CQB weapons work at close range. This ha

[2017-11-28 19:36] 1sourcecontrol commented on #217
@bleehu , I've missed something.

Where is CQB defined?

[2017-11-28 19:40] bleehu commented on #217
Ah. I was confusing your recent pull with the potential for adding CQB language to new aiming rules.

[2017-11-28 19:42] 1sourcecontrol commented on #214
Although, if we choose to introduce formal indexing and a table of contents, then we can replace references with numbers.

Indexing such as the following:

======================
1 Combat

======================

===== 1.1 Ranged Combat =====

1.1.3 Weapon Jams:

[2017-11-28 19:45] Turtlelord26 commented on #222
It's not new races, it's race updates that are blocking advice. Specifically racial traits and choosing them.
Will separate issue shortly.

[2017-11-28 19:55] bleehu commented on #214
I love the idea of indexing. I love it hard. The only downside is that if we add a section in the middle, we have to update each number that follows it.

[2017-11-28 20:10] 1sourcecontrol commented on #214
We could increase each index by two? That would allow at least 1 change to be added. But really, we could do that when we think we're done with most major changes.

[2017-11-28 20:41] bleehu commented on #214
I think missing numbers would lead to more confusion. But I like the clever algorithm.

[2017-11-28 20:46] 1sourcecontrol opened #223 "Redesign Classes"
Until/In lieu of an actual meeting, I've started working on a proposal for class redesign and I want to stir up some discussion. (And to cover my bases: I've put a foot forward on the other (workable) dev priorities above this.) Sorry about the wall of text:

We've been discussing having base classes and a bunch of sub-classes based off of the original classes.
In my opinion, big issues immediatel

[2017-11-28 20:47] 1sourcecontrol commented on #214
I hadn't thought of that. Fair enough, haha!

[2017-11-28 20:56] 1sourcecontrol opened #224 "Add distance limit to prone"
As mentioned in #166 , add a distance limit for defensive bonuses while prone. I think the bonus should still be given to crouch at any distance, since you are a smaller target.

[2017-11-28 22:16] #224 closed, assigned to 1sourcecontrol

[2017-11-29 21:03] 1sourcecontrol opened #228 "Nanites in Medic Procedures"
If you open up the "procedures" doc and search for "nanites" you will find 5 instances.
I believe these need to be removed?

[2017-11-29 21:25] bleehu commented on #228
I have a half-finished branch with this work on my local, haven't found the time to wrap that up yet.

[2017-11-29 23:00] Turtlelord26 opened #230 "New Player Guide Missing Section: Species"
Pending Racial Reworks.

[2017-11-29 23:00] Turtlelord26 opened #231 "New Player Guide Missing Section: Classes"
Pending class system rework.

[2017-11-29 23:01] Turtlelord26 opened #232 "New Player Guide Missing Section: Background & Skills"
Pending Background system implementation and corresponding skills update.

[2017-11-29 23:01] #222 closed, assigned to nobody

[2017-11-29 23:10] #174 closed, assigned to 1sourcecontrol, Turtlelord26

[2017-11-30 01:17] #207 closed, assigned to Turtlelord26

[2017-12-04 03:23] bleehu opened #233 "Races should list Anatomy"
As we accrue more and more fun alien races, we should add an anatomy section to each race in the races document that describes the physical appearance of each of the species. Probably a job for aesthetic/lore team? Not a high priority, but raising an issue here to track the work.

[2017-12-04 03:54] bleehu opened #234 "Quality Check Medic 2.0"
There are some concerns about the balance of Medic 2.0. Leaving myself a note to do the work, and a request for @Turtlelord26 who is currently playing the class and @Wildlovelies our head tester requesting peer review on balance of the powers and player choices involved.

[2017-12-04 03:58] bleehu commented on #201
Work written in PR #205, unassigning myself so I can better triage what issues need new PRs. I'll close this issue when 205 is merged.

[2017-12-04 04:06] bleehu commented on #214
work done, PR in review. will close when merged. unassigning myself so I can tell which of my 33 assigned issues still need work...

[2017-12-04 04:13] bleehu commented on #228
Handled in PR #202 Will close on merge.

[2017-12-04 04:21] bleehu commented on #223
**Proposal 1)** I like setting the average character branch to be a binary choice. I think that gives us a good balance between nuking player choice and reducing the number of classes we need late-game content for.
**Proposal 2)** I like giving the players more bonuses for leveling up. We need to be careful not to overshoot it though.
**Proposal 3)** Please keep soldier. I only care a little bit w

[2017-12-04 04:24] bleehu commented on #206
Fixed in PR #211

[2017-12-04 04:24] #206 closed, assigned to bleehu

[2017-12-04 04:26] bleehu commented on #198
I think I lean toward calling both 'strength'

[2017-12-04 04:28] bleehu commented on #112
This is less of an issue, more of a fully-scoped project. It has been documented in the Prioritized Projects document in cxDesign. I'm going to close this ticket for now. When we kick off the Power Armor Project again, I'll make a bunch more small tickets that capture one- or two- sprint chunks of work to actually track progress that can be divided up.

[2017-12-04 04:28] #112 closed, assigned to 1sourcecontrol, bleehu

[2017-12-04 04:49] Turtlelord26 commented on #198
I stand outvoted. Let it be so.

[2017-12-04 04:51] bleehu commented on #198
@1sourcecontrol would you mind doing the work for this?

[2017-12-04 05:12] bleehu opened #236 "Stylize New Player Walkthrough"
To display the New Player Walk through with the new Parser, we need to bring the new player walkthrough doc into style compliance. It's gonna be boring, but shouldn't take long. Do you mind taking care of it, @Turtlelord26 ?

[2017-12-04 05:18] bleehu opened #237 "Stylize Feats"
While 1SourceControl did a lot of work on the Feats document already, there is still some cleanup left to do. In particular, I'd like the names of the feats to be a topic at least. I'm hoping to be able to add a table of contents. Paragraphs need indenting as well.

[2017-12-04 05:20] bleehu opened #238 "Remove Copywrite notice from the bottom of each file"
This is making the parser choke, and I don't think we need it on every file? Also, since this isn't technically 'software' I'm actually not sure this notice ever held any water whatsoever.

[2017-12-04 05:25] bleehu commented on #237
Some feats are displaying inconsistently.
![screenshot from 2017-12-03 21-24-54](https://user-images.githubusercontent.com/13957025/33537479-88ffdbfa-d870-11e7-85aa-5a75a1c8d796.png)

[2017-12-04 05:26] bleehu commented on #237
And the Acquired:blah feats need descriptions. Right now the parser thinks that they are supposed to be a stat block.
![screenshot from 2017-12-03 21-25-10](https://user-images.githubusercontent.com/13957025/33537519-9eaf9544-d870-11e7-81dc-70a2948efe43.png)

[2017-12-04 05:29] bleehu opened #239 "Styleize Engineering Processes"
Because it needs to be good style.

[2017-12-04 06:27] Turtlelord26 commented on #234
I think you have me confused with someone else. I have a pilot and an engineer.

[2017-12-04 06:49] Turtlelord26 commented on #223
re 4) I was intending to include a subclass of GravTech with a short-range tanking focus. Is that close enough to satisfy your desire for Adept?
Alternatively, I suppose I could see it as a subclass that gets minor access to tech abilities and shares a base class with vanilla soldier. But what do we give vanilla soldier besides exclusive access to battle rifles?

[2017-12-04 22:20] 1sourcecontrol commented on #233
Woop woop!

[2017-12-04 22:21] 1sourcecontrol commented on #238
Frankly, I don't know the details of how the 'free copyright' even works. I'll take it

[2017-12-04 22:37] 1sourcecontrol commented on #176
Alrighty, so @bleehu discussed this after I wrote the post.

My vote is for a conversion for Nanites as a Secondary stat under PER and INT.
If anyone comes up with another argument for balance on either the Nanites as a secondary stat vs Nanites as a class primary stat, lemee know.

Regardless, things need to get tested for us to see the balance.

Leaving this issue open until we can test and arri

[2017-12-04 22:44] bleehu commented on #238
Thanks for adjusting the labels correctly! :D

[2017-12-04 22:46] 1sourcecontrol commented on #238
I try! haha

[2017-12-04 23:32] bleehu commented on #234
Oh. I guess since you were raising issues I thought you were playing one. My bad. Will confer with another player.

[2017-12-04 23:33] bleehu commented on #233
We may need a dev to pair up with the Lore team for this one. I hear they have a rough draft in docs for it.

[2017-12-05 00:12] Turtlelord26 commented on #234
All of the issues were base Engineer, Medic became involved due to the similarity of their ability trees.

[2017-12-05 16:59] 1sourcecontrol opened #242 "Things labeled "Medic" should be called "Doctor""
At the very least, the 3 files in the class-documentation folder are not named correctly.

[2017-12-05 19:00] 1sourcecontrol opened #243 "C2.0 weapon & armor systems"
I may be jumping the gun a little, but I still have large concerns with how I implemented weapons and armor in C2.0. They are quite realistic and thus, quite complex.

Our current implementation:
- Semi auto - full damage with 1 shot fired
- Burst - full damage with 3 shots fired with a moderate miss chance penalty. Consumes 3 ammo.
- Auto - full damage with 5/6+ shots fired with a large miss chan

[2017-12-06 00:46] bleehu commented on #242
Please see PR #202

[2017-12-07 02:17] 1sourcecontrol commented on #243
I had another thought! Hopefully a stroke of genius?
Implementation 3:
- Always 100% armor coverage. (prevents players from getting one-shot/prevents us from having to make jenky rules to prevent one-shots)
- Weaker armor rigs (like light and recon) or armor rigs with only a chest rig will always allow a certain amount of damage through armor.
 - Keep Armor Piercing Level (APL)
- Keep Armor Points

[2017-12-07 18:33] 1sourcecontrol commented on #243
I apologize for making more to read. But this is basically a TL;DR in the hopes that I can bring more clarity to all these details.

To compare the (what I consider) best ideas, I tried to contrast them.
Before we get to that, they fundamentally have:
- No rules needed for armor coverage. No edge cases introduced by armor coverage.

### Redesign 2

Weapons
- 2 contextual dmgs per weapon

Armor
- P

[2017-12-08 16:57] #238 closed, assigned to 1sourcecontrol

[2017-12-08 18:11] 1sourcecontrol commented on #203
Merged in #216

Closing and continuing discussion in another issue.

[2017-12-08 18:11] #203 closed, assigned to nobody

[2017-12-08 18:31] 1sourcecontrol commented on #223
@Turtlelord26
re __4)__ I forgot to mention Paladin in my first post. I would think Paladin (under a different name) would fulfill the short-range tanking roll. Otherwise we need somewhere to put Paladin or remove it.
I was hoping adept would be a damage-output hybrid between a soldier and tech class.
I think your alternative is a good idea for adept. I think vanilla soldier would have a lot of fo

[2017-12-08 18:34] 1sourcecontrol commented on #192
Leaving this open because work is 'under way'

[2017-12-08 18:45] 1sourcecontrol commented on #189
Depending on how #243 is resolved, this issue might go away.

[2017-12-08 18:58] 1sourcecontrol opened #247 "Styledguide Conformity w/ "Description" & newlines"
#244
@bleehu and I need to discuss:
-  Removing/homogenizing "Description:" & "Description/Notes:"
- How do we handle newlines at the end of a stat block? (Multiple lines after a stat declaration?)

[2017-12-08 20:08] #237 closed, assigned to 1sourcecontrol

[2017-12-08 22:29] 1sourcecontrol opened #249 "Min/Max penalties too strong?"
When I recently made a new character, I considered putting a 1 in a stat. I wanted a more challenging character. However, when I looked over the list of stats, I felt that STR/PER/CHA penalties are too strong. If the penalties are too strong, hardly anyone will consider it an option because it isn't much fun to play the game as a vegetable --the penalties effectively bar usage.
Here is the current

[2017-12-11 22:04] bleehu commented on #247
Is this an issue with Compound X or an issue with our styleguide? If it's the latter, lets break this into two separate issues on the design repo, that way we can stay focused on each of the two goals.

[2017-12-11 22:09] bleehu commented on #249
I recommend not making any of these changes. Heavily penalizing min-maxing is good for the way Player Characters interact with each other.

[2017-12-11 22:35] 1sourcecontrol opened #251 "Buzzed/Hammered"
These descriptions in the basic rules need to be updated to C2.0 d10 miss chance.
Also, there is inconstant use of miss chance/accuracy in buzzed and hammered. To be consistent, making a reference to a weapon's "miss chance" stat should be called "miss chance"

[2017-12-11 22:47] #201 closed, assigned to bleehu

[2017-12-12 00:14] 1sourcecontrol commented on #249
@bleehu can you expound on how "Heavily penalizing min-maxing is good for ..."?

If it is any help, I will expound on my reasoning, below.

I believe min-maxing should be penalized more heavily than a given stat already does (hence my edits above). However, (as in the discussion of #114) if a stat is extremely penalized when it is at 1: "if the characters are forced to be in some smaller range, wh

[2017-12-12 00:21] 1sourcecontrol commented on #247
Uh, well, I think it's both?.. We need to know how to properly style so that we can know how to proceed with editing CX text docs.

[2017-12-12 05:48] Turtlelord26 commented on #249
What I'm reading here is that you think that the given penalties for the most extreme min-max we allow are too harsh and actively inhibit gameplay in ways that aren't fun. Since a lot of what we've been doing has been focusing on making things not un-fun, this is a reasonable stance.

However:

In the particular case of primary character attributes, a few notable factors apply.
First, simply trans

[2017-12-12 19:22] 1sourcecontrol commented on #249
Good points. I appreciate the insights.

1. On the first point, correct me if I'm wrong, but it sounds like you are emphasizing realism in the stat system? A while ago, trowl223 mentioned the design of a stat at '0' being a disability/severe impairment whereas a '1' is 'moderate' impairment. I think what trowl223 said may be reasonable because having the full possibility space, where you can play

[2017-12-13 00:32] Reveraine opened #253 "Creature/Character Sizes"
As I'm going through the race rework, I've noticed we don't have rules pertaining to sizes, even though sizes exist.
It is my opinion that size should not affect combat, for fear of making it too complex, but rather influence puzzles, traverse-able spaces, and role-playing(perhaps intimidate/persuade).

So far, we have:
Small: 3'5"-5". 85-130lbs
Medium: 5'1"-6'2". 110-230?lbs
Large: 6'3"-7'5". 180

[2017-12-13 02:03] 1sourcecontrol commented on #253
Sounds interesting! I like the idea of introducing a standard for the body sizes w/ body weights.

I think it would be fair to add some encumbrance rules. I hope that they would be quite easy to gauge, to keep the complexity down. Maybe a formula like 20*STR = weight lifted in pounds for 5 turns. I think it might be ill-advised to make encumbrance a function of character weight, or min-maxers like

[2017-12-13 02:08] Reveraine commented on #253
@1sourcecontrol

I thought of min/maxers as well, though I did not have a solution.

Yes. I don't mind converting them before they go into the rules, but as I conceptualize things it's easier for me to write them in Imperial.

[2017-12-13 17:25] bleehu commented on #253
I kinda like the potential for restrictions on "if you carry Sir Andres for 4 turns, you are now exhausted and he has to use his actions to move himself." While fun, that particular scenario felt pretty gamey to me.

Rev and I talked IRL about the potential complexity bloom here around the mechanical side of this feature and I wanted to capture some of that here. It would be awesome if we could su

[2017-12-13 21:59] #251 closed, assigned to bleehu

[2017-12-13 22:12] 1sourcecontrol commented on #253
Side note on this, CX could use some physical description of CX's robot races. I.e., do the robots use hydraulic cylinders, electric-muscle fibers, or electric motors? From the technology I run into in my job, electric motors or hydraulic cylinders do not get 'tired' or 'exhausted'. Depending on the design, a robotic arm can hold that weight indefinitely as the other axes of the robot move around.

[2017-12-13 22:35] 1sourcecontrol commented on #253
Oh, and on the other thing you talked about @bleehu:

It would be a low-development-cost addition to make racial traits/characteristics that emphasize different race dimensions. For example, maybe purchasing armor costs 10% more due to the need to customize armor shape for an Opalite due to their fish-bodehs. Or perhaps the race has a bonus to be hit due to the race's large size (like a large rock

[2017-12-13 23:27] 1sourcecontrol opened #254 "Misc additions to the Glossary"
Hard Point, Shield Upkeep, Shield Strength and Armor Strength need to be added to the Glossary. (These are all explained in the armor doc and/or basic rules doc.)

[2017-12-15 17:25] bleehu commented on #217
So do we greenlight this? Or send it to testing?

[2017-12-15 17:45] 1sourcecontrol commented on #217
@bleehu  I'd say, greenlight.

Related question: I don't understand. How do we 'send it to testing' before the rules exist?

[2017-12-15 23:51] bleehu commented on #217
What we would test is the existing interpretation of someone who hasn't played yet before to see if it is intuitive, but let's greenlight it.

[2017-12-20 15:46] bleehu commented on #239
Merged in PR #257

[2017-12-20 15:46] #239 closed, assigned to bleehu

[2017-12-20 16:48] #247 closed, assigned to 1sourcecontrol, bleehu

[2017-12-20 17:05] #214 closed, assigned to nobody

[2017-12-27 21:19] bleehu opened #259 "Temporarily remove languages from races document"
The existing language system is woefully uncoordinated. Rev is spearheading work on a much more cohesive system, but in the meantime we should yank the existing system.

[2017-12-27 21:19] bleehu commented on #232
Assigned to Hulking Possum when we are done onboarding him.

[2017-12-27 21:22] bleehu commented on #209
Let's spin the programming languages talk off into another forum (maybe in the design repo?) and keep this one about spoken/written languages specifically. @Reveraine has some really good work on Tundari language.

Does anyone have any problem with universal translators being a cell-phone sized device available for purchase at level 1?

[2017-12-27 21:23] bleehu commented on #181
@Reveraine any luck?

[2017-12-28 23:30] bleehu opened #262 "Replace Nanite Restore Doctor Procedure"
The existing nanite restore ability is out of aesthetic with the rest of what the doctor can do and needs to be replaced with a more appropriate ability.

[2017-12-29 00:59] Turtlelord26 opened #264 "Need New Doctor Attack Procedure To Replace Pasteurize"
Pasteurize exists as a node in the tree, just above Harmacist Spike, but has no entry in the descriptions document.

[2017-12-29 01:00] Turtlelord26 opened #265 "Adrenaline Rush needs update to new action terminology."
Currently gives a movement speed in distance per action, should be distance per two actions.

[2017-12-29 01:04] bleehu commented on #264
Needs to be replaced by a new attack power; pasteurize as it was written is out of aesthetic.

[2017-12-30 02:52] #259 closed, assigned to Turtlelord26, Reveraine

[2017-12-30 02:55] #236 closed, assigned to Turtlelord26

[2018-01-01 20:26] Reveraine opened #269 "Gripe - Secondary Stat Info"
The paragraphs in basic rules describing how secondary stats work (line 169) and what they do (line 344) are unclear due to the separation. This becomes a problem when understanding armor movement speed.

[2018-01-01 20:28] Reveraine opened #270 "Gripe - Skills"
Skills missing from the static list:
Jerry-Rig
Explosives

[2018-01-01 20:30] Reveraine opened #271 "Gripe - Raider's Revolver"
Fix Raider's Revolver

[2018-01-01 20:30] Reveraine opened #272 "Gripe - Pirate Armor"
Fix Pirate Armor

[2018-01-01 21:52] Reveraine opened #273 "Sound Definitions"
Instead of having semi-abritrary numbers/ stealth penalties for noises. I propose we have a set list of noises with standard penalties.

Eg:
Silent
Near Silent
Loud
Cacophonous

[2018-01-01 21:55] Reveraine opened #274 "Gripes - Needed for Dev Meeting"
Rolling d10's vs 2d10's.
How weapon skill feats work with the new system.
Having decimals for feats and attachments rather than combinations with whole numbers.

[2018-01-01 22:15] Reveraine opened #275 "Racial Rework - Droid Coolant Rods"
Assign mechanical beings coolant rods. Semi-equivalent to eating as far as cost.

[2018-01-01 23:46] Reveraine opened #276 "Gripes - Armor Rules Order"
It makes more sense to have armor rigs listed first, as they must be chosen before armor materials.

[2018-01-02 00:29] Reveraine opened #277 "Gripe - Missing Hazmat suits"
Hazmat suits are not available in basic item lists.

[2018-01-02 01:49] Reveraine opened #278 "Gripes - 3D ships"
Michael needs to print 3D ships. So sayeth the DM.

[2018-01-02 02:22] Reveraine opened #279 "Gripes - Space gun rules"
No rules for space vehicle guns jamming.

[2018-01-02 02:29] Reveraine opened #280 "Gripes - Status Effects"
It would be nice to have effects in their own document, separate from the basic rules. To be referred to often and easily.

[2018-01-02 18:33] Turtlelord26 opened #283 "Racial Traits are Inconsistently Styled"
Tundari racial traits are formatted as Topics with paragraphs, while Security Drone traits are formatted as a stat block, Cyborgs use Subsections, and Opaleites have a hybridized list-and-paragraph.

Tldr, We should keep an eye out for the best style to apply to all racial trait sections as we move forward with making those.

[2018-01-02 19:37] bleehu commented on #279
Moving this to the CX_Space_Combat repo.

[2018-01-02 19:37] #279 closed, assigned to nobody

[2018-01-02 20:52] #277 closed, assigned to bleehu

[2018-01-03 22:57] Reveraine opened #290 "Weakness To Poison Mechanics"
https://github.com/bleehu/Compound_X/blob/08c546897515dab2a3543e1eafc554be727aba25/CharacterCreation/01_03_Races_Tundari#L44

Weakness to Poison/Contagions needs to be added here by a balancer.

[2018-01-04 18:52] Turtlelord26 commented on #290
I could see doing any of
1. Roll poison and contagion related saves with disadvantage
2. Take a flat penalty to such saves
3. Take a penalty to initial infection saves but not to subsequent recovery saves.

My personal favorite of these at the moment is combining 1 and 3. I particularly like 3 because it communicates the feeling and experience of increased poisonability but doesn't necessarily app

[2018-01-04 20:06] bleehu commented on #290
I concur with Turtle's analysis. I think you're developing a good instinct on what is fun and what isn't. =)

[2018-01-05 07:17] Turtlelord26 commented on #273
I love the potential for systematically differentiating between failing a stealth check and failing a stealth check *miserably*.

Also simplifies silencers enormously as they can just drop a weapon's sound category to the next quieter.

👍 👍

[2018-01-05 19:06] rosebrallier commented on #273
This is a great idea!

On Jan 4, 2018 11:17 PM, "James Talbott" <notifications@github.com> wrote:

I love the potential for systematically differentiating between failing a
stealth check and failing a stealth check *miserably*.

Also simplifies silencers enormously as they can just drop a weapon's sound
category to the next quieter.

👍 👍

—
You are receiving this because you are subscribed to this

[2018-01-06 08:24] bleehu opened #295 "Race Document File Structure"
In Rev's recent pull containing the new Tundari work, she split the new class out into a sub-file. We need to either split the rest of the classes out into their own files and delete the redundancies in the original file
or
merge the work in the new file into the original races document.

The solutions are pretty much equal from a performance perspective. I have a slight preference for using all t

[2018-01-06 08:25] bleehu opened #296 "Feature Request: Opalite Language"
Rev did a fantastic job on Tundari Language. Could we do something similar for Opalites?

[2018-01-06 08:25] bleehu opened #297 "Feature Request: Opalite Naming"
Rev did a fantastic job with Tundari Naming conventions. Could we add a similar section for Opalites?

[2018-01-06 08:29] bleehu opened #298 "Feature Request: Human Homeworld Section"
As we are adding cool new stuff to our cool new races, could we backfill some flavor for the old races to maintain equivalence? Specifically, could we add a blurb about the Human Homeworld similar to the sections we've added on the Opalite and Tundari homeworlds?

[2018-01-06 08:30] bleehu commented on #298
Assigning to Rev for now. Feel free to send it to Shrub or Rose if Rev is bogged down.

[2018-01-06 08:36] bleehu opened #299 "Feature Request: Human Anatomy Section"
As we add sections to all of the other races, we need to add them to our old races as well. The human anatomy section was removed when other races didn't have it, and can be read here:

https://github.com/bleehu/Compound_X/commit/2ddbf9c9b5b9f57fe44567339bfecb76da2acd44#diff-a8027b88613a07d27580128bbc66eac4R8

Some really good emersion can be built by writing the new anatomy section as if from the

[2018-01-06 08:36] bleehu commented on #299
assigning to Rev because she's already working on similar stuff, but feel free to reassign because I think Rev is overloaded for the next few sprints.

[2018-01-06 08:37] bleehu commented on #127
Level 10 attachments were added with combat 2.0

[2018-01-06 08:37] #127 closed, assigned to nobody

[2018-01-06 08:38] bleehu commented on #124
Level 10 armor was added in Combat 2.0

[2018-01-06 08:38] #124 closed, assigned to nobody

[2018-01-06 08:40] bleehu commented on #126
Level 10 weapon attachments were added in combat 2.0

[2018-01-06 08:40] #126 closed, assigned to nobody

[2018-01-06 08:40] Reveraine commented on #298
So this is all happening one at a time. They are already being included in the race rework, for all of the related issues. They don't need to be backfilled, as such because they won't get merged to play until they're all done. So, use the old rae documents until all the new ones are up.

[2018-01-06 08:43] bleehu commented on #298
You don't think it's easier to break the work up into smaller chunks that fit into a sprint better and get reviewed separately?

[2018-01-06 08:43] bleehu commented on #191
@Turtlelord26, has this been adequately answered in the combat 2.0 stealth rules in RC?

[2018-01-06 08:46] bleehu commented on #186
I think the two offer a good difference in kind. Closing stale issue.

[2018-01-06 08:46] #186 closed, assigned to Wildlovelies

[2018-01-06 08:46] Reveraine commented on #298
I don't think so, no, but I'm also not the one doing the reviewing.

[2018-01-06 08:49] bleehu commented on #253
It seems to me that this thread is showing up in the new races work that @Reveraine and Rose are doing. Can we close this? Was the question answered?

[2018-01-06 08:50] bleehu commented on #129
level 10 sights added in combat 2.0

[2018-01-06 08:50] #129 closed, assigned to nobody

[2018-01-06 08:50] bleehu commented on #128
level 10 attachments added in combat 2.0

[2018-01-06 08:50] #128 closed, assigned to nobody

[2018-01-06 08:53] bleehu commented on #130
I think I found it! https://www.urbandictionary.com/define.php?term=vorpal

It would be nice to add Gluon and shredder rounds to level 10 weapon rounds.

[2018-01-06 08:54] Reveraine commented on #253
The question was answered, but we still need the rules written. We've been putting sizes in, but don't actually have a definition for what they mean. That is something that doesn't have to be determined by me, necessarily.

[2018-01-06 09:01] bleehu commented on #166
I believe Pull #225 fixed this issue.

[2018-01-06 09:01] #166 closed, assigned to nobody

[2018-01-06 09:05] bleehu opened #300 "Armor terms to Glossary"
add Hard Point, Shield Upkeep, Shield Strength and Armor Strength to the Glossary

[2018-01-06 09:06] bleehu commented on #198
Fixed

[2018-01-06 09:06] #198 closed, assigned to 1sourcecontrol

[2018-01-06 09:06] #242 closed, assigned to bleehu

[2018-01-06 19:01] Turtlelord26 commented on #191
@bleehu No. We do have what looks like functional stealth now, which is good, but I still want to propose an additional feature or two. It hasn't been addressed yet due to the low priority assigned it at the last dev meeting.

[2018-01-11 17:56] #300 closed, assigned to bleehu

[2018-01-11 17:57] #280 closed, assigned to bleehu

[2018-01-11 17:59] bleehu commented on #272
![screenshot from 2018-01-11 09-58-31](https://user-images.githubusercontent.com/13957025/34839302-083ed69c-f6b6-11e7-8d53-2817dd7ca35b.png)

[2018-01-11 17:59] #272 closed, assigned to bleehu

[2018-01-11 18:10] bleehu commented on #265
I think the adrenaline rush in dev is as 1sourcecontrol wanted it. It says it increases movement speed, which is the number of meters moved per 2 actions as written. @Turtlelord26 I think we can leave it. What do you think?

[2018-01-11 18:13] bleehu commented on #271
![screenshot from 2018-01-11 10-13-23](https://user-images.githubusercontent.com/13957025/34839897-163494a6-f6b8-11e7-91e8-107d85a78734.png)

[2018-01-11 18:13] #271 closed, assigned to bleehu

[2018-01-11 18:16] #290 closed, assigned to 1sourcecontrol, bleehu, Turtlelord26

[2018-01-11 19:36] Turtlelord26 commented on #265
In dev currently, from https://github.com/bleehu/Compound_X/blob/dev/CharacterCreation/03_Feats.txt:

        Adrenaline Rush [4*X Nanites]:
        Prerequisites: None
        	During a move action, +1 movement speed per X (up to a max of +10 movement),
        for that action only. This feat can only be used once per turn.
        Adrenaline Rush can be taken again to reduce the Nanite cost to 2

[2018-01-11 19:37] bleehu commented on #265
I don't see that as a problem. If you want to move one more meter in one action, you pay 8 nanites and add 2m to your move speed.

[2018-01-11 19:42] Turtlelord26 commented on #265
I would be satisfied if we flagged the numbers specifically for attention to the testing dept.

[2018-01-11 22:48] bleehu commented on #278
![thumbnail_20180111_144319_resized](https://user-images.githubusercontent.com/13957025/34851333-6e02ab3e-f6de-11e7-8a7a-df40eae7ea66.jpg)
It's coming!

[2018-01-13 23:23] Masterdiekillsu commented on #96
@bleehu if we make some items, how would you like us to handle and store them? Like where should we make our lists, and how would you like us to upload them?

[2018-01-13 23:43] bleehu commented on #96
Make a pull request to the dev branch with an updated items file. Turtle can help

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Masterdiekillsu <notifications@github.com>
Date: 1/13/18 3:24 PM (GMT-08:00)
To: bleehu/Compound_X <Compound_X@noreply.github.com>
Cc: bleehu <bleehu@uw.edu>, Mention <mention@noreply.github.com>
Subject: Re: [bleehu/Compound_X

[2018-01-15 01:21] Turtlelord26 commented on #232
Classifying unblocked as of #268

[2018-01-15 01:22] Turtlelord26 commented on #232
Well, the skills part anyway.

[2018-01-15 18:37] 1sourcecontrol commented on #265
Oops, I tried to write that clearly. Mistakes happen. I meant it to say, "You can gain up to +10 meters of movement for one action (essentially +20 Dex for one action of movement) if that action consists of movement and you spend 10*4 Nanites"

Does that clear up the ambiguity?

[2018-01-15 18:41] 1sourcecontrol commented on #269
I'm not sure how to solve this and not rabbit trail the writing. @Reveraine would it be enough to add a reference to where the "what they do (line 344)" is?

Open to suggestions.

[2018-01-15 18:43] 1sourcecontrol commented on #274
Someone will have to fill me in on these details, since I'll be missing the dev meeting.

plez

[2018-01-15 18:47] 1sourcecontrol commented on #249
@bleehu are you intending to make a reply to this when you get a chance?

Your vague reply is frustrating when I put in a good effort to make a detailed discussion of thought.
But if you are intending to reply but don't have the time due to other pressing issues, all is well.

[2018-01-15 18:50] Turtlelord26 commented on #265
I wasn't ever unsure of what you were trying to do, I was questioning the power (and thought that the power could have been the result of a typo, and thus appropriate to bring up in dev branch discussion). The average PC, but with this feat, moving 16 meters in the same time it takes to aim a gun at a target just seemed ... implausible.

[2018-01-15 18:52] 1sourcecontrol commented on #273
Sounds good to me! Would the plan be to add vague-ish numbers to this? I.e.,

 A "Loud" sound can be easily heard by anyone within 30m

Because I'd be down for both categorized and somewhat technical

[2018-01-15 18:56] 1sourcecontrol commented on #243
Is this too low on the priority list? I'm chomping at the bit to hear back.
_Heh, I'll probably hear back after ya'll use C2.0 combat. Hopefully it doesn't have too many rough edges_

[2018-01-15 19:01] Turtlelord26 commented on #273
I think we're looking more at direct skill DC modifiers more than ranges at which they apply? Ranges on awareness check should have their own, separately described effects on DCs.

[2018-01-15 19:08] 1sourcecontrol commented on #265
Ah, I see now.
Our timings are certainly implausible already. Moving 10m in the time it takes me to pull the trigger twice, is silly. Firing 2x taking 2 seconds, grenades blowing up immediately after being thrown in under 1 second, people dodging grenades in less time than it took for the grenade to travel and explode... I'm sure you can name plenty more than I can.
My point is that implausibility

[2018-01-16 21:06] bleehu commented on #243
Didn't mean for this to get so stale. You predicted my response pretty well; I'm nervous about changing anything further until we do some tests.

The added complexity of now having two damages to weapons for redesign 2 makes me very uneasy. Weapons are already cumbersomely complex as they are. I'm still re-reading all of this literature on redesign 3 to try to understand it.

Also thought you didn

[2018-01-16 21:19] bleehu commented on #249
Indeed I was planning on making a much more detailed reply. I apologize that it took me this long to get to it.
Before I continue, can I ask for some clarification? If I'm reading this right, it seems to me the root cause of the issue is that the penalties for minimizing PER and STR (and maybe a couple of others) are entangled with other stats.
That root problem is causing the symptom that penalti

[2018-01-16 21:20] bleehu commented on #274
That dev meeting will likely wait for you, since it specifically has to do with confusion around playing C2.0 as written.

[2018-01-16 21:27] bleehu commented on #269
Rev may not know; she was the designated "griper" for the play session. So any time there was a problem, she wrote it down.

Maybe a reference at the bottom of the section from line 169 to the section in line 344 would work?

[2018-01-16 21:31] bleehu commented on #265
I think it'll get plenty of testing in our next session; several players have the feat. I'm not _too_ worried about it. I predict it might need a slight tweak if anything. But these kind of predictions before testing is the quickest way to insert one's foot adjacent to one's tonsils. ;)

[2018-01-17 18:24] 1sourcecontrol commented on #274
Oh, okay. Hopefully we can do that soon.